<div class="confirm" data-zs-modal data-ng-init="title='Bevestigen'">
	<div class="confirm-label">
		<[confirmLabel]>
	</div>
	<div class="confirm-actions">
		<button type="button" class="confirm-action-button confirm-action-button-ok button button-primary" data-ng-click="ok($event)">
			<[confirmVerb]>
		</button>
		<button type="button" class="confirm-action-button confirm-action-button-cancel button button-secondary" data-ng-click="cancel()">
			Annuleren
		</button>
	</div>
</div>
