.sysin-links.block-inner-scroll {
	top: 130px;
}

.block.sysin-links{
	margin-bottom:0;
}

.sysin-links-content {
	padding: 0 !important;
}

.sysin-links-list {
	width: 240px;
	padding:5px 0;
	border-right:3px solid #ddd;
	> ul {
		list-style: none;
		padding: 0;
	}
}

.sysin-links-list-item {
	width: 100%;
	position: relative;
	&:hover {
		background-color: lighten(#dfe975,20%);
	}
	> button {
		background: none;
		width: 100%;
		text-align: left;
		padding: 0 30px 0 12px;
		line-height: 32px;
	}
	.action-bar-button a {
		display: block;
		color: inherit;
		text-decoration: none;
	}
}

.sysin-links-list-item-active > button {
	background-color: #dfe975;
}

.sysin-links-detail {
	padding: 0;
	left:243px;
	right:0;
	& > div{
		padding:0 15px 15px;
	}
	.form-action-submit {
		display: none;
	}
}

.sysin-links-list-item-action-wrapper {
	position: absolute;
	top: 0;
	right: 0;
}

.sysin-links-list-item-error {
	display: inline-block;
}

.sysin-links-list-item-actions {
	display: inline-block;
	.action-bar-dropdown-menu{
		min-width:180px;
	}
	ul {
		left: auto;
		right: 0;
	}
}

.sysin-links-list-item-actions-open {
	line-height: 32px;
	padding: 0 8px;
	background: none;
	opacity: 0.25;
	color: #999;
	&:hover {
		color: #666;
	}
}

.sysin-links-list-item:hover .sysin-links-list-item-actions-open {
	opacity: 1;	
}

.sysin-links-list-item-button{
	font-size:1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sysin-links-list-item-error .icon-warning-sign{
	color:darken(red,5%);
}

form[name="manual-process"]{
	.form-field-label{
		display: none;
	}
}