@import './../../../../../shared/styles/variables';

.case-navigation-list{
	padding:6px 0 1rem;
	margin:0;
}

.case-navigation-list-item {
	font-size: 1.05rem;
	font-weight: 400;
}

.case-navigation-link {
	padding: 0.667rem 0;
	color: $dark-grey;
	align-items: center;
	display: flex;
	border-radius:$border-radius;
	position: relative;

}

.case-navigation-link-label,
.case-navigation-link-icon,
.case-summary-list-item-link,
.case-summary-list-item-icon {
	line-height: 1.6rem;
}

.case-navigation-link-label{
	margin-left:0.467rem;
	opacity:1;
	display: inline-flex;
}

.case-navigation-link {
	&:hover[href]:not([href=""]),
	&:active[href]:not([href=""]),
	&:focus[href]:not([href=""]){
		color: $primary-color;
		background:lighten($light-grey,5%);
		outline-width: 0;
	}
}

.case-navigation-list-item.selected {
	> .case-navigation-link,
	> .case-navigation-link:hover {
		color: $primary-color;
		font-weight: 500;
		background:lighten($light-grey,2%);
	}
}

.case-navigation-link-icon {
	padding:0 1rem;
	font-size: 1.5rem;
}

.case-navigation-link-count {
	position: absolute;
	right: 0.533rem;
	top: 0.533rem;
}

.case-navigation-list-item-children {
	padding: 0.333rem 0;
}

.case-navigation-list-item-child {
	font-size: 1rem;
	font-weight: 300;
	padding: 0.333rem 0 0.333rem 1rem;
	.case-navigation-link-icon {
		padding-left: .667rem;
		font-size: 1.4rem;
	}
	&.selected {
		background-color: $light-grey;
	}
}
