    <div data-ng-show="confirmedAppointmentDate&&confirmedAppointmentTime">
        Je hebt een afspraak gepland op <strong><[confirmedAppointmentDate | date:'longDate']></strong>
        om <strong><[confirmedAppointmentTime | date:'shortTime']></strong>
    </div>
