<div class="volgende-fase-errors">
[% IF advance_result.not_allowed %]
    <p>De volgende fouten zijn opgetreden:</p>
    <ul>
        <li>U heeft geen rechten om de fase van deze zaak af te ronden.</li>
    </ul>
[% ELSE %]
    <p>De volgende fouten zijn opgetreden:</p>
    <ul>
    [% UNLESS advance_result.fields_complete %]
        <li>Verplichte kenmerken niet ingevuld</li>
    [% END %]

    [% UNLESS advance_result.pip_updates_complete %]
        <li>Kenmerkwijzigingen niet beoordeeld</li>
    [% END %]

    [% UNLESS advance_result.checklist_complete %]
        <li>Checklist items niet ingevuld</li>
    [% END %]

    [% UNLESS advance_result.result_complete %]
        <li>Resultaat niet ingevuld</li>
    [% END %]

    [% UNLESS advance_result.subcases_complete %]
        <li>Verplichte deelzaken niet afgerond</li>
    [% END %]

    [% UNLESS advance_result.owner_complete %]
        <li>Zaak niet in behandeling genomen</li>
    [% END %]

    [% UNLESS advance_result.documents_complete %]
        [% IF !zaak.is_document_queue_empty -%]
            <li>Er staan nog documenten in de wachtrij</li>
        [% ELSE %]
            <li>Verplichte documenten niet toegevoegd</li>
        [% END %]
    [% END %]
    </ul>
[% END %]
</div>
