@import '../../../styles/_variables.scss';

zs-notification-list {
	background-color: rgb(238,238,238);

	.notifications{
		flex:1;
		overflow-y:auto;
		min-height: 0px;
	}

	.notification-list {
		display: block;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.30);
	}

	.notifications-no-notifications{
		padding-top: 60px;
		color: rgb(200,200,200);
		text-align: center;

		zs-icon{
			display: block;
			font-size: 11em;
			color: rgb(212,212,212);
			margin-bottom: 15px;
		}
	}	

	.notification-list-header {
		padding: 0 15px 0 20px;
		background-color: #fff;
		border-bottom: solid 1px #ddd;
		font-size:1.35rem;
		line-height: 64px;
		display: flex;

		&.no-notifications{
			background-color: rgb(238,238,238);
			border-bottom: none;
		}
	}

	.notification-list-header-buttons{
		flex-shrink: 0;
		margin-left: auto;
		display: flex;
		align-items: center;

		zs-icon{
			border-radius: 100%;
			width:2.3rem;
			height:2.3rem;
			line-height: 2.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size:$h1-font-size;			
		}

		button{
			background: none;
			border: 0;
			color: #999;
			padding:0;
			&:focus{
				outline:0;
			}
			&:hover zs-icon{
				color: #000;
				background: rgba(0,0,0,.1);
			}
		}
	}

	.notification-list-item{
		display: block;
		line-height: 1.4;
		padding: 1.1rem 1rem 1.1rem 1.33rem;
		border-bottom: solid 1px rgba(0,0,0,0.1);
		background: desaturate(darken($very-light-blue, 1%),5%);
		display: flex;
		max-width: 100%;
		overflow-x: hidden;	
		position: relative;
		transition: all linear 0.5s;

		&.ng-hide {
			opacity: 0;
		}

		@media only screen and (min-width : 1024px){
			&:hover .notification-list-item-archive-button{
				display: block;
			}

		}
		&:hover{
			cursor: pointer;
			background: darken($very-light-blue, 6%);
		}

		&.read {
			background: #fff;
		}

		&.read:hover{
			background: $very-light-blue;
		}

		a{
			color: $primary-color;
			text-decoration: underline;
		}

	}

	.notification-list-item-content{
		min-width: 0;
		margin-right:5px;
		@media only screen and (min-width : 1024px){
			flex-grow:1;
		}
	}

	.notification-list-item-title {
		white-space: normal; 
	}

	.notification-list-item-icon {
		flex-shrink: 0;
		zs-icon{
			border-radius: 100%;
			width:2.1rem;
			height:2.1rem;
			line-height: 2.1rem;
			background-color: #333;
			color:#fff;
			display: flex;
			align-items: center;
			justify-content: center;
			margin:0 1.15rem 0 0;
			font-size:1.3rem;
			&[icon-type="message-text"]{
				background-color:$yellow;
			}
			&[icon-type="email"]{
				background-color:$blue;
			}
			&[icon-type="file"],
			&[icon-type="file-check"]{
				background-color:$green;
			}
			&[icon-type="pencil"]{
				background-color:$orange;
			}
			&[icon-type="account-star-variant"]{
				background-color:$purple;
			}
		}
	}

	.notification-list-item-archive-button{
		@media only screen and (min-width : 1024px){
			display: none;
			position: absolute;
			right:0;
			top:0;
			bottom:0;
			z-index:10;
			background: #d1edff;
			width:54px;
			padding-top:10px;
			padding-left:5px;
			&:before{
				content:'';
				left:-20px;
				top:0;
				bottom:0;
				background: linear-gradient(to right, rgba(209,237,255,0) 0%,rgba(209,237,255,1) 100%); 
				width:20px;
				position: absolute;
			}
		}
		zs-icon{
			color: #999;
			margin-right: 0;
			font-size:$h1-font-size;
			background:none;
		}

		button{
			background: none;
			border: 0;
			padding:0;
			&:focus{
				outline:0;
			}

			&:hover zs-icon{
				color: #000;
				background: rgba(0,0,0,0.1);
			}
		}		
	}

	.read{
		.notification-list-item-archive-button{
			@media only screen and (min-width : 1024px){
				background: $very-light-blue;
				&:before{
					background: linear-gradient(to right, rgba(240,249,255,0) 0%,rgba(240,249,255,1) 100%); 
				}
			}
		}
	}

	.notification-list-item-label {
		padding-left: 5px;
		word-wrap: break-word;
	}

	.notification-list-item-message-sender {
		display: inline;
		.mdi{
			font-size:1.1rem;
			color:#999;
		}
	}

	.notification-list-item-message-content {
		display: inline;
		white-space: normal;
	}

	.notification-list-item-date{
		display: block;
		color: #999;
		margin-top: 2px;
		font-size: 12px;
	}

	.notification-read-more{
		padding:1rem;
		justify-content: center;
		display: flex;
	}

	zs-spinner{
		display: inline-block;
	}
}
