[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

<div class="pip [% c.config.gemeente.layout_type_class %]">

[% IF pip_session %]
    
    [% UNLESS woz_report %]
        <div class="pip-nav clearfix">
            <ul>
                <li[% IF current_page == 'zaken' || zaak %] class="current"[% END %] %]><a href="[% c.uri_for('/pip') %]" title="Hier vind u uw zaken"><i class="icon-font-awesome icon-folder-open"></i> Mijn zaken</a></li>

                <li[% current_page == 'contact' ? ' class="current"' : '' %]><a href="[% c.uri_for('/pip/contact') %]" title="Hier vind u uw gegevens"><i class="icon-font-awesome icon-user"></i> Mijn gegevens</a></li>

            [% IF c.customer_instance.start_config.woz_info_on_pip %]
                [% IF woz_objects.count %]
                    <li[% current_page == 'woz' ? ' class="current"' : '' %]><a href="[% c.uri_for('/pip/woz') %]" title="Overzicht van WOZ objecten op uw naam">
                        <i class="icon-font-awesome icon-home"></i> Mijn WOZ</a>
                    </li>
                [% END %]
            
            [% END %]

            </ul>
            
            <ul class="right">
                <li><a href="[% c.uri_for('/pip/logout') %]" title="Uitloggen"><i class="icon-off icon-font-awesome"></i> Uitloggen</a></li>
            </ul>
            
        </div>                        
    [% END %]
                    

[% END %]

[% IF login_type_page %]
    <div class="header">
        <h1>Mijn [% c.config.gemeente.naam %]</h1>
    </div>

    [% content = PROCESS plugins/pip/login_type.tt %]
[% END %]    
    
    [% IF c.flash.pip_result && pip %]
    <div class="sysmessage">
        [% IF c.flash.pip_result.size %]
            <ul>
            [% FOREACH message IN c.flash.pip_result %]
                <li>[% message %]</li>
            [% END %]
            </ul>
        [% ELSE %]
            <p>[% c.flash.pip_result %]</p>
        [% END %]
    </div>
    [% END %]
    
    <div class="pip-content">
        [% content %]
    </div>
                
                
</div>




[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
