<table>
    <tr>
        <td>
            [% kenmerk_fieldname = fieldname _ '_kenmerk' %]
            [% PROCESS selecteer_milestone_kenmerk
                 kenmerk_name = 'regels_' _ kenmerk_fieldname
                 value = params.$kenmerk_fieldname
                 show_all_kenmerken = 1
                 show_value_kenmerken = 1
                 hide_aanvrager_option = 1
                 show_price = 1
            %]
        </td>
        <td>
            [% value_fieldname = fieldname _ '_value' %]
            [% formula_fieldname = fieldname _ '_formula' %]

                [% value_kenmerk = kenmerk_info.${global.kenmerk_selection} %]

                <input type="text" class="ezra_regel_formule" name="regels_[% formula_fieldname %]" value="[% params.$formula_fieldname %]" style="width: 100%" /><br />

                <p>
                    <a target="_blank" href="http://wiki.zaaksysteem.nl/Redirect_zaaktypebeheer_regelactie_vulwaardeinmetformule">
                        Documentatie voor het schrijven van formules.
                    </a>
                </p>
		</td>
	</tr>
</table>
