.pip-register{
    padding: 25px;
    background: #fff;
    border: none !important;
}

.pip-register strong{
    margin-bottom: 15px;
    font-size: 1.0777em;
    display: block;
}

.pip-register table{
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.pip-register h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.pip-register input[type=text],
.pip-register input[type=password]{
    width: 306px;
}

.pip-register input[type=submit]{
    background-color: #333;
    padding: 8px 28px 8px 17px;
    border-radius: 0;
    border-radius: 3px;
}

.pip-register input[type=submit]:hover{
    background-color: #555;
}

.pip-register label.titel{
    color: #999 !important;
    text-align: right !important;
    padding: 0 18px 0 0 !important;
    display: block;
    line-height: 1.2;
}

.pip-register td,
.pip-register th,
.pip-register tr.lastrow td{
    border: none !important;
}

.pip-register td,
.pip-register th{
    padding: 7px 0 !important;
}

.pip-register td.first{
    vertical-align: middle;
    padding: 0 !important;
}

.pip-register .form-actions{
    margin-left: 180px;
    padding: 0 !important;
}

.pip-register-next{
    margin-left: 130px;
}