// Variables

$pip-anchor-color: saturate($primary-color,50%) !default;
$pip-anchor-color-hover: darken($pip-anchor-color,30%) !default;


// Globals

.pip{
    // font-family: $font-family;
    clear: both;
}

.pip *{
    @include box-sizing(border-box);
}

.pip{
    // h1,h2,h3,span,strong,p,em,a,td,th{font-family: $font-family;}
    td{font-size:inherit;line-height:1.3;}
    ul{margin:0;list-style: none;padding: 0;}
    input[type=text]{border: 1px solid #ccc;border-radius: 0;}
    table thead{display:none;}
    .ezra_clickable_tr:hover{
        td{background:#f7f7f7;}
        a{color:$pip-anchor-color-hover;}
    }
}
 
.pip-nav {
    font-size: 1em;
    font-weight: bold;
    ul{
        list-style:none;
    }
    ul li {
        float: left;
        padding: 0;
        line-height: 1;
        &.current a, a:hover {
           // background:lighten($primary-color,15%);
        }
        a {
            position: relative;
            text-decoration: none;
            display: block;
            i{
                margin-right: 3px;
            }
        }
    }
}

.pip-page-title{
    h1{
        padding:30px 0 20px;
        margin:0;
    }
}