.date-picker {
	width: 300px;
	margin-bottom:15px;
}

.date-picker-month-button {
	display: table-cell;
	vertical-align: middle;
}

.date-picker-month-label {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.date-picker-days {
	width: 100%;
}

.date-picker-day-button {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.date-picker-month {
	display: table;
	table-layout: fixed;
	height: 24px;
	text-align: center;
	padding:.4em 4em .4em;
	button{
		background:none;
	}
}

.date-picker-day-button-dimmed {
	opacity: 0.5;
	&.date-picker-day-button-active {
		opacity:1;
	}
}

.date-picker-day-button-active {
	background: #333;
	color: white;
}

.form-date-range-picker{
    .date-picker-day-cell{
        border:none;
        padding:0.3em;
        width:20px;
        line-height: 2;
        font-weight: bold;
        button{
        	font-weight: bold;
        }
    }
    th.date-picker-day-cell{
        text-align: center;
    }
}