/* @end */

.spot-enlighter-container {
    visibility: hidden;
}

.spot-enlighter-visible {
    visibility: visible;
}

.spot-enlighter-menu {
    position: fixed;
    z-index: 4000;
    background: white;
    padding: 2px 0;
    list-style-type: none;
    border: 1px solid #aaa;
    @include box-shadow(1px 3px 4px rgba(0,0,0,0.4));
    min-width: 200px;
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="bottom"] {
    margin-top: 2px;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="top"] {
    margin-bottom: 2px;
}

.spot-enlighter-menu > li {
    background-color: white;
    padding: 6px 8px;
    cursor: pointer;
    line-height: 1.3;
    margin-left:0 !important;
    .spot-enlighter-case-title i{
        display: none;
    }
}

.spot-enlighter-menu > li:hover,
.spot-enlighter-menu > li.spot-enlighter-entry-highlight  {
    background-color: #eee;
}

.spot-enlighter-wrapper {
    position: relative;
    display: inline-block;
    //width:250px;
    @include box-sizing(border-box);
}

.form .spot-enlighter-wrapper{
    display: block;
}

.spot-enlighter-wrapper > input {
    width: 100%;
    @include box-sizing(border-box);
    height:auto;
    background: url("../images/icon-filter.png") no-repeat scroll 7px 7px #fff;
    padding-left:25px;
    &[disabled="disabled"]{
        background:transparent;
    }
}

.spot-enlighter-wrapper > label{
    display: block;
}

.spot-enlighter-tag-wrapper {
    padding: 3px;
    max-width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    @include box-sizing(border-box);
    height:100%;
}

.spot-enlighter-tag {
    display: inline-block;
    border:1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.3);
    line-height: 1.5;
    background-color: #eee;
    border-radius: 2px;
    padding: 0 18px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    @include box-sizing (border-box);
    @include background(linear-gradient(to bottom, #f9f9f9 0%,#eee 100%));
    @include box-shadow(inset 0 0 1px #fff);
    text-overflow: ellipsis;
}

.spot-enlighter-tag:focus {
    border: 1px solid rgba(0,0,0,0.6);
    @include background(linear-gradient(to bottom, #e9e9e9 0%, #ddd 100%));
}

.spot-enlighter-clear {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 4px;
    background:none;
    margin-top:-10px;
    line-height: 1;
    &:hover{color:#000;}
}

.spot-enlighter-loading {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 4px;   
    background: url(../images/spinner-small.gif) no-repeat 50% 50% #fff;
    margin-top:-8px;
    @include border-radius(2px);
}

.spot-enlighter-menu > li > div{
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    > div{
        font-weight: bold;
    }
}

.spot-enlighter-entry-desc{
    font-size:.9em;
    color:#888;
}

[data-zs-spot-enlighter]::-ms-clear {
    display: none;
}

.form-field-spot-enlighter-list-item{
    list-style: none;
    padding:3px 19px 3px 4px;
    position:relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:before{
        content:'\2022\a0';
    }
    &:hover{
        background-color:#f7f7f7;
        cursor:default;
        .form-field-spot-enlighter-list-item-options{
            visibility: visible;
        }
    }
    &.form-field-spot-enlighter-list-item-multiple-options{
        padding-right:38px;
    }
    &:last-child{
        margin-bottom:7px;
    }
}

.form-field-spot-enlighter-list-item-options{
    right:5px;
    position:absolute;
    top:0;
    display: inline-block;
    visibility: hidden;
    height:100%;
    > button{
        //margin-left:3px;
    }
}

.form-field-spot-enlighter-list-item-remove,.form-field-spot-enlighter-list-item-edit{
    //position:absolute;
    //right:5px;
    //top:50%;
    //padding:1px;
    background:none;
    display: inline-block;
    vertical-align: middle;
    //@include border-radius(12px);
    &.icon-font-awesome{
        font-size:1.1em;
        display: inline-block;
        color:#bbb;
        width:13px;
        height:13px;
        vertical-align: middle;
        height:100%;
    }
    &:hover{
        color:#000;
    }
}