.accordion-item{
	list-style:none;
}

.accordion-item-header{
	background:#fff;
	list-style: none;
	border-bottom:1px solid #ccc;
	&:focus{
		outline:0;
	}
	&:before{
		font-family: FontAwesome;
		content: "\f0da";
		font-size:.8em;
		width:20px;
		display: inline-block;
		text-align: center;
	}
	&:hover{
		background:#f6f6f6;
	}
}

.accordion-item-open .accordion-item-header:before{
	content: "\f0d7";
}

$accordion-panel-shadow-swatch1:#f0f0f0;
$accordion-panel-shadow-swatch2:#fff;

.accordion-panel{
	padding:15px 0;
	border-bottom:1px solid #ccc;
	//@include box-shadow(inset 0 0 1px rgba(0,0,0,0.15),inset 0 0 1px rgba(0,0,0,0.15));
	// &:before{	
	// 	top:-15px;
	// 	@include background(linear-gradient(to bottom, $accordion-panel-shadow-swatch1 0%, $accordion-panel-shadow-swatch2 100%));
	// }
	// &:after{
	// 	bottom:-15px;
	// 	@include background(linear-gradient(to top, $accordion-panel-shadow-swatch1 0%, $accordion-panel-shadow-swatch2 100%));
	// }
	// &:before,&:after{
	// 	position: relative;
	// 	content:'';
	// 	width:100%;
	// 	height:3px;
	// 	display: block;
	// }
}