[data-zs-pagination] {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.pagination-list {
    list-style-type: none;
	display: inline-block;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  	border-radius: 4px;
	margin-right:4px;
	float:right;
}

.pagination-options{
  float:left;
  padding:5px 0;
}

.pagination-options-label,
.pagination-options-select-wrapper{
  display: inline-block;
}

.pagination-list-item {
    display: inline;
    margin-right: -4px;
}

.pagination-button {
	display: inline-block;
    height: 100%;
    padding: 4px 12px;
  	line-height: 20px;
    border: 1px solid #bbb;
    border-left-width: 0;
  	background: url(../images/knop-bg.gif) repeat-x 50% 50% #ffffff;
  	font-size:1em;
  	&:focus{
  		outline:none;
  	}
  	&:hover {
  		background: #ddd;
  	}
  	&:active{
  		background:#bbb;
  	}
}


.pagination-button-active {
	background: #ccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    border-color:#aaa;
}

.pagination-button:disabled {
	color: #999999;
    cursor: default;
	background: transparent;
	opacity: 0.5;
}

.pagination-list-item:first-child > .pagination-button {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-topleft: 4px;
}

.pagination-list-item:last-child > .pagination-button {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

.pagination-icon-prev,
.pagination-icon-next {
	padding: 4px;
}

.pagination-icon-prev {
	background: url(../images/pager-prev.gif) no-repeat center center;
}

.pagination-icon-next {
	background: url(../images/pager-next.gif) no-repeat center center;
}

.pagination-gap {
	display: none;
	padding-left: 4px;
	padding-right: 4px;
}

.pagination-gap-visible > .pagination-gap {
	display: inline-block;
  float:none;
  margin-left:-4px;
  background:none;
}

.pagination-gap-visible + .pagination-list-item-page > .pagination-button  {
	border-left-width: 1px;
	margin-left: -1px;
}