.form-fieldset {
    //margin: 0 0 2em 0;
}

.form-fieldset-revert{
    position:absolute;
    top:50%;
    margin-top:-9px;
    right:10px;
    button{
        background:none;
        padding:0 4px !important;
        line-height: 1 !important;
        i{
            color:#bbb;
            font-size:14px !important;
            top:1px;
        }
        &:hover i{
            color:#000;
        }
    }
}

.form-fieldset-collapse, .form-fieldset-title{
    line-height: 16px !important;
    height:16px !important;
    float:left;
}

.form-fieldset-collapse{
    background:none;
    margin:0 12px 0 6px;
}

.form-field {
    display: table;
    width:100%;
    table-layout: fixed;
    position: relative;
    border-bottom:1px solid #eee;
    padding:.9em 0;
}

.form-field-description {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top:-11px;
}

.form-field-description-icon {
    width: 16px;
    height: 16px;
    &:hover{
        color:$primary-color;
    }
}

.form-field-description-message {
    display: none;
    position: absolute;
    top: -8px;
    right: 25px;
    background: white;
    padding: 7px 10px;
    z-index: 1;
    min-width: 200px;
    @include box-shadow(-1px 1px 2px rgba(0,0,0,0.15));
    border:1px solid #bbb;
    text-align: left;
    color: #333;
    font-weight: normal;
    line-height: 1.5;
    &:before{
        content:"";
        position: absolute;
        background: url(../images/dropdown-pijl.png) no-repeat 0 0;
        width:10px;
        height:17px;
        top:7px;
        right:-9px;
        z-index:10;
    }
}

.form-field-description:focus .form-field-description-message,
.form-field-description:hover .form-field-description-message {
    display: block;
}

.form-field-label {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    &.form-field-label-empty{
        display: none;
    }
}

.form-field-value, .form-field-input{
    width: 75%;
}

.form-field-value {
    display: table-cell;
    vertical-align: top;
}

.form-field-input{
     > label{
        display: block;
    }
    input[type=text]{
        width:300px;
    }
}

.form-field-revert{
    display: none;
}

.form-fieldset-meta{
    border-bottom:2px solid #ccc;
    padding:0 0 15px;
}

.form-fieldset-header{
    font-weight:bold;
    font-size:1.231em;
    margin: 1.5em 0 10px;
    position:relative;
}

.form-fieldset-actions{
    padding:15px 0 0;
}

.form-field-button-list{
    padding:15px 0;
}

.form-action {
    display: inline-block;
    margin-right:8px !important;
}

.form-action:last-child {
    margin-right: 0 !important;
}

// .form-file-upload-button > button{
//     margin:0 !important;
//     padding-bottom: 0.6em !important;
//     padding-top: 0.6725em !important;
//     @include border-radius(0);
// }

.form-file-list{
    margin:0 0 8px;
    .form-file-list-item{
    list-style:none;
    padding:0 0 5px;
        .form-file-list-item-remove{
            margin:0 0 0 3px;
            background: transparent;
        }
    }
}

.checkbox-list{
    list-style:none;
    ~ .button{
        margin-top:10px;
    }
}

.date-range-list{
    left:0;
}

.date-range-list-item .icon-ok {
    visibility: hidden;
}

.date-range-list-item-active .icon-ok {
    visibility: visible;
}

.form-field-date-range-component button{
    span,i{vertical-align:middle;}
    i{
        margin-right:3px;
        font-size:12px;
    }
}

.form-field.form-field-name-rol{
    padding-top:4px !important;
}

.form-field-name-coordinator_organisatorische_eenheid,
.form-field-name-behandelaar_organisatorische_eenheid{
    .form-field-label{
        display: block;
        width:100%;
    }
}

.form-field-status-pristine{
    display: none;
}

.form-field-name-confirm_password .form-field-status-valid .form-field-status-indicator:after{
    font-family: 'FontAwesome';
    content: "\f00c";
    width:10px;
    height:10px;
    display: inline-block;
    position:absolute;
    right:25%;
    color:green;
    top:50%;
    margin-top:-10px;
    font-size:16px;
}

.password-strength-indicator-invalid{
    .password-strength-indicator-label{
        color:#ccc;
    }
}

.password-strength-indicator-weak{
    .password-strength-indicator-bar-filled{
        background:red;
        width:33%;
    }
}

.password-strength-indicator-good{
    .password-strength-indicator-bar-filled{
        background:orange;
        width:66%;
    }
}

.password-strength-indicator-strong{
    .password-strength-indicator-bar-filled{
        background:green;
        width:100%;
    }
}

.password-strength-indicator-bar,.password-strength-indicator-bar-filled{
    height:10px;
     @include border-radius(3px);
}

.password-strength-indicator-bar-filled{
    @include transition(width 300ms);
}

.password-strength-indicator-bar{
    background:#eee;
}

.password-strength-indicator-label{
    position:absolute;
    left:105px;
    top:0;
}

.password-strength-indicator{
    width:100px;
    padding:5px 60px 5px 0;
    position:relative;
}

.form-fieldset-name-password-strength{
    position:absolute;
    right:20px;
    top:130px;
}

.form-field-type-org-unit-list{
    list-style: none;
}

.form-field-type-org-unit-list-item{
    margin-bottom:10px;
    padding:0 0 10px;
    border-bottom:1px solid #ddd;
    position:relative;
}

.org-unit-picker-part{
    padding:3px 0;
}

.org-unit-picker-part-title{
    display: inline-block;
    width:60px;
}

.form-field-type-org-unit-list-item-picker-remove{
    background: none;
    position: absolute;
    right:0;
    top:5px;
    .icon{
        color:#bbb;
        &:hover{
            color:#000;
        }
    }
}