   /* @group Breadcrumb */
    
    #breadcrumb-wrap{
        @include box-shadow(0 0 3px #ccc);
        background: none repeat scroll 0 0 #FFFFFF;
        margin: 0 0 15px;
        padding: 1px 0 0;
        border:1px solid #aaa;
    }
    
    #breadcrumb{
    background:#fff url(../images/knop-bg-large.gif) repeat-x left center;
    height:47px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
        a, span.last{
            display:inline-block;
            font-size:0.9167em;
            padding:0 13px;
            text-transform:uppercase;
            font-weight: bold;
            text-decoration: none;
            height:47px;
            line-height:4;
            overflow: hidden;
        }
        span.last{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .prev a{
            background:url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #E0E0E0;
            color:#000;
        }
        a.prev{
            background:url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #E0E0E0;
            color:#000;
            max-width:140px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-left:-4px;
            &:hover{
                text-decoration:underline;
            }
            &:first-child{
                margin-left:0;
            }
            .home{
                padding: 0 13px 0 19px;
            }
        }
        span{
            &.pijl{
                height:47px;
                display:inline-block;
                width:19px;
                margin-left:-4px;
            }
            &.next{background:url(../images/breadcrumb-next.png) no-repeat right center;}
            &.prev-pijl{background:url(../images/breadcrumb-prev.png) no-repeat right center;}
            &.grey{background:url(../images/breadcrumb-bg-prev.gif) no-repeat right center;}
            &.divider{background:url(../images/breadcrumb-divider.png) no-repeat right center;}
        }
        td { 
            padding:0;
            text-align:center;
            a { float:none; }
            .prev { background:url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #E0E0E0; }
        }
    }
    
    .breadcrumb-wrapper {
        @include box-shadow(0 0 3px #ccc);
        background: none repeat scroll 0 0 #FFFFFF;
        margin: 0 0 15px;
        padding: 1px 0 0;
        border:1px solid #aaa;
    }
    
    .breadcrumb {
        background:#fff url(../images/knop-bg-large.gif) repeat-x left center;
        height: 100%;
    }
    
    .breadcrumb-arrow {
        float: left;
        background: url(../images/breadcrumb-next.png) no-repeat right center;
        width: 19px;
        height: 47px;
        vertical-align: top;
        margin-left: -4px;
    }

    .breadcrumb-arrow-dark {
        background: url(../images/breadcrumb-bg-prev.gif) no-repeat right center;
    }
    
    .breadcrumb-link,
    .breadcrumb-label {
        float: left;
        vertical-align: top;
        font-size:0.9167em;
        padding:0 18px 0 13px;
        text-transform:uppercase;
        font-weight: bold;
        line-height: 47px;
        background: url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #E0E0E0;
    }
    
    .breadcrumb-link:last-child,
    .breadcrumb-label:last-child {
        background: none;
    }

    .voortgang{
        a:hover{text-decoration: underline !important;}
        #breadcrumb{
            a,
            span.last{
                display: block;
            }
            a.prev,
            span.pijl{
                margin-left:0;
            }
            a.prev{
                max-width: inherit;
            }
        }
    }


    // #breadcrumb .with-dropdown a { float:left; padding:0 4px 0 13px;  }

    // #breadcrumb .with-dropdown { margin:0 auto; width:78px; }
   
    // #breadcrumb .dropdown-wrap { float:left; color:#000; text-align:left;  }


    // #breadcrumb .dropdown-init-block { margin:16px 0 0 0; background:none; border:none; box-shadow:none; }
    // #breadcrumb .dropdown-init-block:active, #breadcrumb .dropdown-init-block.is_active { 
    //     box-shadow: inset 0 1px 1px #000;
    //     background: rgb(56,56,56);
    //     background: -moz-linear-gradient(top,  rgba(56,56,56,1) 0%, rgba(72,72,72,1) 100%);
    //     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,56,56,1)), color-stop(100%,rgba(72,72,72,1)));
    //     background: -webkit-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(72,72,72,1) 100%);
    //     background: -o-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(72,72,72,1) 100%);
    //     background: -ms-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(72,72,72,1) 100%);
    //     background: linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(72,72,72,1) 100%);
    //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#484848',GradientType=0 );
    //     border-color: #000;
    //  }

    
    // #breadcrumb .dropdown a{ 
    //     padding:3px 5px;
    //     text-decoration: none;
    //     display: block;
    //     position: relative;
    //     height:auto;
    //     line-height:1em;
    //     background:none;
    //     float:none;
    //     text-transform:none;
    //     font-weight:normal;
    // }
    
    // #breadcrumb .dropdown a:hover,
    // #breadcrumb .dropdown a.active{
    //     background: rgb(92,106,112);
    //     color:#fff;
    //     text-decoration:none !important;
    // }
    
    // #breadcrumb .dropdown a:active{top:1px;}
    
    // #breadcrumb .dropdown-menu a{ padding: 3px 15px; }
    
    /* @end */