@import "dependencies";

/* @group Button140   */

$button-primary-bg-color: rgb(14,98,162);
$button-primary-gradient-swatch-1: rgba(14,98,162,1);
$button-primary-gradient-swatch-2: rgba(7,71,121,1);
$button-primary-border-color:#444;
$button-primary-text-color:#fff;

$button-primary-inner-shadow: rgba(255,255,255,0.35);


$button-xsmall-padding-vertical: 0px;
$button-xsmall-padding-horizontal: 4px;

$button-smaller-padding-vertical: 2px;
$button-smaller-padding-horizontal: 5px;

$button-small-padding-vertical: 4px;
$button-small-padding-horizontal: 10px;

$button-normal-padding-vertical: 6px;
$button-normal-padding-horizontal: 12px;

$button-medium-padding-vertical: 6px;
$button-medium-padding-horizontal: 12px;

$button-large-padding-vertical: 6px;
$button-large-padding-horizontal: 12px;

$button-mega-padding: 40px;
$button-xlarge-padding: 20px;

$icon-color:#4f575a;

$button-border-radius: 3px;

.button{
    margin:0;
    font-size: 1em;
    cursor: pointer;
    font-weight: normal;
    font-family: inherit;
    line-height: 1.5;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding:$button-normal-padding-vertical $button-normal-padding-horizontal;
    @include border-radius($button-border-radius);
    &[disabled='disabled']{
        @include opacity(.35);
    }
    &[disabled='disabled']:active{
        top:0;
    }
    &:focus{
        outline:none;
    }
    > i{
        vertical-align: text-top;
        color:$icon-color;
        -webkit-font-smoothing:antialiased;
        font-style: normal;
        position:relative;
        top:1px;
        font-size:1em;
        margin-right:2px;
        display: inline-block;
        min-width:14px;
        &.icon-bitmap,&.icon-graphic{
            top:0;
        }
        &.icon-only{
            margin-right:0;
        }
    }
    &.button-mega{
        padding:$button-mega-padding;
        font-size:1.692em;
    }
    &.button-xlarge{
        padding:$button-xlarge-padding;
        font-size:1.3em;
    }
    &.button-large{
        padding:$button-large-padding-vertical $button-large-padding-horizontal;
        font-size:1.231em;
        > .icon{
            line-height:18px;
            font-size:18px;
            min-width:18px;
        }
    }
    &.button-medium{
        padding:$button-medium-padding-vertical $button-medium-padding-horizontal;
        font-size:1.077em;
        > .icon{
            line-height: 16px;
            margin-right:4px;
            min-width:15px;
        }
    }
    &.button-small{
        padding:$button-small-padding-vertical $button-small-padding-horizontal;
        font-size:1em;
        min-width:1em;
    }
    &.button-smaller{
        padding:$button-smaller-padding-vertical $button-smaller-padding-horizontal;
        font-size:1em;
        min-width:1em;
    }
    &.button-xsmall{
        padding:$button-xsmall-padding-vertical $button-xsmall-padding-horizontal;
        line-height: 1.4;
    }
    &.right{
        margin-left:5px;
    }
    &.button-icon-only{
        > .icon{
            margin-right:0;
        }
    }
    
}

.button-primary {
    color: $button-primary-text-color;
    border: 1px solid $button-primary-border-color;
    background: $button-primary-bg-color;
    @include background(linear-gradient(to bottom,  $button-primary-gradient-swatch-1 0%,$button-primary-gradient-swatch-2 100%));
    //@include box-shadow(inset 0 1px 0 $button-primary-inner-shadow, 0 1px 1px rgba(0,0,0,0.2));
    &:hover{
        @include background(linear-gradient(to bottom, lighten($button-primary-gradient-swatch-1,9%) 0%,lighten($button-primary-gradient-swatch-1,1%) 100%));
        @include box-shadow(inset 0 1px 0 $button-primary-inner-shadow, 0 1px 1px rgba(0,0,0,0.3));
        border: 1px solid darken($button-primary-border-color,20%);
    }
    &:active,&.button-active{
        background: darken($button-primary-bg-color,5%);
        @include background(linear-gradient(to bottom, darken($button-primary-gradient-swatch-2,4%) 0%,darken($button-primary-gradient-swatch-1,2%) 100%));
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.3));
    }
    &[disabled='disabled']{
        background: $button-primary-bg-color;
        &:hover{ cursor: default; @include box-shadow(none);border-color:$button-primary-border-color;}
        &:active{ @include box-shadow(inset 0 1px 0 $button-primary-inner-shadow); }
    }
}

$button-secondary-bg-color: rgb(247,247,247);
$button-secondary-border-color: #aaa;
$button-secondary-text-color:#333;

// $button-secondary-gradient-swatch-1: rgba(247,247,247,1);
// $button-secondary-gradient-swatch-2: rgba(237,237,237,1);

$button-secondary-gradient-swatch-1: #ffffff;
$button-secondary-gradient-swatch-2: #fafafa;
$button-secondary-gradient-swatch-3: #efefef;
$button-secondary-gradient-swatch-4: #ededed;

$button-secondary-inner-shadow: #fff;
$button-secondary-box-shadow: rgba(0,0,0,.15);


    
.button-secondary{
    color:$button-secondary-text-color;
    border: 1px solid $button-secondary-border-color;
    border-top-color:lighten($button-secondary-border-color,5%);
    background: $button-secondary-bg-color;
    //@include box-shadow(0 1px 1px rgba(0,0,0,0.1));
    //@include background(linear-gradient(top, $button-secondary-gradient-swatch-1 0%,$button-secondary-gradient-swatch-2 100%));
    @include background(linear-gradient(to bottom, $button-secondary-gradient-swatch-1 0%, $button-secondary-gradient-swatch-2 47%, $button-secondary-gradient-swatch-3 53%, $button-secondary-gradient-swatch-4 100%));
    //@include box-shadow(inset 0 1px 0 $button-secondary-inner-shadow);
    &:hover{
        border-color: darken($button-secondary-border-color,10%);
        @include box-shadow(0 1px 1px $button-secondary-box-shadow);
        //background: darken($button-secondary-bg-color,2%);
        //@include background(linear-gradient(to bottom, lighten($button-secondary-gradient-swatch-1,3%) 0%, $button-secondary-gradient-swatch-2 48%, $button-secondary-gradient-swatch-3 53%, $button-secondary-gradient-swatch-4 100%));
        //@include background(linear-gradient(top, lighten($button-secondary-gradient-swatch-1,10%) 0%,$button-secondary-gradient-swatch-2 100%));
    }
    &:active,&.button-active{
        @include background(linear-gradient(to bottom, darken($button-secondary-gradient-swatch-1,12%) 0%,darken($button-secondary-gradient-swatch-2,2%) 100%));
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.15));
    }
    &[disabled='disabled']{
       // background: $button-secondary-bg-color;
    }
    &.button-on-hover{
        padding:3px 4px;
        line-height: 1.3;
        border:1px solid transparent;
        background:none;
        &:hover{
            border-color: darken($button-secondary-border-color,10%);
            @include box-shadow(0 1px 1px $button-secondary-box-shadow);
            background: $button-secondary-bg-color;
            @include background(linear-gradient(to bottom, $button-secondary-gradient-swatch-1 0%, $button-secondary-gradient-swatch-2 47%, $button-secondary-gradient-swatch-3 53%, $button-secondary-gradient-swatch-4 100%));
        }
        &:active,&.zs-popup-menu-button-active{
            border-color: darken($button-secondary-border-color,10%);
            @include background(linear-gradient(to top, darken($button-secondary-gradient-swatch-1,12%) 0%,darken($button-secondary-gradient-swatch-2,2%) 100%));
            @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.15));
            color:#000;
        }
    }
}

.zs-popup-menu-open > .button-secondary{
    @include background(linear-gradient(to top, #383838 0%, #484848 100%) !important);
    @include box-shadow(inset 0 1px 2px black);
    border-color: #000 !important;
    color:#fff;
    i{
        color:#fff;
    }
}


.button-group{
    font-size:1em;
    .button{
        float:left;
        margin-left:-1px;
        //@include border-radius(0);
        &.button-small > i.icon{
            margin-right:0;
            font-size:1.077em;
        }
    }
    // .button:first-child{
    //     margin-left:0;
    // }
    > .button-group{float:left;}
}



// .button-group > .button:first-child:not(:last-child) {
// @include border-radius($button-border-radius 0 0 $button-border-radius);
// }

// .button-group > .button:last-child:not(:first-child) {
// @include border-radius(0 $button-border-radius $button-border-radius 0);
// }

.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  @include border-radius(0);
}

// Set corners individual because sometimes a single button can be in a .button-group and we need :first-child and :last-child to both match
.button-group > .button:first-child {
  //margin-left: 0;
  &:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
  }
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.button-group > .button:last-child:not(:first-child),
.button-group > .dropdown-toggle:not(:first-child) {
  @include border-left-radius(0);
}

// Custom edits for including button-groups within button-groups (useful for including dropdown buttons within a button-group)
.button-group > .button-group {
  float: left;
}
.button-group > .button-group:not(:first-child):not(:last-child) > .button {
  @include border-radius(0);
}
.button-group > .button-group:first-child {
  > .button:last-child,
  > .dropdown-toggle {
    @include border-right-radius(0);
  }
}
.button-group > .button-group:last-child > .button:first-child {
  @include border-left-radius(0);
}

// On active and open, don't show outline
.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle {
  outline: 0;
}

.dropdown-toggle:after{
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 10px;
    vertical-align: middle;
    margin-left: 3px;
}

// correct button height in firefox

button::-moz-focus-inner,
input::-moz-focus-inner{
    border: 0;
    padding: 0;
}


.ie8{
    input.button{
        &:hover { background: #333; }
        &:active { background: #000; }
    }
    button[disabled]{
        border:none;
    }
    .button-primary {
        &:hover{
            background: lighten($button-primary-bg-color,5%) !important;
        }
    }
    .button-secondary {
        &:hover{
            background: lighten($button-secondary-bg-color,5%) !important;
        }
    }
}



