@import "dependencies";

/* @group Button140   */
    
    .button140 {
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 1.25em;
        position: relative;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding-bottom: 0.75em;
        padding-top: 0.8125em;
        padding-right: 1.125em;
        padding-left: 1.125em;
        font-size: 0.923em;
        color: white;
        border: 1px solid #444;
        background: rgb(14,98,162);
        @include border-radius(2px);
        @include box-shadow(inset 0 1px 0 #5691be);
        @include background(linear-gradient(to bottom,  rgba(14,98,162,1) 0%,rgba(7,71,121,1) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e62a2', endColorstr='#074779',GradientType=0 );
        &:hover{
        border-color: #444;
            cursor: pointer;
            color: #fff;
            @include box-shadow(inset 0 1px 0 #5691be,0 1px 1px #ccc);
            background: rgb(17,117,193);
            @include background(linear-gradient(to bottom,  rgba(17,117,193,1) 0%,rgba(9,76,158,1) 100%));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1175c1', endColorstr='#094c9e',GradientType=0 );
        }
        &:active{
            position: relative;
            top: 1px;
            @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.3));
            background: rgb(7,71,121);
            @include background(linear-gradient(to bottom,  rgba(7,71,121,1) 0%,rgba(12,77,135,1) 100%));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074779', endColorstr='#0c4d87',GradientType=0 );
        }
    }

    .form-button-primary,.form-button-secondary{
        @extend .button140;
    }
    
    button::-moz-focus-inner,
    input::-moz-focus-inner{
        border: 0;
        padding: 0;
    }
    
    input.button140,
    button.button140 {
        padding-bottom: 0.75em;
        padding-top: 0.8125em;
    }
    
    .button140.margin{ margin:10px 0; }
    
    .button140.grijs{
        background: rgb(247,247,247);
        @include background(linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 );
        border: 1px solid #aaa;
        color:#333;
        @include box-shadow(inset 0 1px 0 #fff);
        filter: none;
        &:hover{
            border-color: #777;
            @include box-shadow(0 1px 1px #ddd);
            background-image: none;
            background: rgb(242,242,242);
            @include background(linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
            color: #333;
        }
        &[disabled='disabled']{
            background: rgb(247,247,247);
            @include opacity(.5);
        }
    }

    .button140[disabled='disabled'],
    input.button140[disabled='disabled']{
        @include opacity(0.3);
        background: rgb(17,117,193);
    }
    
    .button140[disabled='disabled']{
        &:hover{
            cursor: default;
        }
        &:active{
            @include box-shadow(inset 0 1px 0 #5691be);
            top: 0;
        }
    }
    
    .button140.right{ margin-left:10px; 
        .last { margin-right: 20px !important; }
    }

    .form-button-secondary{
        @extend .button140.grijs;
        &[disabled='disabled']{
            background: rgb(247,247,247);
            @include opacity(.5);
        }
    }

    .ie8 input.button140:hover { background: #333; }
     
    .ie8 input.button140:active { background: #000; }

/* @end */

/* @group Form Actions Wrapper */


    .form-actions.form-actions-bottom{
        position: absolute;
        bottom:20px;
        width:100%;
        padding:0;
    }
    
    .form-actions-inner{
        padding: 0 20px;
    }

/* @end */