.error-message{
	position:absolute;
	top:50%;
	margin-top:-260px;
	left:50%;
	margin-left:-205px;
	width:410px;
	padding-top:65px;
}

.error-image{
	width:100%;
	height:139px;
	background:url(../images/error-logo.png) center center no-repeat;
	margin-bottom:30px;
}

.error-text{
	float:left;
}

.error-title,
.error-subtext{
	text-align:center;
	line-height:1.4;
}

.error-title{
	font-size:36px;
	margin-bottom:10px;
}

.error-subtext{
	font-size:18px;
	color:#999;
}