// stappen titel

    $h2-stap-titel-fontsize:1.5em !default;
    $h2-stap-titel-weight:bold !default;

    .stap-tekst{
        clear:both;
        margin:0;
        padding: 0 0 .35em;
        border-top: none;
        position: relative;
        border-bottom: 2px solid #ddd;
        h3{
            font-size: 1.1em;
            margin:1.75em 0 1em;
        }
        .stap-beschrijving{
            line-height: 1.7;
            font-weight: normal;
            color: #222;
            margin:0 0 .8em;
            ul, ol{
                margin:.7em 0 1em;
                padding-left: 20px;
            }
            p{
                margin:.7em 0 1em;
            }
        }
        &.stap-tekst-enkel{
            padding: 0 !important;
        }
    }

    .stap-titel, .stap-beschrijving{
        padding:0;
    }

    .stap-titel{
        margin-bottom:10px;
        font-size:$h2-stap-titel-fontsize;
        font-weight: $h2-stap-titel-weight;
    }
    
    .stap-tekst-no-border{
        border: none;
    }

    .stap-content-multiple{
        margin-bottom: 1em;
    }


// stappen navigatie
    
    .form-navigation{
        list-style: none;
        display: block;
        padding: 0px;
        border: 1px solid #ccc;
        border-bottom: none;
        background: #eeeeee;
        max-width: 100%;
        width: 100%;
        display: table;
        margin: 0 0 1.5em;
        li{
            display: table-cell;
            padding: 5px 15px 5px 30px;
            text-align: center;
            vertical-align: middle;
            height: 44px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            a{
                text-decoration: none;
            }
        }
        .stap{
            background: #f8f8f8;
            background-image: url(../images/voortgang-pijl.png);
            background-repeat: no-repeat;
            background-position: -15px center;
            position: relative;
            border-bottom: 3px solid #ccc;
            a{
                color: #666;
                &:hover{
                    cursor: default;
                }
            }
            &.done a{
                text-decoration: underline;
                &:hover{
                    cursor: pointer;
                }
            }
            &.done a, &.active a{
                color: #000;
                font-weight: bold;
            }
            &.active{
                color:#000;
                background: #e6e6e6;
                background-image: url(../images/voortgang-pijl.png);
                background-repeat: no-repeat;
                background-position: -15px center;
                border-bottom-color: #000;
                font-weight: bold;
                a{
                    font-weight: bold;
                }
            }
            &.next-to-active{
                background-image: url(../images/voortgang-pijl-active-2.png); 
            }
            &.first{ 
                padding-left:15px; 
                background-image: none;
            }
        }
    }
    
    .form-navigation-disabled li{
        color: #999;
    }