.header-menu{
    width:160px;
    position: absolute;
    right: 15px;
    top: 6px;
    z-index: 1;
    .header-menu-item{
        width: 24px;
        height: 22px;
        display: block;
        float: right;
        padding: 7px 7px;
        border: 1px solid transparent;
        position: relative;
        .header-menu-item-icon{
	    	background: url(../images/icons-header.png) no-repeat 0 0;
            width: 24px;
            height: 22px;
        }
        button{
            background:none;
            vertical-align: middle;
            &:active,&:focus{
                border:none;
                outline:none;
            }
        }
        &.header-call{
            text-align: center; 
            .header-call-icon{
                font-size:18px;
                color:white;
                @include opacity(.5);
                @include text-shadow (1px 1px 2px rgba(0,0,0,0.6));
            }
            .header-call-icon:before{
                content: "c";
            }
            .header-call-icon:hover:before,
            .header-call-icon-active:before{
                content: "a";
            }
            .header-call-icon:hover, .header-call-icon-active{
                font-size:19px;
                position:relative;
                top:-1px;
                color:$secondary-color;
                @include opacity(1);
            }
            .header-call-icon-active:hover:before{
                content: "g";
            }
            .header-call-icon-active:hover{
                color:red;
            }
        }
    }
	.header-user{
        .header-menu-item-icon{
            background-position: -24px 0;
        }
        &.dropped{
            border-bottom: none;
            position: relative;
            z-index: 2;
            span{
                background-position: -48px 0;
            }
        }
    }
    .header-messages{
        .header-menu-item-icon {
            background-position: -72px 0;
        }
        &.zs-popup-menu-open .header-menu-item-icon {
            background-position: -96px 0;
        }
    }
    .header-menu-item.dropped:hover,
    .hover .header-menu-item.dropped{
        background: none;
        box-shadow: none;
        border: 1px solid transparent;
    }
}

.ie8 .header-menu{
    width:164px;
}

// flyout menu

.flyout-menu{
    position: fixed;
    z-index: 2999;
    top: 54px;
    right: 10px;
}

.flyout-menu-inner, .notification-list{
    background: #fff;
    border: 1px solid rgba(0,0,0,0.35);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    color: #333;
}

.no-rgba .flyout-menu-inner{
    border: 1px solid #aaa;
    margin-right: -1px;
    border-bottom-color: #999;
}

.flyout-menu-nub{
    width: 21px;
    height: 10px;
    position: absolute;
    top: -9px;
    right: 10px;
    background: url(../images/icons-header.png) no-repeat -1px -28px;
}

.flyout-menu-title{
    font-weight: bold;
    border-bottom: 1px solid #bbb;
    padding: 5px 10px;
}

// user menu

.user-menu{
    width: 152px;   
    .user-menu-inner{
        width: 150px;
    }
    a{
        font-size: 11px;
        color: #777;
        padding: 5px 7px 5px 29px;
        border-bottom: 1px solid #ddd;
        display: block;
        text-decoration: none;
        position: relative;
        font-weight: bold;
        &:hover{
            background: #f5f5f5;
        }
        &.user-menu-item-user{
            border-radius: 2px 0 0 0;
        }
        &.user-menu-item-logout{
            border-radius: 0 0 2px 2px;
            span{
                background-position: -11px 0;
            }
        }
        &.user-menu-item-last{
            border-bottom: none;
        }
        span{
            position: absolute;
            width: 11px;
            height: 11px;
            left: 9px;
            top: 50%;
            margin-top: -5.5px;
            background: url(../images/icons-user-menu.png) 0 0;
        }
        &.user-menu-item-last{
            border-bottom: none;
        }
        &.user-menu-item-logout span{
            background-position: -11px 0;
        }
    }
}

.ie8 .user-menu{
    width: 151px;
}

.ie7 .user-menu a{
    height: 20px;
    line-height: 22px;
}

// messages

.counter{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #de1b1b;
    color: #fff;
    font-size: 11px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    line-height: 16px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-indent: 0;
}

.counter.notification-count {
  top: 0px;
  right: 0px;
}

.counter-wrap{
    text-decoration:none;
}

.counter-in-results{
    position:static;
    margin:0 auto;
}

.zs-popup-menu-open .notification-list-wrapper {
    &:before{
        width: 21px;
        height: 10px;
        position: absolute;
        top: 38px;
        right: 10px;
        background: url(../images/icons-header.png) no-repeat -1px -28px;
        content:'';
        z-index: 1;
    }
}

.notification-list {
    width: 430px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #bbb !important;
    color: #333;
    top:47px !important;
    .notification {
        border-bottom: 1px solid #ccc !important;
        border-bottom: 1px solid rgba(0,0,0,0.15) !important;
        font-weight: normal;
        padding:7px 10px;
    }
    .notification-meta{
        font-size:11px;
        color:#888;
        color:rgba(0,0,0,0.4);
    }
    .notification-content{
        span{
            display: inline;
        }
        .notification-content-link {
            font-weight: normal;
        }
    }
}

.notification-unread {
    background-color: #ffffcc;
    *{
        font-weight: bold !important;
    }
}