/* @group Non-Semantic Helper Classes */

    /* @group Element Positioning */
    
    .left{float:left;margin-left:0;}
    .right{float:right !important;margin-right: 0 !important;}
    
    .col{float:left;}
    .col_right{float:right;}
    .col.marginright{margin-right:10px;}
    .col.col-left{margin-right: 10px;}
    
    /* @end */
    
        
    /* For image replacement */
    .ir { display: block; border: 0; text-indent: 100%;white-space: nowrap;overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
    .ir br { display: none; }
    
    /* Hide from both screenreaders and browsers: h5bp.com/u */
    .hidden { display: none !important; visibility: hidden; }
    
    /* Hide only visually, but have it available for screenreaders: h5bp.com/v */
    .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
    
    /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
    .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
    
    /* Hide visually and from screenreaders, but maintain layout */
    .invisible { visibility: hidden; }
    
    /* Contain floats: h5bp.com/q */ 
    .clearfix:before, .clearfix:after { content: ""; display: table; }
    .clearfix:after { clear: both; }
    .clearfix { zoom: 1; }

/* @end */


/* @group No Javascript */

    .hide{
        display: none;
    }
    
    .nojs-title{
        display: block;
        font-weight: bold !important;
        border-bottom: 2px solid #bbb;
        padding: 15px 15px 15px !important;
        margin: 0 -15px !important;
        background: #f5f5f5;
    }
    
    .js .nojs-title{
        display: none;
    }

    .noscript-notification{
        background: #fff9d7;
        border-bottom: 1px solid #e4da9f;
        padding: 15px 20px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100000;
    }
    
    .noscript-notification i{
        background: url(../images/icon-alert.png) no-repeat 0 0;
        background-repeat: no-repeat;
        background-size: auto auto;
        display: inline-block;
        margin:0 10px -3px 0;
        height: 16px;
        width: 16px;
    }
    
    .jshide{
        display: inline-block;
    }
    
    .nojshide{
        display: none;
    }
    
    .js .nojshide{
        display: inline-block;
    }
    
    .js .jshide{
        display: none;
    }
    
    html{
        padding: 50px 0 0;
    }
    
    html.js{
        padding: 0 !important;
    }
    
    
    
/* @end */


.inline{display: inline;}
.hide{display: none;}
.width-auto{display: inline-block !important;width:auto;}
.no-padding{padding:0;}
.no-padding-left{padding-left:0 !important;}
.text-right{text-align:right;}
.margin10{margin-bottom:10px;}
.marginbottom,.marginBottom{margin-bottom:20px !important;}
.no_margin{margin-bottom:0 !important;}
.rightmargin {margin-right: 15px;}
.padding-20 {padding : 20px;}
.padding-15{padding: 15px; }


/* @group CSS3 Niceness   */


.rounded{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.rounded-left{
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}

.rounded-right{
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

.shadow{
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

/* @end */

@import "spinners";