.fileUpload {
  position: relative !important;
}

.fileUpload .file {
  border: 1px solid #bbb;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 1px 1px #F1F1F1 inset;
  float: left;
  margin-right: 4px;
  padding: 0 5px;
}

.fileUpload .new_upload {
  /*position: absolute;*/
  top: 0;
  left: 0;
  background: #fff;
}

.fileToUpload {
  position: absolute;
}

.mintloader {
  color: #555;
  cursor: default;
  padding: 4px;
  background: #fff;
  position: relative;
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
}

.mintloader.hover {
  box-shadow: 0 1px 1px #ccc inset;
  background: #fff;
  border-color: #555;
}

.mintloader.active {
  z-index: 1101;
  box-shadow: 0 0 4px #ccc;
}

.progressIndicator {
  font-size: 1em;
}

.fileInfo {
  font-size: 10pt;
  font-style: italic;
  color: #aaa;
  margin-top: 10px;
  display: none;
}

.progressBarOuter {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px;
  float: left;
  box-shadow: 0px 1px 1px #ddd;
  background: white;
}

.progressBar {
  height: 2.615em;
  display: none;
  border-radius: 3px;
  background: url("../images/progress-value-bg.gif") repeat-x scroll 20px center #b0d77f;
}

.uploadResponse {
  margin: 4px -4px -4px;
  overflow: hidden;
  border-top: 1px solid #d0d0d0;
  background: #f3f3f3;
  border-radius: 0 0 5px 5px;
}

.mintloader.hover .uploadResponse {
  //margin: 4px -10px -10px;
  //padding-bottom: 6px;
}

.progressIndicator {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 100;
}

.progressNumber {
  display: none;
}

.transferBytesInfo {
  width: 100%;
  position: absolute;
  line-height: 2.7;
  text-align: center;
  color: #222;
  font-weight: bold;
}

.fileuploadthumbnail {
  background: url(../images/mime/icon-txt.png) no-repeat 6px center;
  clear: left;
  padding: 6px;
  padding-left: 28px;
  //border-top: 1px solid #fff;
  border-top: 1px solid #ccc;
  position:relative;
  list-style: none;
  margin:0 !important;
  &.fileuploadthumbnail-view{
    border-top:none;
    padding:3px;
    background-position:0 center;
    padding-left:22px;
  }
  &:first-child{
    border-top:none;
  }
}

.referred_field_value .fileuploadthumbnail{
  border:none;
}

.fileuploadthumbnail:last-child {
  border-bottom: none;
}

.mintloader.hover .fileuploadthumbnail {
  padding: 6px 12px;
  padding-left: 34px;
  background-position: 12px center;
}

.mintloader span.slepen {
  color: #ccc;
  margin-left: 10px;
  float: right;
  margin-right: 5px;
  line-height: 1.9;
}

.mintloader .mintloader-error {
  padding: 0 5px 5px 5px;
}

.mintloader-file-accept-message{
  display: inline;
  color:#aaa;
  margin-left:3px;
}

.ie8 .mintloader, .ie9 .mintloader {
  padding: 0;
  background: none;
  border: none;
}

.ie8 .fileuploadthumbnail, .ie9 .fileuploadthumbnail {
  background: url(../images/mime/icon-txt.png) no-repeat 0px center;
  padding-left: 22px;
  border: none !important;
}

.ie .fileUpload .new_upload {
  top: 0px;
  width: 100%;
  background-color: transparent;
}

.ie .fileUpload input,
input[type=file] {
  padding: 5px;
  border: 1px solid #aaa !important;
}

.filename_anchor{
  &:hover{
    text-decoration: underline;
    cursor:pointer;
  }
}