/* @group Openlayers Kaart */
.map-wrap {
  margin: 0 0 15px;
}

.map-header {
  border: 1px solid #aaa;
  border-bottom: none;
}

.map-header input {
  width: 100%;
  border: none !important;
  padding: 10px 0 10px 0;
  background: url("../images/icon-filter.png") no-repeat scroll 12px center;
  text-indent: 34px;
  margin: 0;
}

.ie8 .map-header input {
  text-indent: 0;
  padding-left: 34px;
}

.map-header input:focus,
.map-header input:active {
  box-shadow: none !important;
  border: none !important;
}

.map {
  border: 1px solid #aaa;
}

.map-balloon-title {
  margin-bottom: 6px;
  font-size: 1.231em;
  padding-bottom: 10px;
  border-bottom: 1px dotted #bbb;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-balloon-title a {
  text-decoration: none;
}

.map-balloon-title a span {
  font-weight: normal;
}

.map-balloon-list {
  padding-bottom: 0px;
  margin-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.map-balloon-list li {
  line-height: 1.6;
  list-style: none;
  margin-left: 0 !important;
}

.map-balloon-list li div {
  display: inline;
}

.map-balloon-list li div:first-child {
  font-weight: bold;
}

.map-wrap .map > div {
  width: 100% !important;
}

.map h2 {
  margin: 0 0 10px !important;
}
/* @end */