.qmatic-modal{
	.modal-body{
		width: 38em;
	}
}

.qmatic-modal-intro{
	padding-top:5px;
	line-height:1.7;
}

.qmatic-modal-list{
	float:left;
	width: 19em;
	list-style:none;
	padding:0;
	margin:1em 0;
}

.qmatic-modal-list-time{
	border-left:1px solid #ddd;
	padding:0 0 0 20px;
	width: 13em;
}

.qmatic-actions{
	clear:both;
	padding:15px 0 0;
	.button140{
		margin:0;
	}
}

.veldoptie-qmatic .button{
	margin-bottom:8px;
}