$base-font-size:13px;
$font-family: 'helvetica neue',helvetica,arial,sans-serif !default;
$background-color:#f1f1f1;
$primary-color: #45525a !default;
$secondary-color: #cbdd22 !default;
$text-color:#333;
$anchor-hover-color:#11449e;
$breakpoint: 1024px !default;
$grey-color:#ddd;