@import "dependencies";

// Custom Overlay

.custom_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //background: rgba(255,255,255,0.75);
    background:rgba(0,0,0,.5);
    display: none;
    z-index: 4000;
    div{
        background-color:#000;
        height: 48px;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        padding: 7px;
        position: absolute;
        top: 50%;
        width: 48px;
        @include border-radius(3px);
    }
}

.ie8 .custom_overlay { background: url(../images/ie_custom_overlay.png) repeat 0 0; }


        
// Globalspinner

.globalSpinner {
    width:100%;
    height: 100%;
    position: fixed;
    opacity: .85;
    filter:alpha(Opacity=85);
    top: 0;
    background-color: #000;
    text-align:right;
    z-index:2000;
    overflow: auto;
    display: none; 
}

.globalSpinner > div {
 background: url("../images/spinner-global.gif") no-repeat scroll 28px center #FFFFFF;
    font: bold 18px Tahoma,Geneva,sans-serif;
    left: 50%;
    margin-left: -180px;
    margin-top: -45px;
    padding: 30px 40px 30px 30px;
    position: absolute;
    top: 50%;
    width: 290px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}


// Tab Loader

.tab-loader{
    width:100%;
    min-height:350px;
    display:none;
    position: relative;
}

.tab-loader img{
    width:31px;
    height:31px;
    display: block;
    position: absolute;
    top:45%;
    left:50%;
    margin-left:-15px;
    margin-top:-15px;
}


// Simple Ajax Loader

.ajaxloader {
    background: url(../images/ajax-loader.gif) no-repeat center center;
}



// Zaakdossier accordion panel spinner

.ui-accordion h3 > img{
    display: block;
    width:16px;
    height:16px;
    position: absolute;
    left:1.6em;
    top:19px;
}



// Spinner klein

.spinner-klein{
    background: url(../images/loader.gif) no-repeat center center;
    width: 16px;
    height: 11px;
    top: 50%;
    margin-top: -6px;
    left: 20px;
    display: none;
    position: absolute;
}

.spinner_input_wrap{
    position: relative;
    display: inline-block;
}

.spinner_input{
    right: -23px;
    left: auto;
}


// Spinner small

.spinner-small{
  background: url(../images/loader.gif) no-repeat center center;
  width: 16px;
  height: 11px;
}

.spinner-dialog{
  margin-top: 10px;
  width: 16px;
  height: 11px;
  display: block;
  float: right;
  margin-right: 10px;
  zoom: 1;
}

.spinner-small.disabled{
  display: none;
}



// Accordion Search Spinner

img#betrokkene_loader{
margin-top:10px;
width:16px;
height:11px;
display: block;
float:right;
margin-right:10px;
zoom:1;
}

img.disabled{display:none !important;}



// ztAjaxUpdate_loader

.ztAjaxUpdate_loader {
    width:100px;
    height: 100px;
    position: absolute;
    left: 50%;
    background:url(../images/ajax-loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    z-index:2;
    overflow: auto;
    bottom: 50%;
    left: 50%;
}

.ztAjaxUpdate {
    position: relative;
}




// Spinner groot

.spinner-groot,
.formOverlay,
#spinner-groot {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    background: rgba(255,255,255,0.75);
    z-index: 1100; }
    
.ie8 .spinner-groot,
.ie8 .formOverlay{
    background: url(../images/spinner-ie-bg.png) repeat transparent;
} 

.spinner-groot-wrapper{
height:180px;
    position:relative;
    .spinner-groot.hasText > div{
        margin-top:30px;
        padding-top:50px;
        top:0;
        margin-bottom:30px;
        width:270px;
        text-align:center;
        margin-left:-135px;
    }
}

.spinner-groot > div {
    width: 31px;
    height: 31px;
    background: url("../images/spinner-global.gif") no-repeat scroll center top transparent;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute; }
 
.spinner-groot.hasText > div {
    width: 200px;
    height: 130px;
    margin-left: -100px;
    margin-top: -65px; }
 
.spinner-groot > div > span.spinner-groot-message {
    background: none repeat scroll 0 0 transparent;
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    display: block;
    padding-top: 40px; }
 
.spinner-groot.spinner-groot-no-alpha { background: #fff !important; }

.spinner-visible {
    visibility: visible;
}