.widget-search .widget-body {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.widget-search,
.widget-search * {
	@include box-sizing(border-box);
}

.widget-search-filter-component {
	display: table-cell;
	overflow-x: hidden;
	background: #f7f7f7;
	width: 50px;
	-webkit-transition: width .25s ease;
	transition: width .25s ease;
	border-right: 1px solid #ccc;
}

.widget-search-filter-component-header {
	white-space: nowrap;
	font-size: 0;
	margin:0px 0 0px 14px;
	padding:20px 7px 17px 0;
}

.widget-search-filter-collapse-button {
	display: inline-block;
	text-align: left;
	vertical-align:middle;
	margin:0 3px 0 0;
	color:#000;
	&.button-xsmall{
		padding:1px 2px;
		line-height: 1.7;
	}
	i{
		font-size: 24px;
		line-height:16px;
		top:0;
	}
}

.widget-search-filter-component-title {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	vertical-align:middle;
}

// .widget-search-filter-body {
// 	width: 300px;
// }

.widget-search-filter-unlocked .widget-search-filter-component-title {
	visibility: hidden;
}

.widget-search-filter-unlocked .widget-search-filter-body {
	visibility: hidden;
}

.widget-search-filter-locked .widget-search-filter-component {
	width: 300px;
}

.widget-search-filter-save{
	border-top:1px solid #e4e4e4;
}

.widget-search-filter-save-list{
	list-style:none;
	margin-bottom:10px;
}

.widget-search-filter-save-list-item {
	position: relative;
	margin:0 -5px;
	padding:0 5px;
}

.widget-search-save-list-item-label {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 230px;
	display: inline-block;
	line-height: 1.5;
	input{
		margin-left:1px;
	}
	span{
		vertical-align: middle;
	}
}

.widget-search-save-list-item-options {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	text-align: right;
	white-space: nowrap;
	display: none;
	.widget-search-save-list-item-options-button{
		font-size:11px;
		color:#bbb;
		background: none;
		&:hover{
			color:#000;
		}		
	}
}

.widget-search-filter-save-list-item:hover{
	//background:#f7f7f7;
	.widget-search-save-list-item-options{
		display: block;
	}
}

.widget-search-filter-save-list-item-edit{
	.widget-search-save-list-item-label{
		width:auto;
		span{
			display: none;
		}
		input[type="radio"]{
			@include opacity(.5);
		}
		&:hover{
			cursor:default;
		}
	} 
	.widget-search-save-list-item-form-name{
		width:210px;
		display: inline-block;
		line-height: 1;
		vertical-align: top;
		input{
			max-width:250px;
			display: inline-block;
			padding:2px;
			margin-left:-3px;
		}
	}
}

.widget-search-result {
	display: table-cell;
	height: 100%;
	width: 100%;
	&.widget-search-result-all{
		.widget-search-result-header{
			border-bottom:none;
		}
		.widget-search-result-list{
			list-style:none;
		}
		.accordion-panel{
			padding:0;
			border-bottom:none;
		}
	}
}

.zs-always-visible-hidden .widget-search-result-list {
	// position: relative;
	// top: 0;
	// z-index: 10000;
}

.widget-search{
	.form-field-label-empty {
		display: none;
	}
	.form-fieldset-collapse {
		font-size: 10px;
		color:#bbb;
		&:focus{
			outline:0;
		}
	}
	.form-fieldset-header {
		cursor: pointer;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

	}
}

.widget-search-settings-form-name{
	form[name=searchNameForm]{
		width:658px;
		.form-fieldset{
			padding-top:0;
			.form-field{
				padding-top:5px;
				input{
					width:447px;
				}
			}
		}
	}
}

.widget-search-settings-column > div{
	border:1px solid #ccc;
	ul li, ul li button{
		background:none;
		font-size:13px;
	}
	ul li{
		border-bottom:1px solid #eee;
	}
}

.widget-search-settings-column-title{
	display: block;
	padding:0px 0 10px;
}

.widget-search-settings-column-header{
	background:#eee;
	min-height:30px;
	padding:7px;
	border-bottom:1px solid #ccc;
	input{
		background:url("../images/icon-filter.png") no-repeat scroll 7px center #fff;
		width:100%;
		box-sizing:border-box;
		padding-left:25px;
	}
	span{
		line-height: 2.5;
		font-weight: bold;
		text-align: center;
		display: block;
	}
}

.widget-search-settings-column-available {
	display: inline-block;
	width: 300px;
	margin-right: 50px;
	vertical-align: top;
	position:relative;
	button{
		width:100%;
		padding:6px 10px;
		text-align: left;
		&:hover{
			background:#f6f6f6;
		}
	}
	&:after{
		content: "\F054";
		font-family: FontAwesome;
		font-size:30px;
		color: #ccc;
		position: absolute;
		right: -37px;
		top: 50%;
		margin-top: -15px;
	}
}

.widget-search-settings-column-selected {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	ul li{
		padding:4px 10px;
		position:relative;
		button{
			position:absolute;
			right:10px;
			top:50%;
			margin-top:-5px;
			i{
				font-size:12px;
				color:#999;
				&:hover{
					color:#000;
				}
			}
		}
	}
}

.widget-search-settings-column-list {
	height: 300px;
	overflow-y: auto;
}



.widget-search-filter-component{
	.form-fieldset{
		border-bottom:1px solid #e0e0e0;
		.form-fieldset{
			border:none;
		}
	}
	.form-fieldset-header{
		margin:0;
		padding:.8em 10px .8em;
		&:hover{
			background:#f0f0f0;
		}
	}
	
	.form-fieldset-meta{
		border-bottom:none;
		margin:0;
		padding:0;
	}
	.form-field{
		//padding:8px 5px 0px;
		padding:0 0 5px;
		border-bottom:none;
		input[type=text],.spot-enlighter-wrapper{
			width:100%;
		}
		&:first-child{
			padding-top:5px;
		}
	}
	.form-fieldset-children{
		padding:10px 17px 10px;
		background: #fff;
		border-top: 1px solid #ddd;
		// max-height:250px;
		// overflow: auto;
		.form-fieldset-children{
			padding:0;
			border:none;
		}
	}
	.widget-search-filter-save-body{
		padding:12px 9px 15px 17px;
		background:#fff;
		border-top:1px solid #ddd;
	}
	.form-fieldset-title{
		font-size:13px;
	}
	.form-field-input{
		width:100%;
	}
	.form-status {
		display: none;
	}
	.form-field-button-list {
		display: none;
	}
}

.widget-search-result {
	padding:0px 20px 15px;
	position: relative;
	.widget-search-result-header{
		padding:20px 0px 17px 0;
		border-bottom:1px solid #ccc;
		width: 100%;
		position:relative;
		> div{
			display: inline-block;
		}
		.widget-search-result-header-label{
			font-size:16px;
			font-weight: bold;
			padding-right: 5px;
			vertical-align: middle;
			height:28px;
			line-height: 1.6;
		}
		.widget-search-result-header-operations{
			display: inline-block;
			list-style: none;
			opacity:0;
			@include transition(opacity 1s);
			li{display:inline;}
			&.widget-search-result-header-operations-show{
				opacity:1;
			}
		}
		.widget-search-result-header-has-changed{
			color:#999;
			font-weight: normal;
			position:relative;
			margin-left:14px;
			margin-right:4px;
			&:before{
				border-top: 1px solid #bbb;
				content: "";
				position: absolute;
				left: -17px;
				top: 8px;
				width: 12px;
			}
		}
		.widget-search-result-header-save-options{
			button i{
				font-size:1.077em;
			}
		}
		.widget-search-result-header-select{
			vertical-align: middle;
			float:right;
			margin-right:15px;
			padding:5px 0;
		}
		.widget-search-result-header-display {
			text-align: right;
			vertical-align: middle;
			float:right;
			.button-group{
				display: inline-block;
				vertical-align: middle;
			}
			.widget-search-result-header-display-show-location{
				vertical-align: middle;
				margin-right:14px;
			}
		}
	}
	.widget-search-result-list{
		.widget-search-result-list-item{
			.widget-search-result-list-item-header{
				width:100%;
				padding:12px 2px;
				@include box-sizing(border-box);
				text-align: left;
				display: block;
				font-size:14px;
				//font-weight: bold;
			}
		}
	}
}

.widget-search-result-loader {
	background:rgba(255,255,255,.65);
	position:absolute;
	top: 0;
	left: 0;
	// right: 0;
	// bottom: 0;
	z-index: 1;
	opacity: 0;
	display:none;
	@include transition(opacity 0.25s ease-out);
	.widget-search-result-loader-spinner-wrapper{
		position:absolute;
		top: 160px;
		left: 50%;
		margin-left:-16px;
		.widget-search-result-loader-spinner{
			background:url("../images/spinner-global.gif") no-repeat 0 0;
			width:32px;
			height:32px;
			position:fixed;
		}
	}
}

.widget-search-loading .widget-search-result-loader {
	opacity: 1;
	bottom:0;
	right:0;
	display:block;
}

.widget-search-settings .form-status {
	display: none;
}

.widget-search .crud-loading .crud-loader {
	// opacity: 0;
	// right: auto;
	// bottom: auto;
}

.crud-table-column-header-case_number {
	text-align: right;
	padding-right: 20px;
}

.form-fieldset-name-kenmerken{
	.form-field-spot-enlighter-list-item{
		padding:0;
		margin:0 -18px;
		white-space: normal;
		overflow: visible;
		text-overflow: initial;
		&:before{
		    content: "";
		    display: none;
		}
		.form-field-spot-enlighter-list-item-label{
			position:relative;
			padding-left:33px;
			padding-right:22px;
			padding-top:6px;
			padding-bottom:6px;
			&:before{
			    font-family: FontAwesome;
			    content: "\f0da";
			    font-size: 1em;
			    width: 10px;
			    display: inline-block;
			    text-align: center;
			    position:absolute;
			    left:15px;
			}
		}
		.form-fieldset-children{
			margin:0 -2px;
			padding:10px 20px;
			border:1px solid #d0d0d0;
			background:#f0f0f0;
			@include box-shadow(inset 0 0 3px rgba(0,0,0,0.15));
		}
	}
	.form-field-spot-enlighter-list-item-expanded{
		.form-field-spot-enlighter-list-item-label{
			//font-weight: bold;
			&:before{
			    content: "\f0d7";
			}
		}
	}
	.form-field-spot-enlighter-list{
		margin:10px 0 15px;
	}
	.form-field-spot-enlighter-list-item-options{
		height:auto;
	}
	.checkbox-list-item {
		color: #999;
	}
	.checkbox-list-item-always-visible {
		color: inherit;
	}
}

.widget-search-result-map{
	.map-header{
		display: none;
	}
}

.widget-search-result-map-visible{
	.widget-search-result-map{
		.map-wrap{
			margin-bottom:20px;
		}
	}
	.crud-pagination-top{
		display: block;
		padding-top:0;
	}
}

.widget-search-result-chart {
	.highcharts-container{
		padding:10px 0;
	}
	.no-results{
		text-align: left;
	}
}