// Elementen

.mijlpaal_configureren .mijlpaal_content .blockcontent{
    padding-bottom: 70px !important;
}

.mijlpaal_content{
    position: relative;
    min-height:500px;
}

.ie8 .mijlpaal_content{
    min-height: auto;
}

.mijlpaal_element{
    &.mijlpaal_element_kenmerken .mijlpaal_element_rij .td_14px{padding-left:30px;}
    &.mijlpaal_element_kenmerken .mijlpaal_element_rij.mijlpaal_element_rij_groep .td_14px{
        padding-left:0px;
        font-weight: bold;
    }
    .lastrow td{border-bottom:1px solid #ddd;}
    .add-group{
        margin-top:15px;
        margin-left:20px !important;
    }
    > div > div{
        padding: 7px 15px 7px 25px;
        color: #666;
        display: block;
        line-height: 20px;
        font-size: 12px;
        background: #ffffcc;
        border-bottom: 1px solid #ccc;
        > span{
            display: inline-block;
            vertical-align: middle;
            &.icon{
                margin-right: 6px;
            }
        }
    }
}
        

.mijlpaal_element_toevoegen .button{
    width:100%;
    margin-bottom:5px;
    @include box-sizing(border-box);
    text-align: left;
}

// Voortgang
 
.mijlpaal_voortgang .blockcontent{padding:0px !important;}
.mijlpaal_voortgang p.mijlpaal{color:#000;font-size:14px;margin-bottom:0px;padding: 0;}
.mijlpaal_voortgang p.mijlpaal.current{color:#000;background:#eee;background: #f4f4f4;padding: 5px 20px;}
.mijlpaal_voortgang p.mijlpaal.done a{background:url(../images/icon-check.png) no-repeat 96% center;}
.mijlpaal_voortgang p.mijlpaal.empty a{background:url(../images/icon-cross.png) no-repeat 96% center;}
.mijlpaal_voortgang p.mijlpaal a{display: block;text-decoration: none;padding:5px 20px;}
.mijlpaal_voortgang p.mijlpaal a:hover{background-color: #f9f9f9;}