.mijlpaal_definitie{
    position: relative;
}

.mijlpalen{
    th{
        padding:0.6em 0.2em;
    }
    td{
        padding:14px 2px 0;
        vertical-align: middle;
        text-align:center;
        border-bottom:none;
    }
    input[type=text]{
        font-size:14px;
        padding:6px 8px;
        width:100%;
        @include box-sizing(border-box);
    }
    .lastrow td{
        padding-bottom:20px;
        border-bottom:1px solid #ddd;
    }
    .firstrow td{
        padding-top:20px;
    }
}