#regel_definitie{
    background: #fff;
    table#regel_template > tbody > tr{
        > td{
            padding: 0;
            border-color: #ccc;
            border-bottom: none !important;
        }
        &:last-child > td{
            border-bottom: 1px solid #ccc !important;
        }
        > td > table > tbody > tr:last-child td{
            border-bottom: none !important;
        }
        > td > table > tbody > tr td{
            padding: 0.8em .3em;
        }
    }
    select{
        max-width:200px;
    }
    table#pauzeer-aanvraag > tbody > tr:first-child > td.border-bottom{
        border-bottom: 1px solid #eee !important;
    }
}

.voeg-regel-toe{
    padding: 7px 5px 7px 10px;
    background: url("../images/block-header-bg.gif") repeat-x scroll left 1px #fff;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    height: 20px;
    .button{
        margin-top:-2px;
    }
}

.rules_inner_table{
    margin-bottom:20px;
    border:1px solid #bbb;
    border-bottom-color: #aaa;
    padding: 0 10px;
    background: #fbfbfb;
    > tbody > tr > td{
        border-bottom-style: dotted;
        border-color: #bbb;
    }
    &.last{
        margin-bottom: 0;
    }
}

tr.naam_regel{
    td{
        padding: 0 0em 1.5em !important;
    }
    strong, tr.naam_regel input{
        font-size: 1.25em;
    }
}

.kenmerk_filter input.error,
.kenmerk_filter input.error:hover{
    background: #ffdada;
    border-color: red;
}

.regel-email-inplannen{
     input{
        padding: 2px;
        margin-right:4px;
    }
    > div{
        margin:0 0 14px;
        &:last-child{
            margin: 0;
        }
    }
}

.widget_term > .widget_term_content{
    margin-right:5px;
}