.ztb-finish-fasen-overzicht h3{
    margin: 0 0 7px 0px;
    padding: 0 0 0 19px;
    position: relative;
    &:hover{
        cursor: pointer;
    }
}

h3{
    .expander {
      background-position: left center;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 0;
      zoom: 1; /* IE7 Hack */
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      background-image: url(../images/toggle-expand-dark.png);
    }
    &.expanded .expander {
      background-image: url(../images/toggle-collapse-dark.png);
    }
}
