.ztb-rollen tr.lastrow td{
    border-bottom: 1px solid #e5e5e5 !important;
}

.show{
    padding:4px 10px;
    border:1px solid #ccc;
    width:180px;
    display: block;
}

.show:hover{cursor:pointer;}

.auth-checkboxes{
    position: absolute;
    width:180px;
    padding:10px;
    background: #fff;
    border:1px solid #ccc;
    margin-top:-1px;
    min-height:105px;
    overflow: auto;
    @include border-radius(0 0 3px 3px);
    z-index:3;
    .auth-checkbox{margin-bottom:2px;}
    .button{
        margin-top:5px;
    }
}

.casetype-rights-role-org-unit,.casetype-rights-role-role{
    span{
        width:55px;
        display: inline-block;
    }
}

.ie8,.ie9{
    .casetype-rights-role-org-unit,
    .casetype-rights-role-role{
        select{
            width:70%;
        }
    }
}

.casetype-rights{
    @include box-sizing(border-box);
    width:49%;
    float:left;
    &:first-child{
        margin-right:2%;
    }
}

.casetype-rights-title{
    font-size:16px;
    font-weight: bold;
    margin:10px 0 15px;
}

.casetype-rights-title-table{
    margin-bottom:15px;
}

.casetype-rights-title-table-row-heading{
    background:#f9fafa;
    th{
        border-top: 1px solid #a9a9a9;
        border-bottom:1px solid #a9a9a9;
        &:first-child{
            padding-left:10px;
        }
    }
}

.casetype-rights-title-table-cell{
    vertical-align: middle;
}

.casetype-rights-title-table-cell-options button{
    background:none;
    @include opacity(.25);
    &:hover{
        @include opacity(1);
    }
}

.casetype-rights-type-list{
    list-style: none;
}

.auth_definitie-form-loading .spinner-groot{
    visibility:visible;
    top:48px;
}