<form 
	ng-submit="vm.handleSubmit()"
>
	
	<vorm-fieldset
		class="form-group"
		data-fields="vm.getFields()"
		on-change="vm.handleChange($name, $value)"
		data-values="vm.values()"
		data-valid="vm.getValidity()"
		is-pristine="vm.isPristine()"
		model-options="{ updateOn: 'default blur click select' }"
	>
	</vorm-fieldset>
	

	<div class="form-actions">

		<button class="btn btn-primary" type="submit" ng-disabled="!vm.isValid()">
			Aanmaken
		</button>

	</div>

</form>
