.dossier-inner-scroll-inner > div{
    position: absolute;
    top: 36px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.tab-inner-scroll{
    top: 178px;
    position: absolute;
    left: 233px;
    right: 15px;
    bottom: 15px;
    padding: 0;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.taken-inner-scroll{
    overflow: hidden;
}

.block-inner-scroll-center{
    width:70%;
    position:absolute;
    left: 0;
    top: 36px;
    bottom: 0;
    overflow: auto;
}

.block-inner-scroll-east{
    width: 30%;
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #f5f5f5 url(../images/dossier-sidebar-bg.gif) repeat 0 0;
}