.zaakdossier .spinner-groot{
    top: 36px;
}

.tabs-header{
    position: relative;
}

.tabs-header-saved{
    position: absolute;
    right: 14px;
    top: 18px;
    color: #aaa;
}

.icons-zaakdossier{
    background: url(../images/icons-zaakdossier.png);
}

.zaakdossier .ui-tabs .ui-tabs-panel{
    padding: 0;
}

.zaakdossier .ui-tabs .ui-tabs-nav li{
    &.tab-icon{
        padding-left: .6em;
        padding-right: .6em;
        a{
            background-position: 0 -6px;
            text-indent: -9999px;
            width: 32px;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
        &.tab-timeline a{
            background-position: -32px -6px;
        }
        &.tab-icon.tab-subcases a{
            background-position: -64px -6px;
        }
    }
    &.fase a{
        padding: .7em 1.3em .7em .9em;
    }
    &.fase.done a{
        font-weight: normal;
    }
    &.ui-tabs-selected {
        background: #e3ec87;
        @include background(linear-gradient(to bottom,  #e3ec87 0%,#dfe975 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ec87', endColorstr='#dfe975',GradientType=0 );
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.7));
        position: relative;
        z-index: 1;
    }
    .icon{
        margin-right: 8px;
    }
    .icon-fase-done{
        background-position: 0 -54px;
    }
    .icon-fase-new{
        background-position: -16px -54px;
    }
    .counter{
        z-index:10;
        top:-5px;
        right:-2px;
        display: none;
    }
    &.fase-has-notifications .counter{display:block;}
}

.tab-info{
    background: #dfe975;
    padding: 8px 16px;
    border-bottom: 1px solid #a4a5a0;
    position: relative;
    z-index: 3;
    height: 19px;
    font-size: 13px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 0 1px;
    .icon-tab-info{
        background-position: -32px -54px;
    }
}

.ui-tabs-hidden{
    visibility: hidden;
}

.ui-tabs-visible{
    visibility: visible;
}

.button-unlock-registration-phase{
    margin:10px 0 0;
}