.zaakdossier .timeline{
    padding: 0 !important;
    & > div{
        background: url("../images/line.png") repeat-y scroll 19px top transparent;
    }
    .timeline-content{
        padding: 0 0 0 10px;
    }
    .line-gradient{
        left: 19px;
    }
}