.deelzaken{
    padding: 15px 20px;
    font-weight: normal;
    background: #fff;
    td{
        border-bottom-color: #ddd;
    }
    tr.current_case td{
       background: #f7f7f7;
       border-bottom: 1px solid #ddd;
    }
    .table-cell{
        border-bottom: 1px solid #eee;
        padding: 0.8em 0.3em;
    }
    .spot-enlighter-wrapper{
        width:250px;
    }
}

form[name="newRelation"]{
    padding: .8em .3em;
}

.case-relation-drag {
    display: inline-block;
    margin: 10px;
}

.case-relation-drag-content {
    display: inline-block;
    border: 1px solid #ccc;
    background: white;
    padding: 4px 8px 4px 24px;
    font-size: 14px;
    font-weight: bold;
}

#zaak-elements-deelzaken {
    position: relative;
    min-height: 100px;
}