.zaakdossier-titel{
    height: 62px;
}

.zaak-info{
    @include background(linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%));
    position: relative;
}

.zaak-info-inner{
    margin-right: 170px;
    padding: 14px 0 0px 12px;
}

.zaaktitel {
    font-size:18px;
    font-weight: bold;
    padding-left: 5px;
    span{
        font-weight: normal;
        color: #888;
    }
}

.zaakdossier-tabs{
    background: #efefef;
    ul.ui-tabs-nav{
        padding-top: 12px;
        background: transparent;
        position:relative;
        z-index:1; 
    }
}

.zaak-acties{
    right: 12px;
    top: 12px;
    position: absolute;
    height: 38px;
    .button_num_1{
        float: right;
    }
}

.zaak-meta{
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 2px;
    overflow:hidden;
    height:20px;
    a{
        text-decoration: none;
    }
    em{
        color:#aaa;
        font-style: normal;
    }
    .zaak-meta-item{
        display: block;
        float: left;
        margin-right: 5px;
        padding: 0 5px;
        background-position: 5px center !important;
        border-radius: 3px;
        &:hover{
            background-color: #e6e6e6;
        }
        &:active{
            position: relative;
            top: 1px;
        }
        &.zaak-is-over-streefdatum{
            color:darken(red,5%);
            font-weight: bold;
        }
    }
    span.zaak-meta-item:hover{
        cursor: default;
    }
    .zaak-meta-item-action{
        text-decoration: underline;
    }
}

.modal-vertrouwelijkheid label{
    display:block;
}