/* @group Knoppen */



/* ID-Knop Kleuren */

a.id-knop.id-knop-bussumid{
	background: #2c4d76;
	border: 1px solid #2c4d76;
}

a.id-knop.id-knop-bussumid:hover{
	border: 1px solid #2c4d76 !important;
	background: rgb(68,122,175);
	background: -moz-linear-gradient(top,  rgb(68,122,175) 0%, rgb(44,77,118) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,122,175)), color-stop(100%,rgb(44,77,118)));
	background: -webkit-linear-gradient(top,  rgb(68,122,175) 0%,rgb(44,77,118) 100%);
	background: -o-linear-gradient(top,  rgb(68,122,175) 0%,rgb(44,77,118) 100%);
	background: -ms-linear-gradient(top,  rgb(68,122,175) 0%,rgb(44,77,118) 100%);
	background: linear-gradient(top,  rgb(68,122,175) 0%,rgb(44,77,118) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447aaf', endColorstr='#2c4d76',GradientType=0 );
}

a.id-knop.id-knop-bussumid:active{
	background: rgb(44,77,118);
	background: -moz-linear-gradient(top,  rgb(44,77,118) 0%, rgb(62,116,160) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(44,77,118)), color-stop(100%,rgb(62,116,160)));
	background: -webkit-linear-gradient(top,  rgb(44,77,118) 0%,rgb(62,116,160) 100%);
	background: -o-linear-gradient(top,  rgb(44,77,118) 0%,rgb(62,116,160) 100%);
	background: -ms-linear-gradient(top,  rgb(44,77,118) 0%,rgb(62,116,160) 100%);
	background: linear-gradient(top,  rgb(44,77,118) 0%,rgb(62,116,160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4d76', endColorstr='#3e74a0',GradientType=0 );
}

.id-knop.id-knop-bussumid span{
	color: #b1b72d;
}

/* @group Button140 */

.button140 {background: #083e80;}
.button140:hover{background: #333 !important;}

/* @end */



/* @end */

/* @group Groepen */

.stap.active{
color:#083e80 !important;
border-bottom-color: #083e80 !important;
font-weight: bold;
}

/* @end */

/* @group Bussum overrides */

.block{
	width: 100%;
	padding: 0;
}

.block > .header{
	padding: 15px 0px 25px;
}

.webform .block > .header{
	padding: 15px 0;
}

.header h1{
	font-size: 2em;
	font-weight: bold;
	line-height: 1.3;
}

.blockcontent h2{
	font-size: 1.4em !important;
	font-weight: bold !important;
}

.header > .header-title{
	line-height: 1.5;
}

.content{
	clear: both;
	padding-top: 30px;
}

#jpcarousel li {
	width:162px;
	height:112px;
}

#bread {
	width: 99%;
}

#language-tool{
    background: url(../../../form/bussum/img/language-switcher.jpg) no-repeat scroll 0 0 transparent;
    height: 24px;
    left: 845px;
    position: absolute;
    top: 4px;
    width: 110px;
}

#fontsizer .tx-fontsizer-pi1 {
    left: 1px;
    position: relative;
    top: -2px;
}

#main{
	background:url(../img/bottom-content-divide.gif) no-repeat center bottom;
	padding-bottom:35px;
}

#header-bottom{background: none !important;}

#wrap{padding:20px;}

#loginwrap label{float: none;}

.ncsolr-label-search {
    float: left;
}

.pip{
	padding-top: 0;
}

.pip_inlog_wrapper h1{
	padding: 10px 20px;
}

/* @end */

/* @group PIP Kleuren */

.pip-voortgang-wrap,.pip-button-afronden{
	background: #AAC027 !important;
}

.pip-voortgang-wrap .pip-voortgang-perc,
.pip-button-afronden:hover{
	background-color: rgb(139, 145, 15) !important;
}

.fasen .fase.done{
	background: #AAC027 !important;
}

.fasen .fase.huidig{
	background: #073d7b !important; 
}

/* @end */