.timeline-filter{
    float: left;
    width: 172px;
    padding: 20px 0 0 30px;
    .search_wrap{
        margin-bottom: 12px;
    }
    h3{
        margin-bottom: 15px;
    }
    .timeline-options{
        margin-bottom: 15px;
    }

    .timeline-options li{
        list-style: none;
        line-height: 1.8;
    }

    .timeline-filter-input{
        float: none !important;
        margin-bottom: 15px;
    }

    .timeline-filter-checkbox{
        margin-right: 3px;
    }
}