.line-gradient{
    width: 3px;
    height: 24px;
    background: url('../images/icons-timeline.png') -110px -37px no-repeat;
    position: absolute;
    top: 0;
    left: 9px;
    z-index: 1;
}

.timeline{
    background: url(../images/timeline-top-verloop.png) repeat-x top left #f6f6f6 !important;
    padding: 1em 1.5em 0 !important;
    .spine {
        height: 100%;
        left: 350px;
        position: absolute;
        width: 29px;
        z-index: 1;
    }
    .pointer {
        background: url(../images/icons-timeline.png) -132px -42px no-repeat;
        width: 23px;
        height: 15px;
        position: absolute;
        top: 20px;
        left: -22px;
        right: auto;
    }
    .timeline-content{
        width: 729px;
        float: left;
        position: relative;
    }
}

.timeline-inner{
    width: 729px !important;
    margin: 0;
    position: relative;
    background: url("../images/line.png") repeat-y scroll 9px top transparent;
    padding: 20px 0 20px;
    position: relative;
    > .left + li > .pointer {
      top: 40px;
    }
}

.timeline-inner,
.timeline li.timeline-item{
    list-style-type: none;
}

.timeline-loader .icon-spinner-timeline{
    background:url(../images/spinner-timeline.gif) no-repeat 0 0;
}

.timeline-loader > i { visibility: hidden; }
.timeline-loader > button{
    display: none;
}

.timeline-loader-loading > i { visibility: visible; }