.timeline-item{
    float: none !important;
    margin-bottom: 15px;
    position: relative;
    width: 350px;
    margin-left: 29px;
    width: 700px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    &.right {
        float: none !important;
    }
    .timeline-item-inner{
        background-color: #fff;
        border: 1px solid #cccccc;
        padding: 5px;
        @include transition(background-color 0.5s ease);
        &.timeline-item-new {
            background-color: #ffffcc;
        }
    }
    .timeline-item-highlighted .timeline-item-inner {
        background-color: #ffffcc;
    }
}

.timeline-item-important{
    position: absolute;
    width: 4px;
    background: #33aae8;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}

.timeline-item-priority .timeline-item-important{
    display: block;
}

.timeline-item-title{
    padding: 0px 160px 0px 50px;
    position: relative;
    min-height: 46px;
}

.timeline-item-date{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 12px;
    line-height: 12px;
    color: #999;
    margin-top: -6px;
}

.timeline-item-titel{
    font-size: 14px;
    display: block;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    padding: 5px 0;
    font-weight: bold;
}

.timeline-item-extended .timeline-item-titel{
    padding: 5px 0 10px;
}

.timeline-item-desc-meta{
    font-weight: normal;
    font-size: 12px;
    color: #999;
    display: block;
    margin-top: 2px;
    a{
        color:#999;
        &:hover{
            color:#000;
        }
    }
}

.timeline-item-meta{
    color: #aaa;
    font-size: 12px;
}

.timeline-item-content{
    padding: 10px 10px 5px;
    border-top: 1px solid #ddd;
}

.timeline-item-content pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.timeline-item-expand {
    width: 100%;
    background: none;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    color: #666;
}

.timeline-item-expand:hover {
    background-color: #eee;
}

.timeline-item-attachments{
    margin: 0px;
    padding: 0;
}

.timeline-item-attachments button{
   background: #f5f5f5;
    font-size: 1em;
    margin: 0 3px 3px 0;
    border-bottom: 1px solid transparent;
    padding: 4px 10px 4px 7px;
    display: block;
    width: 100%;
    text-align: left;
}

.timeline-item-attachments button:hover{
    background:#eee;
    cursor:pointer;
}