.notitie{
    padding: 4px 10px 10px;
    p{
        margin-bottom:5px;
    }
    button{
        display: block;
        margin-left: 0;
        &[disabled="disabled"]{
            opacity: 0.5;
            filter: alpha(opacity = 30);
            cursor: default;
            pointer-events:none;
        }
    }
    input[type=text],
    textarea{
        width: 656px;
        font-size: 14px;
        height: 18px;
    }
    .spot-enlighter-wrapper input[type=text]{
        height:30px;
    }
}

.timeline-form-contactmoment{
    input[type=text]{
        width: 270px;
        margin-right:0;
        font-size: 13px;
        float: left;
    }
    input[placeholder="Zaaknummer"]{
        margin-right:4px;
    }
    textarea {
        height: 38px;
        margin-bottom: 8px;
        display: block;
    }
    input[type=text]:focus,
    input[type=text]:hover,
    textarea:focus,
    textarea:hover{
        position: relative;
        z-index: 1;
        border-style: solid;
    }
    .spot-enlighter-tag-wrapper {
        z-index: 2;
        padding: 4px;
    }
    .ui-selectmenu-status{
        line-height: 1.7;
        padding-left: .55em;
    }
    span.contactmoment-form-via{
        display: inline-block;
        line-height: 28px;
        padding: 0 2px;
        vertical-align: top;
    }
    a span {
        vertical-align: baseline;
    }
}

.notitie-type{
    padding: 0 0 12px;
    a{
        padding-left: 22px;
        position: relative;
        margin-right: 10px;
        font-weight: bold;
        text-decoration: none;
        color: #999;
        &:hover{
            color: #000;
            text-decoration: underline;
        }
        &.active{
            color: #000;
            > .current-notitie-type{
                display: block;
            }
        }
        span{
            background: url(../images/icons-timeline.png) no-repeat -8px -40px;
            position: absolute;
            left: 0;
            top: 50%;
            width: 16px;
            height: 16px;
            margin-top: -8px;
        }
    }
}

.current-notitie-type{
    width: 14px;
    height: 7px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    background: url(../images/icons-timeline.png) no-repeat -72px -44px;
    display: none;
    z-index: 2;
}

.notitie-type-contactmoment span{
    background-position: -40px -40px !important;
}

.contactmoment-form-via {
    margin-left: 8px;
}

.contactchannel-select-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 234px;
}

.contactchannel-select-wrapper > select {
    width: 234px;
}