@import "partials/dependencies";
@import "partials/knop";
@import "partials/button140";
@import "partials/button";
@import "partials/actions-nav";
@import "partials/dropdown";
@import "partials/button";


/* @group Element */

.element {
    background: url("../images/element-bg.gif") repeat-x scroll 0 1px #FFFFFF;
    border: 1px solid #BBBBBB !important;
    border-bottom-color: #999 !important;
    border-top-color: #ccc !important;
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 7px;
    padding: 6px 8px 6px 32px;
    position: relative;
    text-decoration: none;
    font-weight: normal;
    color: #333 !important; }
 
    .element:hover { border-color: #666 !important; }
 
    .element:active { background-position: 0 -35px; }
 
    .element span,
    .knop span {
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 7px;
        width: 16px;
        height: 16px; }
 
.element.small {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px; }

/* @end */

/* @group Misc */

    .show-more{
        padding: 8px 0;
        display:block;
        color: #aaa;
        font-size: .92em;
        text-align: left;
        border-bottom: 1px solid #eee;
        background:transparent;
        width:100%;
    }
    
    .show-more:hover{
        cursor: pointer;
        background: #f7f7f7;
    }

    .show-more.show-less .icon-show-more  { background-position: 0 -18px;}

    .show-more-no-line{
        border:none;
        padding:3px 0;
        background:#f9f9f9;
        background:rgba(0,0,0,0.05);
        margin:8px 0 0;
        text-align: center;
        &:hover{
            background:#f0f0f0;
            background:rgba(0,0,0,0.07);
        }
    }

/* @end */

/* @group ID Knop */
    
    .id-knop{
        background: #222;
        display: block;
        margin:0 0 30px;
        border-radius: 5px;
        color: white !important;
        text-decoration: none;
        text-align: center;
        font-size: 1.385em;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        height: auto;
        border: 1px solid #222222;
        padding: 21px 0 20px;
        width: 100%;
    }
    
    .id-knop:hover{
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.3));
        cursor: pointer;
        background: rgb(85,85,85);
        @include background(linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 );
    }
    
    .id-knop:active{
        border: 1px solid #222222;
        position: relative;
        top: 1px;
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,0.5));
        background: rgb(34,34,34);
        @include background(linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
    }
    
    .id-knop-groot{
        line-height: 3;
        font-size: 1.692em;
    }

    .id-knop.id-knop-digid img{
        vertical-align: middle;
        display: inline-block;
    }
     

/* @end */
