@import "partials/dependencies";

/* @group Contact */

.contact{
    margin-bottom:20px;
}

.contact .contact-header{
    padding-bottom: 15px;
    padding-top: 9px;
    height: 47px;
    background: #efeded;
    padding-left: 16px;
    position: relative;
}

.contact-acties{
    right: 12px;
    top: 12px;
    position: absolute;
    height: 38px;
}

.contact.ui-tabs .ui-tabs-nav{
    height: 36px;
}

.contact-naam{
    line-height: 1.7;
    font-size:1.4em;
    font-weight: bold;
}

.contact-gegevens-overzicht{
    font-size: 13px;
    font-weight: normal;
}

.contact-dashboard{
    position: absolute;
    padding: 0;
    left: 233px;
    top: 175px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #aaa !important;
    border-top: none !important;
    background:#fff !important;
}

.contact-dashboard .splitter-dashboard {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
}

.contact-dashboard .blockcontent-left{
    width: 35%;
}

.contact-dashboard .blockcontent-right{
    /*background: #f7f7f7;*/
    width: 65%;
}

.contact-dashboard .ui-layout-pane{
    padding: 0;
}

.contact-dashboard-header{
    border-bottom: 1px solid #bbb;
    height: 54px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    @include box-shadow(0 1px 3px rgba(0,0,0,0.10));
    z-index: 5;
}

.contact-dashboard-header .filter-veld{
    position: absolute;
    right: 0px;
    top: 12px;
}

.contact-dashboard-header .filter-veld input{
    background-color: #fff;
}

.contact-dashboard-content{
    padding: 15px;
}

.contact-dashboard-timeline .contact-dashboard-content{
    padding: 0;
    background: #f6f6f6 url("../images/line.png") repeat-y scroll 17px top;
}

.contact-dashboard-header{
    line-height: 54px;
}

.contact-dashboard-inner-scroll{
    position: absolute;
    top: 55px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

.contact-dashboard-timeline .filter-veld input{
    width: 90px;
}

.contact-informatie ul{
    margin-left: 15px;
}

.contact .contact-zaken .header-filter{
    margin-top: -52px;
    margin-bottom: 20px;
}

.ie8 .contact .contact-zaken .header-filter{
    margin-top: -62px;
}

#tab-wgt-timeline{
    padding: 0;
}

.contact-dashboard .timeline-content,
.contact-dashboard .timeline-inner{
    width: auto !important;
}

.contact-dashboard .timeline-inner{
    padding: 20px 0 0;
}

.contact-dashboard .timeline{
    padding: .4em 1.1em 0 .6em !important;
}

.contact-dashboard .timeline .timeline-item{
    width: auto;
    min-width: 305px;
}

.contact-dashboard .timeline .notitie input[type="text"],
.contact-dashboard .timeline .notitie textarea{
    width: 96%;
    padding: 5px 2%;
}

.contact-dashboard .timeline .notitie .timeline-form-contactmoment .spot-enlighter-wrapper {
    width: 15%;
}

.contact-dashboard .timeline .notitie .timeline-form-contactmoment .spot-enlighter-wrapper > input {
    padding-left: 4px;
    padding-right: 4px;
}

.contact-dashboard .timeline-form-contactmoment select{
    width: 90px;
}

.contact-dashboard .timeline-item-date{
    position: static;
    margin: 0;
    color: #000;
    font-weight: bold;
}

.contact-dashboard .timeline-item-title{
    padding: 10px 10px 0px 50px;
    font-size: 12px !important;
}

.contact-dashboard .timeline-item-titel{
    font-size: 12px !important;
    height: auto;
    padding: 4px 0;
}

.contact-dashboard .timeline-filter{
    display: none;
}

.contact-dashboard .timeline-form-contactmoment > span{
    padding: 0 0 0 4px;
    font-size: 11px;
    font-weight: bold;
    color: #777;    
}

.contact-dashboard .timeline-item-extended .timeline-item-titel{
    padding-top: 4px;
}

.contact-dashboard .timeline-loader button{
    margin-bottom: 20px;
    display: inline-block;
}

.contact-dashboard .timeline-loader.timeline-loader-loading button{
    visibility: hidden;
}

.contact-dashboard .timeline .contactchannel-select-wrapper{
    width: auto;
}

.contact-wachtwoord-wijzigen{
    input{
        width:80%;
    }
    table{
        margin-bottom:15px;
    }
    table .lastrow td{
        border-bottom:1px solid #ddd !important;
    }
}

.contact-settings-block{
    margin-bottom:10px;
    h3{
        border-bottom:2px solid #ddd;
        margin:0;
        padding:15px 0;
    }
    .contact-settings-block-content{
        padding:15px 0;
    }
}

.contact-signature-current{
    padding:10px 0;
    img{
        display: block;
        margin-bottom:10px;
    }
}

.contact-signature-upload-help{
    padding:10px 0;
}

.contact-signature-wijzigen-empty .contact-signature-upload-help{
    display: block;
}

.contact-signature-upload-button, .contact-signature-upload-remove{
    display: inline;
}

.ie8 .contact-signature-upload-button, .ie9 .contact-signature-upload-button{
    button{display: none;}
    form{margin-bottom:10px;}
}


/* @end */
