@import "partials/settings";
@import "partials/dependencies";
@import "partials/compass/compass-box-sizing";

$crud-header-color: #f9f9f9;
$crud-selected-color: #F7FCFF;
$crud-selected-border-color: #C6D8E4;

.crud{
    font-size:1em;
    white-space: nowrap;
    position: relative;
    .table-header {
        background:$crud-header-color;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-align: start;
        white-space: normal;
        .table-cell-header {
            border-top:1px solid #a9a9a9;
            border-bottom:1px solid #a9a9a9;
            vertical-align: middle;
            @include box-sizing(border-box);
            padding-top:0;
            padding-bottom:0;
            .crud-table-column-header-label-button{
                height: 52px;
                width:100%;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                > span{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width:100%;
                }
                &:hover{
                    background:rgba(0,0,0,0.03);
                    @include box-sizing(border-box);
                    text-decoration: none;
                } 
                .column-label{
                    display: inline-block;
                }
            }
        }
    }
    .table-header.crud-header .crud-table-column-header-label-button{
        padding:0 .5em;
        position: relative;
        .column-sort{
            font-size:.6em;
            position:relative;
            top:-4px;
        }
        &:hover{
            //text-decoration: underline;
        }
    }
    &.crud-column-managed .table-header.crud-header{
        .crud-table-column-header-label-button{
            padding:0 1.7em 0 .5em;
        }
        .crud-table-column-header-locked .crud-table-column-header-label-button{
            padding:0 .5em;
        }
    }
    // &:after{
    //     top:0;
    //     right:0;
    //     bottom:0;
    //     position:absolute;
    //     content:'';
    //     width:8px;
    //     height:100%;
    //     @include background(linear-gradient(to right,rgba(0,0,0,0) 0%,#fff 100%));
    // }
}

.crud .table-cell {
  border-bottom: 1px solid #ddd;
}

.crud-table{
    position:relative;
    table-layout: auto;
    border-collapse: collapse;
    min-width:960px;
}

.crud-table-item-cell-content {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    vertical-align: middle;
}
// .crud-hidden {
//     line-height: normal;
// }

// .crud-hidden > .table-row > .table-cell-header {
//     padding-top: 0;
//     padding-bottom: 0;
//     border: 0;
//     overflow: hidden;
//     height:0;
//     & > * {
//         height: 0;
//         overflow: hidden;
//         visibility: hidden;
//         display: block;
//     }
// }

.crud-table-item-row {
    &:hover{
        background:$crud-header-color;
        color: inherit;
    }
    &:focus{
        background: $crud-header-color;
        outline: none;
    }
    &.crud-table-item-row-selected {
        background: $crud-selected-color;
        .crud-table-item-cell {
            border-bottom: 1px solid $crud-selected-border-color;
        }
    }
    &.crud-table-item-row-error{
        background: #fef2f2;
        background:rgba(255,0,0,.05);
    }
}

.crud-table-item-row[href] {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.crud-table-column-header {
    padding: 1em 0;
    position:relative;
    &:hover{
        .crud-table-column-header-remove{
            display: block;
        }
    }
}

.crud-table-column-header-remove {
    position:absolute;
    right:0px;
    top:0px;
    height:52px;
    width:20px;
    display: none;
}

.crud-table-column-header-remove-button {
    background:none;
    width: 20px;
    height: 100%;
    cursor: pointer;
    padding:0;
    text-align: center;
    i{
        margin-right:0;
        font-size:1em;
        @include opacity(.2);
    }
    &:hover{
        background:#ddd;
        i{
            color:#000 !important;
            @include opacity(1);
        }
    }
}

.crud-table-item-cell {
    padding: 1em 0.5em;
    vertical-align: middle;
}

.crud-table-column-header-label-button {
    background:none;
    font-size:1em;
    font-weight: bold;
}

.crud-actions {
    display: table-caption;
    height: 54px;
    border-top:1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    position:absolute;
    top:0;
    width:100%;
    .crud-table-select-cell {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        // padding-right:1.6em !important;
        // padding-left:1.6em !important;
    }
    .crud-table-action-cell {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
    }
    .crud-action{
        margin-right:5px;
    }
}

.crud-table-action-cell {
    // display: inline-block;
}

.crud-table-action-cell > ul > li > button{
    margin-right:6px;
}

.crud-table-select-cell{
    text-align: center;
    width: 40px !important;
    //padding:1em 0.5em !important;
}

.crud-table-column-header-case_status{
    width:25px !important;
}

.crud-table-value-cell-case_progress_status{
    .crud-table-item-cell-content{
        max-width:inherit;
    }
}

.crud-table-column-header-case_progress_status{
    width:100px !important;
}

.crud-table-column-header-case_days_left{
    width:57px !important;
}

.crud-table-column-header-actions{
    width:60px !important;
}

.crud-table-column-header-notifications{
    width:20px !important;
}

.crud-table-value-cell-notifications{
    padding:0;
    text-align: center;
    .crud-table-item-cell-content{
        width:18px;
        height:18px;
    }
}

.crud-table-action-cell > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}

.crud-table-action-cell{
    padding:0;
}

// .crud thead .crud-table-action-cell button{
//     @include border-radius(2px);
//     vertical-align: middle;
//     font-weight: bold;
//     border:1px solid #b9b9b9;
//     @include box-shadow(0 1px 1px rgba(0,0,0,0.05));
//     background: #f9f9f9;
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
//     @include background(linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%));
//     padding: 0 8px;
//     color: #444;
//     font-size: 11px;
//     height: 30px;
//     line-height: 30px;
//     margin-right:6px;
//     margin-bottom:0;
//     &:hover{
//         background: #f5f5f5;
//         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );
//         @include background(linear-gradient(top,#f5f5f5 0%,#e0e0e0 100%));
//         @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
//         border-color: #999;
//     }
//     &:active{
//         background: #e0e0e0;
//         @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.2));
//         border-color: #999;
//     }
// }

.crud .row {
    display: inline-block;
    .column {
        display: inline-block;
        width: auto;
    }
}

.crud .form-fieldset{
    padding:0;
}

.crud .form-fieldset-children {
    .form-field{
        margin:0 15px 15px 0;
    }
}

.crud .form-field-button-list{
    display: none;
}

.crud .form-field {
    display: inline-block;
    width: auto;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}

.crud-select-all-wrapper{
    height:50px;
    .crud-table-select-cell{
        border-bottom:none;
    }
    .table-row{
        height:33px;
    }
    .table-cell{
        position:absolute;
        top:51px;
        width:100%;
    }
}

.crud-select-all button{
    font-size:1em;
}

.crud-select-all {
    width: 100%;
    text-align: center;
    background-color: #f9fccb;
    border: 1px solid #c9c441;
    border-right:none;
    border-left:none;
    line-height: 32px;
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    margin-top:-1px;
    @include box-shadow(0 1px 1px rgba(0,0,0,0.1));
}

.crud-select-all-button {
    background: none;
    text-decoration: underline;
    font-weight: inherit;
}

.crud-loader {
    background: rgba(255,255,255,0.65);
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -ms-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.crud-loading .crud-loader {
    opacity: 1;
    right: 0;
    bottom: 0;
}

.crud-table-column-header-management {
    padding: 0;
    width: 18px !important;
    .crud-table-column-header-management-button {
        display: block;
        height: 52px;
        width: 100%;
        border:1px solid #a9a9a9;
        border-top:none;
        border-bottom:none;
        @include border-radius(0);
        padding:0;
        text-align: center;
    }
}

.crud-column-popup-menu.popup-menu{
    width:300px;
    border:1px solid #bbb;
    right:0;
    left:auto;
}

.crud-column-popup-menu-query {
    padding: 10px 15px 10px;
    position: relative;
    .spot-enlighter-loading {
        right: 19px;
    }
}

.crud-column-popup-menu-query-input {
    width: 100%;
}
 
.crud-column-popup-menu-list {
    max-height:400px;
    overflow:auto;
}

.crud-column-popup-menu .spot-enlighter-loading {
    visibility: hidden;
}

.crud-column-popup-menu-loading .spot-enlighter-loading {
    visibility: visible;
}

.zs-popup-menu .crud-column-popup-menu-list {
    position: static;
    width: 100%;
}

.popup-menu .crud-column-popup-menu-list-item-button {
    padding: 5px !important;
}

.icon-font-awesome.crud-column-popup-menu-list-item-button-icon {
    visibility: hidden;
    color: inherit;
    font-size: 0.8em;
    vertical-align: middle;
    padding: 0;
}

.crud-column-popup-menu-list-item-active .crud-column-popup-menu-list-item-button-icon {
    visibility: visible;
}

.crud-item-action-menu-open-button.button{
    font-size:.9em;
}

.crud-item-action-menu-list{
    right:0 !important;
    left:auto !important;
    > .crud-action{
        > .action-menu-dropdown{
            > .action-menu-dropdown-button{
                width:100%;
                padding: 5px 15px;
                background:none;
                @include border-radius(0);
                border:none;
                &:hover{
                    @include box-shadow(none);
                    background-color:$primary-color;
                }
                &:active{
                    top:0;
                    @include box-shadow(none);
                }
            }
        }
    }
    .dropdown-toggle:after{
        content: "\f0da";
        font-family: "FontAwesome";
        margin-left: 0;
        position: absolute;
        right: 13px;
        top: 50%;
        margin-top: -7px;
    }
}

.zs-popup-menu-open .action-menu-dropdown-list {
    display: block;
}

.zs-popup-menu-closed .action-menu-dropdown-list{
    display: none;
}

.crud-table-wrapper {
    overflow-x: auto;
    position:relative;
}

.crud .progress {
    min-width: 100px;
}

.crud-table-value-cell-actions{
    .crud-table-item-cell-content{
        overflow: visible;
    }
}

.crud-table-value-cell-actions .action-menu-dropdown-list {
    left: -100%;
    top: 0;
}

.crud-table-item-row-empty{
    font-size:1.2em;
    line-height: 4;
    text-align: center;
    color:#999;
}

.crud-pagination-top{
    display: none;
}