@import "partials/form-navigation";
@import "partials/dependencies";
@import "partials/forms/forms-globals";
@import "partials/forms/forms-input-textarea";
@import "partials/forms/forms-radio-checkbox";
@import "partials/forms/forms-select";
@import "partials/forms/forms-captcha";   
@import "partials/forms/forms-start-zaak-box";
@import "partials/validator";
@import "partials/guideline";
@import "partials/angular-forms";
@import "partials/form-fields-layout";
@import "partials/kenmerk-layout";
@import "partials/veldopties";
@import "partials/motherloader";
@import "partials/rich-text";
@import "partials/openlayers";
@import "partials/angular-autocomplete";
@import "partials/angular-modal";
@import "partials/angular-accordion";

.webformcontent {
    position: relative;
}

.form *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    textarea{ 
        min-height:7em;
        width:100%;
    }

    label.titel{
        font-weight: normal;
        color: #222;
        float: none;
        text-align: left;
        display: block;
    }

    label{
        display: block;
    }
    select{
        margin:4px 0;
    }
}

// custom

.search_wrap{
    position: relative;
    float: left;
    margin-right: 6px;
    .icon{
        position: absolute;
        margin-top: -8px;
        top: 50%;
        right: 6px;
    }
}

.zoek_veld{
    width: 310px;
    .knop.medium{
        float: left;
        margin-left: 6px;
        width: 16px !important;
    }
    input[type=text]{
        width: 246px;
        float: left;
        padding: 5px;
    }
}

.form.aanvrager{
    input[type=text]{
        width:100%;
    }
}

.cheating{
    font-weight: normal;
    font-size:13px;
    float:right;
    margin-right:10px;
    margin-top:2px;
}

.form-actions{
    padding: 15px 0;
}

.form-actions.form-actions-bottom{
    position: absolute;
    bottom:0px;
    width:100%;
}

.form-actions-inner{
    padding: 0 20px;
}

.form-required-fields-explanation{
    margin:5px 0 0;
    font-size:11px;
    color:#888;
}
