@import "partials/koppelingen/koppelingen-config";
@import "partials/koppelingen/koppelingen-mapping";
@import "partials/koppelingen/koppelingen-transacties";
@import "partials/koppelingen/koppelingen-mutaties";
@import "partials/koppelingen/koppelingen-test-dialog";

.object-subscription-view{
	padding:12px 20px;
}

.object-subscription-view-title{
	padding:12px 20px 5px;
	font-size:1.2em;
}

.object-subscription-external-id {
	margin-right: 10px;
}

.sysin-search-single .detail-view-field-afnemerindicatie {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 20px 0 20px;
	font-weight: bold;
}

.sysin-datastore-header {
	padding: 20px 0;
}

.sysin-datastore-header-select {
	margin-right: 10px;
	padding: 5px;
	margin-top: 1px;
}

.sysin-datastore-crud {
	overflow-x: auto;
}