// basics
    
    table{
        width:100%;
        border-spacing: 0 !important; 
        border:none;
        font-size:1em; }
      
    th, td{
        border: none;
        text-align: left;
        padding:0.8em 0.3em;
        font-size:1em;
        color:#222;
        vertical-align: top; }
            
    th{ 
        border-bottom:1px solid #ccc;
        vertical-align: bottom; }

    td{ border-bottom:1px solid #ddd; }

    table.fixed-layout{ table-layout: fixed; }

    tr.dummy{ display: none; }
        
// custom

    .ezra_clickable_tr:hover{ cursor: pointer; }
        
    .td-label{
        vertical-align: top; }

    .table-no-borders td{
        border-bottom: none !important;
        padding: 0.4em 0.3em !important; }
        
    .tussenkop{padding-top:40px;}
        
    .vertical-align-top td{vertical-align: top;}
    .v-align-center td{vertical-align: middle !important;}
    .middle td { vertical-align: middle !important; }
    tr.vc td{vertical-align: middle;}

    .tdr{text-align: right;}
        
    .center {
    text-align: center;
    display: table-cell;
    vertical-align: middle !important; }

    .center img {
        display: block;
        margin: 0 auto; }

    .ver_center {
    display: table-cell;
    vertical-align: middle !important; }

    .ver_center img,
    .ver_center a { display: block; }

    .last-row-border { border-bottom: 1px solid #ddd !important; }

    tr.lastrow > td{border-bottom:none;}

    td.border-bottom{border-bottom:1px solid #ddd;}
         
// cell layout

    .td10{width:10px !important;}
    .td15{width:15px !important;}
    .td20{width:20px !important;}
    .td30{width:30px !important;}
    .td36{width:36px !important;}
    .td40{width:40px !important;}
    .td50{width:50px !important;}    
    .td60{width:60px !important;}
    .td80{width:80px !important;}
    .td100{width:100px !important;}
    .td115{width:115px !important;}
    .td120{width:120px !important;}
    .td130{width:130px !important;}
    .td140{width:140px !important;}
    .td150{width:150px !important;}
    .td160{width:160px !important;}
    .td170{width:170px !important;}
    .td180{width:180px !important;}
    .td190{width:190px !important;}
    .td200{width:200px !important;}
    .td220{width:220px !important;}
    .td225{width:225px !important;}
    .td230{width:230px !important;}
    .td250{width:250px !important;}
    .td260{width:260px !important;}
    .td270{width:270px !important;}
    .td280{width:280px !important;}
    .td290{width:290px !important;}
    .td300{width:300px !important;}
    .td310{width:310px !important;}
    .td325{width:325px !important;}
    .td340{width:340px !important;}
    .td350{width:350px !important;}
    .td360{width:360px !important;}
    .td400{width:400px !important;}
    .td420{width:420px !important;}
    .td450{width:450px !important;}
    .td500{width:500px !important;}
   
// sortable rows

    .drag:hover{cursor: move;}
    
    .no-border{
        border-bottom:none !important;
        background: url("../images/drag.png") no-repeat scroll -100px 0 transparent;
        background-color:transparent !important;
    }
    
    .no-border.hover,
    .drag.hover{
        background: url("../images/drag.png") repeat scroll 0 0 transparent;
    }

    .lastrow td.no-border{border-bottom:none !important;}
    
// diverse table classes
    
    .table_zaakinformatie {
        width:100%;
        padding: 0px; }
        
    .table_zaakinformatie.no_margin{ margin-bottom:0; }
    
    .table_td_left_zaakinformatie {
        width:180px;
        vertical-align: top; }
        
    .table_td_right_zaakinformatie {
        width:260px;
        font-weight: normal;
        vertical-align: top; }
    
    .table_td_right_zaakinformatie .col{
        float:left;
        display:inline;
        margin-right:10px; }
        

        
    .table_zaken_title_tr td{ font-weight:bold; }
    
    .table_zaken_title_tr a{
        font-weight: bold;
        text-decoration: none;
        color: #333; }
    
    .table_zaken_title_tr a:hover{ text-decoration: underline; }
    
    .table_zaaktypen tr:hover,
    .table_zaaktypen tr:hover td,
    .table_zaken_tr:hover {
        background: #f7f7f7;
        cursor: pointer; }
    
    .table_zoektabber_tdleft {
        width: 49%;
        vertical-align: top;
        padding:0; }
    
    .table_zoektabber_tdspace { width:2%; }
        
    .table_zoektabber_tdright {
        vertical-align: top;
        width: 49%;
        padding:0; }
    
    .table_zaakinformatie th,
    .table_zaken_title th,
    .table_checklist th,
    .table_zoektabber h3,
    .table_window_title_tr,
    h3.headingblauw,
    .table_tr_hblauw,
    .table-title h4,
    h3.title{
        font-weight:bold;
        border-bottom-width:2px;
        text-align:left;
        color:#083e80;
        font-size:1.231em;
    }
    
    h3.title{
        padding: .8em .3em;
        margin:0;
    }
    
    .table-title{
        padding: 20px 0;
        border-bottom: 2px solid #ddd;
    }
    
    .table_zaken_title th,.table_checklist th,
    .table_window_title_tr td,
    .table_tr_hblauw th,h3.title{
        border-bottom:2px solid #ddd;
    }
 
// div table emulation 

    .table{
        display: table;
        width: 100%;
    }

    .table-body, .table-header {
        display: table-row-group;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .table-header .table-cell{
        font-weight: bold;
    }

    .table .row{
        padding: 1em 0;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    .table-row.zs-sorting {
        background-color: #e9e9e9;
    }

    .table-row.zs-sorting > div {
        filter: alpha(opacity=0);
        opacity: 0;
    }