@import "partials/dependencies";

$tooltip-bg-color:#333;

.title-tooltip {
	z-index: 4000;
	position: relative;
	max-width:250px;
}

.title-tooltip[data-zs-title-registration="top"] {
	margin-top: -8px;
}

.title-tooltip-content{
	background: $tooltip-bg-color;
	color: white;
	padding:5px 10px;
	border-radius: 3px;	
	line-height: 1.3;
	text-align:center;
	position:relative;
}

.tooltip-hidden {
	visibility:hidden;
}

.tooltip-visible {
	visibility:visible;
}

.title-tooltip-arrow{
	position:absolute;
	border-top:4px solid $tooltip-bg-color;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	bottom:-4px;
	left:50%;
	margin-left:-2px;
}