.import .options{
    position: absolute;
    right:0;
    top: 0;
    padding: 11px 7px 11px 305px;
    opacity: .15;
}

.import .options a{
    float:left;
    width:25px;
    height:25px;
    text-indent: -9999px;
    display: block;
    border:1px solid #7a9a6b;
    border-radius: 3px;
    margin:0 5px;
}

.import .import_item_error .options a{
    border: 1px solid #a58384;
}

.import .options a:hover{border-color:#555;}
.import .options a.active:hover{border:1px solid #7a9a6b;}



.import .options a.active{
    background-color:#8dbd77 !important;
    border-color:#6e8a60 !important;
    opacity: 1;
}

.import .import_item_error .options a.active, .import .import_item_error .options a:active{
    background-color:#f28484 !important;
    border-color:#927272 !important;
}

.import .options a.revert{
    background:url(../images/button-revert.png) no-repeat center -12px, url(../images/import-button-bg.gif) repeat-x 0 center;
}

.import .import_item_error .options a.revert{
        background:url(../images/button-revert.png) no-repeat center -12px, url(../images/import-button-bg-error.gif) repeat-x 0 center;
}

.import .options a.revert.active{background:url(../images/button-revert.png) no-repeat center -59px;}

.import .options a.info{
    background:url(../images/button-info.png) no-repeat center -8px, url(../images/import-button-bg.gif) repeat-x 0 center;
}

.import .import_item_error .options a.info{
        background:url(../images/button-info.png) no-repeat center -8px, url(../images/import-button-bg-error.gif) repeat-x 0 center;
}

.import .options a.info.active{background:url(../images/button-info.png) no-repeat center -45px;}

.import_item_inner:hover .options{opacity:1;}