$import-green-swatch1:#b7dc94;
$import-green-swatch2:rgb(189,238,165);
$import-red-swatch1:#EDA6A6;
$import-red-swatch2:#ffcccc;

.import-panel{
    position: relative;
    display: table;
    table-layout:fixed;
    width:100%;
    @include box-sizing(border-box);
    .import-panel-title,
    .import-panel-meta{
        display: table-cell;
        vertical-align: middle;
        padding:10px 15px;
    }
    .import-panel-title{
        width:28%;
    }
    .import-panel-meta{
        width:72%;
    }
}

.inavigator-casetype {
    margin-bottom: 10px;
    border-color: #ccc #b3b3b3 #a4a4a4 #c8c8c8;
    border-width: 1px;
    border-style: solid solid none;
}

.inavigator-casetype-header {
    height:50px;
    padding-left: 20px;
    cursor: pointer;
    @include background(linear-gradient(bottom, $import-green-swatch1, $import-green-swatch2));
    background-color:$import-green-swatch2;
    @include box-shadow(inset 0 1px 0 #fff);
    border-bottom:1px solid #bbb;
    .inavigator-button-group{
        position:absolute;
        right:10px;
        top:50%;
        margin-top:-13px;
    }
    &.inavigator-error{
        @include background(linear-gradient(bottom, $import-red-swatch1, $import-red-swatch2));
        background-color:$import-red-swatch2;
    }
}

.inavigator-casetype-header-title {
    @include box-shadow(inset -1px 0 0 rgba(255, 255, 255, 0.4), 1px 0 0 rgba(0, 0, 0, 0.12));
    font-weight: bold;
}

.inavigator-casetype-header-meta{
    .spot-enlighter-wrapper{
        width:200px;
        > input{
            background:rgba(255,255,255,0.5);
            border:1px solid rgba(0,0,0,0.2);
            &:focus{
                background:#fff;
            }
        }
    }
}

.import-panel .import-panel-meta.inavigator-casetype-header-meta{
    padding-right:235px;
}

.inavigator-item-collapsed {
    display: none;
}

.inavigator-toggle {
    &:after{
        height: 16px;
        width: 20px;
        content: "\f0d7";
        text-align: center;
        display: block;
        position:absolute;
        top:50%;
        margin-top:-9px;
        left:10px;
    }
    &.inavigator-toggle-collapsed:after{
       content: "\f0da" !important;
    }
}

.inavigator-casetype-settings{
    border-bottom:1px solid #a4a4a4;
}

.inavigator-casetype-settings-item{
    &:first-child .inavigator-casetype-settings-item-header{
        border-top:none;
    }
}

.inavigator-casetype-settings-item-header{
    background:#f0f0f0;
    border-top:1px solid #ccc;
    position:relative;
    padding:10px 10px 10px 35px;
    .inavigator-toggle{
        color:#aaa;
        font-size:12px;
        &:after{
            margin-top:-6px;
        }
    }
    &:hover{
        cursor:pointer;
        background:#e9e9e9;
    }
    &.inavigator-item-disabled{
        &:hover{
            background:#f0f0f0;
            cursor:default;
        }
        *{
            @include opacity(.35);
        }
    }
}

.inavigator-casetype-settings-item-content{
    border-top:1px solid #ccc;
    padding:5px 15px;
}

.inavigator-casetype-settings-general-table{
    table-layout: fixed;
    width:100%;
}

.inavigator-casetype-settings-general-label{
    width:30%;
}

.inavigator-casetype-settings-general-input{
    width:70%;
    input[type=text]{
        width:450px;
    }
}

// documenten tabel

.inav-doc-cell-select{width:2%;}

.inav-doc-cell{
    width:14%;
    input{
        width:100%;
    }
}

.inav-doc-cell-phase{width:10%}
.inav-doc-cell-small{width:6%;}
.inav-doc-cell-medium{width:22%;}

.inav-doc-cell-large{
    select{
        max-width:150px;
    }
}

.inavigator-attention{
    display: inline-block;
    border:2px solid rgb(230, 127, 127);
}

// resultaten tabel

.inavigator-casetype-settings-item-results table{
    td{
        vertical-align: middle;
    }
    th{
        vertical-align: bottom;
    }
    td:first-child{
        width:10px;
    }
}

.inav-result-label,
.inav-result-resultaat,
.inav-result-selectielijst{
    width:14%;
}

.inav-result-archiefnominatie,
.inav-result-bewaartermijn{
    width:5%;
}

.inav-result-label input,
.inav-result-selectielijst input{
    width:100%;
    @include box-sizing(border-box);
}

.inav-result-resultaat select{
    width:100%;
    @include box-sizing(border-box);
}

.inav-result-comments{
    //width:300px;
    input{
        width:100%;
        @include box-sizing(border-box);
    }
}

.inavigator-review{
    padding:20px;
    strong{
        font-size:16px;
        line-height:2.1;
    }
}

.inavigator-review-intro{
    font-size:16px;
    display: block;
    margin-bottom:20px;
}

.inavigator-review-title{
    padding-bottom:8px;
    border-bottom:2px solid #ccc;
    display: block;
}

.inavigator-review-block{
    margin-bottom:20px;
    ul{
        margin-left:20px;
        padding:4px 0;
        li{
            padding:4px 0;
        }
    }
}

.inavigator-review-general-table{
    table-layout:fixed;
    width:100%;
}

.inavigator-review-general-table-field{
    width:25%;
}

.inavigator-review-general-table-divider{
    width:2%;
    i{
        color:#bbb;
        font-size:14px;
    }
}

.modal-inavigator{
    .modal-body{
        max-width:750px;
    }
    .modal-content{
        padding-top:20px;
    }
}

.modal-inavigator table{
    border:1px solid #ddd;
    border-left:none;
    border-right:none;
    tr > td:first-child{
        width:200px;
    }
}