<div class="date-picker">
	<div class="date-picker-month">
		<button type="button" class="date-picker-month-button" data-ng-click="prevMonth()" data-ng-disabled="!hasPrevMonth()">
			<i class="icon-font-awesome icon-chevron-left"></i>
		</button>
		<div class="date-picker-month-label">
			<[getMonthLabel()]>
		</div>
		<button type="button" class="date-picker-month-button" data-ng-click="nextMonth()" data-ng-disabled="!hasNextMonth()">
			<i class="icon-font-awesome icon-chevron-right"></i>
		</button>
	</div>
	<table class="date-picker-days">
		<thead class="date-picker-days-header">
			<tr class="date-picker-days-row">
				<th class="date-picker-day-cell" data-ng-repeat="weekday in [ 0, 1, 2, 3, 4, 5, 6 ]" class="date">
					<[getWeekdayLabel(weekday)]>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="date-picker-days-row" data-ng-repeat="week in getWeeks()">
				<td class="date-picker-day-cell" data-ng-repeat="day in [ 0, 1, 2, 3, 4, 5, 6 ]">
					<button type="button" class="date-picker-day-button" data-ng-disabled="!isInRange(week, day)" data-ng-click="selectDay(week, day, $event)" data-ng-class="{ 'date-picker-day-button-active': isSelected(week,day), 'date-picker-day-button-dimmed': !isInMonth(week, day) }">
						<[getDate(week,day)]>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>