<div class="block">
    <div class="header">Import</div>
    <div class="blockcontent">
        <ul class="list">
        [% IF c.check_any_user_permission('beheer_gegevens_admin'); %]
            <li><a href="[% c.uri_for('/beheer/import/gba') %]" title="Basisregistraties">Basisregistraties</a></li>
        [% END %]
        
        [% IF c.check_any_user_permission('woz_objects') &&
            c.customer_instance.start_config.woz_info_on_pip
         %]
            <li>
                <a
                    href="[% c.uri_for('/beheer/woz') %]"
                    title="WOZ"
                >WOZ</a>
            </li>
        [% END %]
        </ul>
    </div>



