<div class="wordaddin-case-search-header">
	<img src="/images/wordaddin/zaaksysteem-logo-groen.svg">
	<h1>Document toevoegen</h1>
</div>

<div class="wordaddin-case-search-content">

	<h2>Zoek een zaak</h2>

	<zs-object-suggest 
		data-type="'case'"
		on-select="vm.handleCaseSuggest($object)"
	></zs-object-suggest>

</div>
