[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="prelogin-bedrijfsid">
    <div class="block">
        <div class="block-header">
            <div class="block-header-inner">
                <h1 class="block-header-title">Login als bedrijf</h1>
            </div>
        </div>
        <div class="block-content">
            <div class="row">
                <div class="column large-6">
                    <div class="prelogin">

                        [% interfaces = [] %]
                        
                        [% FOREACH saml_interface IN saml_interfaces %]
                        [% interfaces.push(saml_interface.jpath('$.saml_type')) %]

                        <div class="prelogin-button">
                            <form action="[% c.uri_for('/auth/saml/' _ saml_interface.id) %]" method="POST">
                                <div class="prelogin-button">
                                    <input type="hidden" name="success_endpoint" value="[% c.req.query_params.success_endpoint | html_entity %]" />

                                    <button type="submit" value="Inloggen met [% saml_interface.name %]" class="button button-primary button-mega button-id">
                                        <span class="a">Inloggen met <strong>[% saml_interface.name %]</strong></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        [% END %]

                        [% IF enable_mintlab_id %]
                        <div id="[% c.config.gemeente_id %]idknop" class="prelogin-button">
                            <a href="[% c.uri_for('/auth/bedrijfid/1', { success_endpoint => c.req.query_params.success_endpoint }) %]" class="button-[% c.config.gemeente_id %] button-primary button button-mega button-id">
                                Inloggen met <strong>[% c.get_customer_info.naam %]<span>ID</span></strong>
                            </a>
                        </div>
                        [% END %]
                    </div>
                </div>

                <div class="column large-5 large-offset-1">
                    [% IF interfaces.grep('^eherkenning$').size %]
                    <div class="prelogin-info clearfix">
                        <div class="prelogin-logos col">
                            <a href="http://www.eherkenning.nl/">
                                <img src="/images/bedrijfsid/eherkenning_50.png" alt="eHerkenning Logo" class="digid-logo prelogin-info-logo"/>
                            </a>
                        </div>
                        <div class="prelogin-info-tekst col">
                            <h3>Wat is eHerkenning?</h3>
                            <p>
                                eHerkenning is een authenticatiemiddel voor
                                organisaties.
                            </p>
                        </div>
                    </div>
                    [% END %]

                    [% IF enable_mintlab_id %]
                    <div class="prelogin-info clearfix">
                        <div class="prelogin-logos col">
                            <a href="[% c.get_customer_info.gemeente_id_url %]">
                                <img src="/images/bedrijfsid/[% c.config.gemeente_id %]id_50.gif" alt="[% c.get_customer_info.naam %]ID" class="digid-logo prelogin-info-logo"/>
                            </a>
                        </div>

                        <div class="prelogin-info-tekst col">
        				    <h3>Wat is een [% c.get_customer_info.naam %]ID?</h3>

                            <p>
                                [% c.get_customer_info.naam %]ID is een
                                authenticatiemiddel voor organisaties om zaken
                                te regelen bij de gemeente
                                [% c.get_customer_info.naam %]. Het
                                [% c.get_customer_info.naam %]ID bestaat uit een
                                gebruikersnaam en een wachtwoord.
                            </p>
                        </div>
                    </div>
                    [% END %]
                </div>
            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
