[% USE Dumper %]

<div class="block clearfix import">
    <p class="header">WOZ-gegevens instellingen</p>
    <div class="blockcontent">
    	<a href="/beheer/woz">&lt;&lt; terug</a><br/><br/>
	    <p>Dit is een testpagina. Hieronder een lijst met 900 WOZ-owners. (Om alle objecten te zien, bouw paginering in, niet de moeite waard nu.) Het doel van deze pagina is om de WOZ functionaliteit snel in te kunnen zien. Als je hieronder op een link klikt zie je wat een gebruiker zou zien in zijn PIP.</p>
		<ul>
		[% WHILE (woz_object = woz_objects.next()) %]
			<li>
                <a href="/beheer/woz/view/[% woz_object.owner %]">[% woz_object.owner %]</a> 
                [% #woz_object.count_per_owner  # for some freaky reason this doesnt work %]
                ([% woz_object.get_columns.3 %])
            </li>
		[% END %]
		</ul>
	</div>
</div>

