 
/* @group base */ 

body { 
	background: #fff;
	margin: 0px;
}

#container {
	width: 960px;
	margin: 0px auto;
	background: #fff;
}

#main{
	padding: 0; 
}

header{
	width: 960px;
	margin: 0 auto;
}
 
	.basic header #logo {
		text-indent: -9999px;
		background: url(../img/logo.png) no-repeat left center;
		margin: 20px 0 20px 30px;
		width:340px; }
	

ul.nav li{
	float: left;
	color: #bbb;
	margin: 0 4px 0 0;
	padding: 20px 20px 20px 20px;
	font-weight: bold;
}

.pip,.blockcontent{
	padding: 20px 30px 25px;
}


 /* @end */
 
 /* @group block */
 
  
 .block {
 	padding: 35px 0 0px !important;
}
 
 .header {
 	background: #c6eafb !important;
 	color: #005c97 !important;
 }
 
/* @end */


/* @group button button-primary */

.button button-primary{background: #005a9b;}
.button button-primary:hover{background: #2b93ce;}
/*.button button-primary-prev{background: #333;}
.button button-primary-prev:hover{background: #555;}*/



/* @end */

/* @group Font icon settings */

.icon-question-sign{
	color: #3a6075;
}

.icon-question-sign:hover,
.icon-question-sign:focus{
	color: #60b230;
}

/* @end */


/* @group Test-ID */

.id-knop.id-knop-testid{
	border: 1px solid #222222;
}

.id-knop.id-knop-testid:hover{
	background: rgb(85,85,85);
	background: -moz-linear-gradient(top,  rgb(85,85,85) 0%, rgb(34,34,34) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(85,85,85)), color-stop(100%,rgb(34,34,34)));
	background: -webkit-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: -o-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: -ms-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 );
}

.id-knop.id-knop-testid:active{
	background: rgb(34,34,34);
	background: -moz-linear-gradient(top,  rgb(34,34,34) 0%, rgb(68,68,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(34,34,34)), color-stop(100%,rgb(68,68,68)));
	background: -webkit-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -o-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -ms-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}
 
/* @end */


/* @group stappen  */
	
.stap.active {border-bottom-color: #005a9b;}

/* @end */