<div class="zs-modal">

	<div class="zs-modal-body">

		<div class="zs-modal-header">

			<div class="zs-modal-title">
				{{title}}
			</div>

			<div class="zs-modal-close">
				<button ng-click="onCloseClick($event)">
					<zs-icon icon-type="close"></zs-icon>
				</button>
			</div>

		</div>

		<div class="zs-modal-content">
			
			<zs-transclude/>

		</div>

	</div>

</div>
