.timeline{
    background: #fff;
    padding: 10px 25px 0 25px;
    a{
        text-decoration: underline;
    }
}

.timeline-inner{
    margin: 0 0 20px;
    position: relative;
    padding: 25px 0px 0px 11px;
    position: relative;
    overflow: hidden;
    @media #{$medium-small-and-down}{
        padding: 25px 0px 0px 0px;
    }
    > .left + li > .pointer {
      top: 40px;
    }
    &:before{
        width:1px;
        height:100%;
        position: absolute; 
        content:'';
        left:25px;
        background: #ddd;
        @media #{$medium-small-and-down}{
            left:14px;
        }
    }
    &:after{
        content:'';
        width:1px;
        height:30px;
        background: linear-gradient(to bottom, #dddddd 0%,#ffffff 100%);
        bottom:0;
        left:25px;
        position: absolute;
        @media #{$medium-small-and-down}{
            left:14px;
        }
    }
}

.timeline-inner,
.timeline li.timeline-item{
    list-style-type: none;
}

.timeline-title-wrap{
    display: flex;
    align-items: center;
    width:625px;
    @media #{$medium-small-and-down}{
        width:100%;
        flex-direction:column;
        align-items: flex-start;
    }
}

.timeline-loader{
    width:600px;
    height:30px;
    margin-bottom:1.5rem;
    justify-content: center;
    display: flex;
    @media #{$medium-small-and-down}{
        width:100%;   
    }
    .spinner-google-container{
        visibility: hidden;
    }
    &.timeline-loader-loading{
        .spinner-google-container{
            visibility: visible;
        }
    }
    button{
        display: none;
    }
}