// Generic template 

@import "template-settings";

html,body{
    height: 100%;
}

body { 
    font-family: $font-family;
    background: #{$body-bg};
    margin: 0px;
    font-size: $font-size;
}

img{
    border: none;
}

h1{
    font-size:$heading1-fontsize;
    color:$heading1-color;
    font-weight: $heading1-weight;
}

h2{
    font-size:$heading2-fontsize;
    color:$heading2-color;
    font-weight: $heading2-weight;
}
 
#container {
    margin: 0px auto;
    background: #fff;
    min-height: 100%;
    border: $container-border;
    border-top: none;
    border-bottom: none;
    @include box-shadow($container-shadow);
    position:relative;
    padding:$container-padding;
}

#main{
    padding: 0; 
}

#logo {
    height: $logo-height;
    margin: $logo-margin;
    width: $logo-width;
    text-indent: -9999px;
    a{
        display:block;
        width: $logo-width;
        height: $logo-height;
        background:url(#{$logo-url}) no-repeat left center;
    }
}
 
header {
    height: $header-height;
    padding: $header-padding;
    @include box-sizing(border-box);
}

.webform_inner{
    position: static;
}

.webform .header > div{
    line-height: $title-height;
}

.header{
    padding-top:$title-padding-top;
    padding-bottom:$title-padding-bottom;
    color: $title-text-color;
    height: $title-height;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color:$title-bg-color !important;
    background-image:$title-bg-image;
    h1{
        line-height: $title-height;
        margin:0;
        font-size: $title-font-size !important;
        color:$title-text-color !important;
        font-weight: $title-font-weight;
    }
}

.block > .header > .header-actions{
    height: $title-height;
    line-height: $title-height;
    .button-secondary{
        border:none !important;
        background:none;
        color:$button-in-title-color;
        &:hover{
            background:rgba(255,255,255,0.2);
            background:$button-in-title-bg-hover;
        }
        i{
            color:$button-in-title-icon-color;
            margin-right:4px;
            font-size:auto;
        }
    }
}

.block.succes > .header{
    line-height: $title-height;
    padding: 0 25px;
    margin: 0;
    color: #fff;
}

.pip-nav{
    background:$pip-nav-background;
    border-bottom:4px solid $pip-nav-border-color;
    font-weight:$pip-nav-font-weight;
    ul li{
        &.current a, a:hover {
            color: $pip-nav-anchor-color;
            background:$pip-nav-border-color-active;
            text-decoration: none;
        }
        a{
            color:$pip-nav-anchor-color;
            padding: 1em;
        }
    }
    ul.right li a{
        @include opacity(.5);
        &:hover{
            @include opacity(1);
        }
    }
}