@import "template-settings";

@media only screen and (max-width: $template-width) {

  #container{
    width:100%
  }
  
}

@media only screen and (max-width: $breakpoint-mobile) {

  #container{
    width:100%;
  }

  .row .column,
  .row .columns {
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;
    width: 100% !important;
    float: left;
  }

  .header > h1.header-title, .header > h1 {
    padding-right:0;
  }

  .form label.titel{
    margin-bottom:10px;
    font-weight: bold; 
  }

  .form-navigation{
    li{
      display: block;
      padding-top:8px;
      padding-bottom:8px;
      height:auto;
    }
    .stap{
      border-bottom-width:1px;
      background-image:none !important;
      &.active{
        border-bottom-color:#ccc;
      }
    }
  }

}