@import "../partials/compass/compass-opacity";
//@import "partials/compass/css3/box-shadow";
@import "../partials/compass/compass-border-radius";
//@import "partials/compass/css3/images";
@import "../partials/compass/compass-opacity";
@import "../partials/compass/compass-box-sizing";
@import "template-settings";

#container {
    width: $template-width;
    margin: 0px auto;
    background: #fff;
    @include box-sizing($container-box-sizing);
}

.stap-titel{
	font-size:$h2-stap-titel-fontsize;
	font-weight: $h2-stap-titel-weight;
}

.pip{
	a{
		color:$anchor-color;
		text-decoration:$anchor-text-decoration;
		&:hover{
			color:$anchor-color-hover;
			text-decoration:$anchor-text-decoration-hover;
		}
	}
}

.pip-login .pip-login-block{
	@include border-radius($border-radius);
}

.pip-case-progress{
	.pip-case-progress-bar{
		background:$pip-progress-bar-bg;
	}
	.pip-case-progress-percentages{
		background:$pip-progress-bar-percentages;
	}
}

.pip-case-form-phase-title{
	@include border-radius($border-radius);
	background:$pip-phase-title-bg;
	border-color:$pip-phase-title-border;
	&.pip-case-form-phase-active:hover{
		background:$pip-phase-title-bg-hover;
		border-color:$pip-phase-title-border-border;
	}
	&.pip-case-form-phase-current{
	    padding: 1.15em .8em 1.15em .7em;
	    font-size: 1.3em;
	    background:$pip-phase-title-current-bg;
	    .pip-case-form-phase-title-icon{
	        margin-right:5px;
	    }
	    &:hover{
	        background:$pip-phase-title-current-bg-hover !important;
	    }
	}
}

.form-navigation .stap.active {
	border-bottom-color: $stap-active-bg;
}

.pip .field-help .icon-question-sign,
.field-help .icon-question-sign{
	color:$icon-question-sign-color;
	&:hover{
		color:darken($icon-question-sign-color,15%);
	}
}

.pip-case-document-icon i{
	color:$icon-pip-document-color;
}

a.button{
	text-decoration:none;
	&:hover{
		text-decoration: none;
	}
}

.button.button-id{
	border:1px solid $button-id-bg-color;
	background:$button-id-bg-color;
	color:#fff;
	&:hover{
		background:darken($button-id-bg-color,10%);
		border:1px solid darken($button-id-bg-color,10%);
	}
	&:active{
		background:lighten($button-id-bg-color,10%);
		border:1px solid lighten($button-id-bg-color,10%);
	}
}

.pip-case-result{
    font-weight: bold;
    font-size:1.5em;
    border:2px solid $pip-case-result-color;
    padding:12px 15px;
    margin: 20px 0 -10px;
    i{
    	margin-right:10px;
    	margin-left:5px;
    	color:$pip-case-result-color;
    }
}

.saml_error{
	@include border-radius(3px);
	padding:5px 10px 5px 35px;
	background:darken(red,5%);
	color:white;
	position: relative;
	&:before{
		content: "\f071";
		font-family: 'FontAwesome';
		position: absolute;
		left:10px;
		font-size:1.2em;
	}
}
