// basic template top header

$header-height:115px !default;
$header-padding:20px 0 !default;
$logo-margin:0 0 0 30px !default;
$logo-height:55px !default;
$logo-width:226px !default;
$logo-url: "../../form/mintlab/img/logo.png" !default;
$breakpoint-mobile:50em !default;

// basic template

$body-bg:#f6f6f6 !default;
$container-shadow:0 0 3px #ccc !default;
$container-border:1px solid #ccc !default;
$container-padding:0 !default;
$container-box-sizing:content-box !default;
$template-width:960px !default;
$border-radius:3px !default;
$anchor-text-decoration:none !default;
$anchor-text-decoration-hover:underline !default;
$blockcontent-padding:20px !default;


// basic template title

$title-height:58px !default;
$title-text-color:#fff !default;
$title-bg-color:$primary-color !default;
$title-font-size:1.538em !default;
$title-font-weight:bold !default;
$title-padding-top:8px !default;
$title-padding-bottom:8px !default;
$title-bg-image:none !default;

// headings

$heading1-fontsize: 2em !default;
$heading1-color:black !default;
$heading1-weight: bold !default;
$heading2-fontsize: 1.5em !default;
$heading2-color:black !default;
$heading2-weight: bold !default;
$h2-stap-titel-weight:$heading2-weight !default;
$h2-stap-titel-fontsize:$heading2-fontsize !default;

// buttons

$button-primary-font-weight:normal !default;
$button-secondary-font-weight:normal !default;
$button-primary-bg:$primary-color !default;
$button-secondary-bg:#eee !default;
$button-secondary-color:#000 !default;
$button-primary-color:#fff !default;
$button-primary-bg-hover:darken($button-primary-bg,10%) !default;
$button-primary-bg-active:lighten($button-primary-bg,10%) !default;
$button-id-bg-color:#333 !default;
$button-in-title-color:#fff !default;
$button-in-title-bg-hover:rgba(255,255,255,0.2) !default;
$button-in-title-icon-color:#fff !default;

// pip

$pip-nav-border-color:lighten($primary-color,15%) !default;
$pip-nav-border-color-active:lighten($primary-color,15%) !default;
$pip-nav-font-weight:inherit !default;
$pip-nav-background:$primary-color !default;
$pip-nav-anchor-color:#fff !default;

$pip-progress-bar-bg:lighten($primary-color,40%) !default;
$pip-progress-bar-percentages:$primary-color !default;

$pip-phase-title-bg:$primary-color !default;
$pip-phase-title-border:$primary-color !default;
$pip-phase-title-bg-hover:darken($primary-color,3%) !default;
$pip-phase-title-border-border:darken($primary-color,3%) !default;
$pip-phase-title-current-bg:darken($primary-color,7%) !default;
$pip-phase-title-current-bg-hover:darken($primary-color,8%) !default;

$stap-active-bg:$primary-color !default;
$icon-question-sign-color:$primary-color !default;
$icon-pip-document-color:$primary-color !default;
$pip-case-result-color:$primary-color !default;