@import "../partials/compass/compass-opacity";

$pip-nav-border-color:#ccc;
$pip-nav-anchor-color:#777;

body{
    font-family: $font-family;
    font-size:$font-size;
}

.pip-nav{
	border-bottom:2px solid $pip-nav-border-color;
	ul li{
		a{
			padding:14px 0;
			margin:0 20px 0 0;
            color:$pip-nav-anchor-color;
		}
		&.current a, a:hover {
            border-bottom:2px solid black;
            margin-bottom:-2px;
            color:black;
            text-decoration: none;
        }
    }
    ul.right li a{
    	margin-right:0;
    	@include opacity(.65);
    	&:hover{
    		@include opacity(1);
    	}
    }
}
