$font-family: Tahoma,Trebuchet,Arial,Verdana,sans-serif;
$primary-color:#007E4F;
$secondary-color:#e2001a;
$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;
$font-size:75%;
$template-width:960px;
$button-id-bg-color:$primary-color;
$pip-progress-bar-bg:desaturate(lighten($primary-color,60%),30%);

@import "template-defaults";
@import "template-custom";
@import "button-reset";

.pip{
	padding: 0 !important;
}

.block .header h1,
.pip h1{
	font-size: 2em !important;
	color: #e2001a !important;
	margin: 0;
	font-weight: bold;
}

.pip h2{
	color: #007e4f !important;
}

.block{
	padding: 0;
	 > .header{
		padding: 0 0 15px;
		line-height: 36px;
	}
}

.header{
	> .header-title{
		line-height: 1.5;
	}
	> div{
		line-height: 36px;
	}
	> .button{
		margin-top: 3px;
		margin-right: 1px;
	}
} 

.blockcontent h2{
	font-size: 1.5em !important;
	margin: .25em 0 .5em !important;
	font-weight: bold !important;
}

.zoekfunctie-img{
	background: url(../images/debilt-zoekfunctie.jpg) no-repeat 1.5em 0;
	width: 340px;
	height: 33px;
}

table tbody tr{
	border:none;
}

table thead tr {
    background:none;
    color: #000;
    border:none;
}

table thead tr th,
table tbody tr td{
	padding:.8em .3em;
}

// .ui-selectmenu{
// 	color: #222 !important;
// }