@import "../partials/dependencies";

$logo-url: "../../form/epe/img/logo.png";
$primary-color: rgb(0,75,148);
$secondary-color:rgb(255,190,0);
$button-id-bg-color: #333;
$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:Verdana, Arial, Helvetica, sans-serif;
$font-size:75%;
$template-width:960px;
$header-padding:15px 0;
$logo-height:85px;
$pip-nav-border-color:desaturate(lighten($primary-color,15%),20%);
$pip-nav-border-color-active:desaturate(lighten($primary-color,15%),20%);

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
