@import "../partials/dependencies";

$logo-url: "../../form/test/img/logo-wit.svg";
$primary-color: #49626d;
$secondary-color:#cbdd22;
$button-id-bg-color: #333;
$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:open-sans, sans-serif;
$font-size:87.5%;
$template-width:100%;
$header-padding:0;
$header-height:0;
$logo-width:110px;
$logo-margin:0 0 0 20px;
$body-bg:#fff;
$heading1-weight:400;
$heading2-weight:400;
$button-primary-bg:$secondary-color;
$button-primary-color:#000;
$pip-progress-bar-bg:lighten($secondary-color,20%);
$pip-progress-bar-percentages:darken($secondary-color,5%);
$title-font-size:1.4em;
$title-padding-top:0;
$title-padding-bottom:0;
$container-shadow:none;
$container-border:none;
$container-padding:0 20px;
$container-box-sizing:border-box;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

#container{
	max-width:1180px;
}

header{
	#logo {
		position:absolute;
		top:20px;
		z-index:101;
	}
}

.pip-nav{
	width:100%;
	z-index:100;
	margin-top:20px;
	padding-left:150px;
	ul li a{
		font-weight: 400;
		padding:1.4em;
	}
	@include border-radius(3px);
}

.header{
	padding-left:140px !important;
	z-index:100;
	margin:20px 0 0 !important;
	@include border-radius(3px);
	position:relative;
}

.header > h1.header-title,
.header > h1{
	width: 100%;
	padding-right: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	&:before{
		font-family: FontAwesome;
		content:"\f054";
		margin-right:.7em;
		@include opacity(.2);
	}
}

.block > .header > .header-actions{
	position:absolute;
	right:1em;
}

.blockcontent{
	padding-top:25px;
	padding-bottom:15px;
}

@import "template-media-queries";