@import "../partials/dependencies";

$body-bg:"url(../../form/oude-ijsselstreek/img/wooshboven.png) top center no-repeat #e4ebf6";
$template-width:960px;
$container-border:2px solid #CEDBEC;
$container-shadow:none;
$logo-url:"../../form/oude-ijsselstreek/img/logo.png";
$primary-color: #004a93;
$secondary-color:#61ac1e;
$button-id-bg-color: #333;

$anchor-color:#d40000;
$anchor-color-hover:#d40000;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;

$font-family:Arial,'Helvetica Neue', Helvetica, sans-serif;
$font-size:75%;

$heading1-weight:normal;
$heading2-weight:normal !important;
$heading1-color:$primary-color;
$heading2-color:$primary-color;
$heading2-fontsize:2em !important;

$header-padding:10px 0;
$header-height:90px;
$blockcontent-padding:20px 0;
$title-font-size:1.8em;

$logo-margin:15px 0 12px 15px;
$logo-height:42px;
$logo-width:210px;

$pip-nav-border-color:desaturate(lighten($primary-color,15%),20%);
$pip-nav-border-color-active:desaturate(lighten($primary-color,15%),20%);

$button-primary-bg:$secondary-color;
$button-primary-font-weight:bold;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

.pip{
	h2{font-size:1.6em !important;}
}

.block,.pip-nav{padding:0 20px;}
.pip-nav{padding:0;}