@import "../partials/dependencies";

$logo-url: "../../form/wijkbijduurstede/img/logo.png";
$logo-width:340px;
$header-height:95px;

$primary-color:#005c97;
$secondary-color:#c6eafb;
$button-id-bg-color: #333;

$button-in-title-color:$primary-color;
$button-in-title-bg-hover:rgba(255,255,255,0.4);
$button-in-title-icon-color:$primary-color;

$anchor-color:$primary-color;
$anchor-color-hover:darken($primary-color,10%);
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:87.5%;
$template-width:960px;

$pip-nav-background:$secondary-color !important;
$pip-nav-border-color:darken($secondary-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:$primary-color !important;
$pip-progress-bar-bg:$secondary-color;

$title-text-color:$primary-color !important;
$title-bg-color:$secondary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";