[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% USE Dumper %]
						
<div class="block succes done">
    <div class="header"><h1>[% zaaktype.titel %]</h1></div>
        
    <div class="blockcontent">	
        <div class="row">
            
            <div class="column large-7">
                <h2>
                    <i class=" icon-ok icon-font-awesome"></i>
                    [% IF betaling %]
                        Uw betaling is gelukt
                    [% ELSE %]
                        Uw zaak is geregistreerd
                    [% END %]
                </h2>

                <p class="subnote">
                    Bedankt voor het [% zaak.zaaktype_definitie.handelingsinitiator %] van een
                    <strong>[% zaak.zaaktype_node_id.titel %]</strong>. Uw registratie is bij ons bekend onder <strong>zaaknummer [% zaak.id %]</strong>. Wij verzoeken u om bij verdere communicatie dit zaaknummer te gebruiken. De behandeling van deze zaak zal spoedig plaatsvinden.
                </p>

                [% UNLESS behandelaar_form || aanvrager_type == 'preset_client' %]
                <p class="subnote">
                    Ook kunt u op elk moment van de dag de voortgang en inhoud van
                    deze zaak inzien via "Mijn [% c.customer_instance.start_config.customer_info.naam %]".
                </p>
	    <p>
            <a href="[% c.uri_for('/pip'); %]" class="button button-primary">
                Ga naar Mijn [% c.config.gemeente.naam %]
            </a>
            </p>
                [% END %]
            </div>
        </div>
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
