<div class="header block-header clearfix">
    <div class="block-header-inner">
        
        <h1 class="left header-title block-header-title">[% zaaktype.titel %]</h1>

        <div class="right header-actions block-header-actions">
        [% IF c.is_externe_aanvraag() && aanvrager_type != 'preset_client' && !no_delayed_finalization %]
            <button type="submit" name="submit_to_pip" value="1" class="submit_to_pip button button-secondary button-small" title="Later afronden">
                <i class="mdi mdi-content-save"></i> <span class="button-text">Later afronden</span>
            </button>
        [% END %]
            
        [% IF logged_in_by && logged_in_by != 'preset_client' %]
            <a href="[% c.uri_for('/auth/' _ logged_in_by _ '/logout') %]" class=" button button-secondary button-small" title="Uitloggen">
                <i class="mdi mdi-power"></i> <span class="button-text">Uitloggen</span>
            </a>
        [% END %]
    </div>
</div>

[% IF allow_cheat %]
    <div class="cheating"> 
        <label for="do_cheat">
        <input type="checkbox" name="do_cheat" id="do_cheat" />
        Vul verplichte velden later in</label>
    </div>
[% END %]
</div>
