[% nowrapper = 1 -%]
<!DOCTYPE html>
<head>
	<title>Foutmelding</title>
	<link rel="shortcut icon" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/favicon.ico" />
	<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/base.css" type="text/css" rel="stylesheet" />
</head>
<html class="error gemeente_[% c.config.gemeente_id | lower %]">
<body>
	<div class="error-message">
		<div class="error-image">
		</div>
		<div class="error-text">
			<div class="error-title">
				Er is een fout opgetreden
			</div>
			<div class="error-subtext">
				Excuses voor het ongemak
			</div>
		</div>
	</div>
</body>
</html>
