[% USE Dumper %]


[% PROCESS widgets/general/unaccepted_files_present.tt %]

[% BLOCK uploaded_files %]
    [% PROCESS widgets/general/veldoptie/file_view.tt %]

    [% IF upload_error %]
    <div class="has-icon mintloader-error">
        <div class="icon-alert icon"></div>
        [% upload_error.as_string || upload_error.TO_STRING || upload_error %]
    </div>
    [% END %]

[% END %]


[% mintloader_enabled = 1 %]

[% IF !mintloader_enabled || c.req.headers.user_agent.search('MSIE') %]
    <script type="text/javascript">//<![CDATA[
        [% IF upload_error %]
        parent.notifyUploadComplete({
            success: false,
            fieldname: '[% fieldname %]',
            pip: '[% pip %]',
            error_message: '[% upload_error.as_string || upload_error.TO_STRING || upload_error %]'
        });
        [% ELSE %]
        var unaccepted_files_present = $('input[name="unaccepted_files_present"]').val();

        parent.notifyUploadComplete({ 
            success: true,
            fieldname: '[% fieldname %]', 
            filename: '[% filename %]', 
            filestore_id: [% filestore_id || 1 %],
            pip: '[% pip %]',
            unaccepted_files: unaccepted_files_present
        });
        [% END %]
    //]]></script>
[% ELSE %]

    [% PROCESS uploaded_files %]

[% END %]
