<form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/update/relatie') %]">
<input type="hidden" name="update" value="1">
    <div class="dialog-inner">
        <div class="dialog-inner-block">
            <label>Zaaknummer</label>
            <input type="text" value="" class="input_mini" name="zaaknr"/>
        </div>
        <div>
            <label>Omschrijving relatie</label>
            <input type="text" value="" class="input_large" name="relatie"/>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Opslaan" class="button button-primary" id="dialog-submit"/>
    </div>
</form>
