[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if IE 7 ]>    <html class="ie ie7 oldie basic" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie basic" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml""> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 basic" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="basic" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% c.config.gemeente.naam_lang %]</title>

    [% PROCESS form/common_form_header_includes.tt %]

    <link media="screen" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />
    <link type="image/x-icon" href="http://www.[% c.config.gemeente_id %].nl/favicon.ico" rel="shortcut icon" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
    
</head>
<body data-ng-app="Zaaksysteem">


        
        
		<div id="container">
		
		<div id="header">
		  
		  <div id="logo">
                <a href="http://www.rcibanque.com/">
                   <img title="Gemeente Baarn Portal" alt="Gemeente Baarn" src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/img/logo-rci-banque.png" />
                </a>
            </div>
            
            <ul class="rci-clear" id="rci-list-logo">
                <li><img width="53" height="53" alt="Renault" src=" http://www.rcibanque.com/assets/logo01.jpg"></li>
                <li><img width="53" height="53" alt="Dacia" src=" http://www.rcibanque.com/assets/logo02.png"></li>
                <li><img width="53" height="53" alt="Nissan" src=" http://www.rcibanque.com/assets/logo05.png"></li>
                <li class="rci-logo-infiniti"><img width="80" height="41" alt="Infiniti" src=" http://www.rcibanque.com/assets/logo04.png"></li>
                <li><img width="53" height="53" alt="Samsung Motors" src=" http://www.rcibanque.com/assets/logo03.png"></li>
              </ul>
		
		</div>
		
				
			<div id="main" class="clearfix">
