object-list-view {
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	flex-flow: column;
	background: #eee;	
	align-items: center;
	padding: 0 15px 30px 15px;
}

.object-list-search{
	display: flex;
	width: 100%;
	max-width: 925px;
	background: #fff;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
	margin: 30px 0;
	height: 40px;

	zs-icon{
		width: 50px;
		font-size: 1.6em;
		text-align: center;
		line-height: 1.7em;
		padding-left: 10px;
	}

	form{
		display: flex;
		width: 100%;
	}

	input, input:focus{
		border: 0 !important;
		outline-width: 0px !important;
	}

	button{
		color: #fff;
		background: #77b829;
		height: 100%;

		&:hover{
			background: #5d901f;
		}
	}

}

.btn.object-list-item-list--loadmore{
	margin-top: 30px;
	background: #77b829;

	&:hover{
		background: #5d901f;
	}
}
