/* ***** BEGIN LICENSE BLOCK ********************************************
 * Version: EUPL 1.1
 *
 * The contents of this file are subject to the EUPL, Version 1.1 or
 * - as soon they will be approved by the European Commission -
 * subsequent versions of the EUPL (the "Licence");
 * you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://joinup.ec.europa.eu/software/page/eupl
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Zaaksysteem
 *
 * The Initial Developer of the Original Code is
 * Mintlab B.V. <info@mintlab.nl>
 * 
 * Portions created by the Initial Developer are Copyright (C) 2009-2011
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 * Michiel Ootjers <michiel@mintlab.nl>
 * Jonas Paarlberg <jonas@mintlab.nl>
 * Jan-Willem Buitenhuis <jw@mintlab.nl>
 * Peter Moen <peter@mintlab.nl>
 *
 * ***** END LICENSE BLOCK ******************************************** */
/* @group base.css */
/* @group basics */
/* line 39, ../../frontend/css/src/base.scss */
* {
  padding: 0;
  margin: 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 45, ../../frontend/css/src/base.scss */
body {
  margin: 0 0 80px 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  text-decoration: none;
  background: url(../images/bg.gif) repeat 0 0 #f1f1f1;
}

/* line 56, ../../frontend/css/src/base.scss */
a {
  color: #333333;
}

/* line 58, ../../frontend/css/src/base.scss */
a:hover {
  color: #11449e;
}

/* line 60, ../../frontend/css/src/base.scss */
img {
  border: none;
}

/* line 62, ../../frontend/css/src/base.scss */
em {
  color: red;
}

/* line 64, ../../frontend/css/src/base.scss */
ul.list {
  margin-left: 15px;
}

/* line 66, ../../frontend/css/src/base.scss */
p {
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* line 72, ../../frontend/css/src/base.scss */
p.bericht {
  margin-bottom: 15px;
}

/* line 74, ../../frontend/css/src/base.scss */
.th_16px {
  font-size: 16px;
  font-weight: bold;
}

/* line 79, ../../frontend/css/src/base.scss */
.blue {
  color: #083E80;
}

/* line 81, ../../frontend/css/src/base.scss */
.td_14px {
  font-size: 14px;
}

/* line 83, ../../frontend/css/src/base.scss */
.td_16px {
  font-size: 16px;
}

/* line 85, ../../frontend/css/src/base.scss */
td.label {
  font-weight: bold;
}

/* line 87, ../../frontend/css/src/base.scss */
h1.in-dialog {
  font-size: 13px;
  position: relative;
  padding: 12px 0;
  border-bottom: 2px solid #ddd;
}

/* line 94, ../../frontend/css/src/base.scss */
h2 {
  margin-bottom: 15px;
}

/* line 96, ../../frontend/css/src/base.scss */
h2.zaaknummer {
  float: left;
}

/* line 98, ../../frontend/css/src/base.scss */
h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

/* line 103, ../../frontend/css/src/base.scss */
hr {
  border: 1px solid #ddd;
}

/* line 107, ../../frontend/css/src/base.scss */
small {
  color: #888;
  font-size: 11px;
}

/* line 112, ../../frontend/css/src/base.scss */
button {
  border: none;
}

/* @end */
/* @group Scaffolding */
/* line 120, ../../frontend/css/src/base.scss */
#contentwrapper {
  margin-left: 233px;
  clear: both;
  margin-right: 15px;
  padding: 50px 0 25px 0;
}

/* line 127, ../../frontend/css/src/base.scss */
.ie7 #contentwrapper {
  padding: 0px 0 25px 0;
}

/* line 131, ../../frontend/css/src/base.scss */
#contentwrapper.layout_simple {
  margin-left: 20px;
}

/* line 135, ../../frontend/css/src/base.scss */
#contentcolumn {
  margin-top: 15px;
  float: left;
  width: 100%;
}

/* line 141, ../../frontend/css/src/base.scss */
#leftcolumn {
  float: left;
  clear: left;
  height: 99%;
  width: 205px;
  position: static;
  margin-left: -215px;
  margin-top: 15px;
}

/* line 151, ../../frontend/css/src/base.scss */
.ie7 #leftcolumn {
  position: relative;
}

/* line 155, ../../frontend/css/src/base.scss */
#leftcolumn_inner {
  border: 1px solid #999;
  background: #fff;
  width: 193px;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

/* line 164, ../../frontend/css/src/base.scss */
#leftcolumn_inner2 {
  background: url(../images/nav-bg-strong.gif) repeat-y left top;
}

/* line 168, ../../frontend/css/src/base.scss */
#topsection {
  background: #45525a;
  background: -moz-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c6a70), color-stop(100%, #3f494d));
  background: -webkit-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -o-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -ms-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c6a70', endColorstr='#3f494d',GradientType=0 );
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 2998;
}

/* line 184, ../../frontend/css/src/base.scss */
.ie7 #topsection {
  position: static;
}

/* line 188, ../../frontend/css/src/base.scss */
.header-right {
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  margin-left: 223px;
  background: url(../images/head-divide.png) no-repeat left center;
}

/* @group Block */
/* line 198, ../../frontend/css/src/base.scss */
.block {
  padding: 1px 0 0 !important;
  border: 1px solid #aaa;
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px #ccc;
  -moz-box-shadow: 0px 0px 3px #ccc;
  box-shadow: 0px 0px 3px #ccc;
  position: relative;
}

/* line 209, ../../frontend/css/src/base.scss */
.block .blockcontent,
.blockcontent {
  padding: 15px 20px;
}

/* line 211, ../../frontend/css/src/base.scss */
.header {
  font-size: 1.333em;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  padding: 8px 8px 8px 15px;
  line-height: 1.8;
}

/* line 219, ../../frontend/css/src/base.scss */
.header h1 {
  font-size: 1em;
}

/* line 223, ../../frontend/css/src/base.scss */
.block .header {
  border-bottom: 1px solid #cdcdcd;
  background: #efefef url(../images/block-header-bg.gif) repeat-x left bottom;
  position: relative;
}

/* line 228, ../../frontend/css/src/base.scss */
.header.tabbed {
  background: #efeded;
  padding-left: 16px;
  padding-bottom: 8px;
  position: relative;
}

/* line 234, ../../frontend/css/src/base.scss */
.header .status {
  font-size: .666em;
}

/* line 236, ../../frontend/css/src/base.scss */
.flex50 {
  width: 49%;
}

/* line 238, ../../frontend/css/src/base.scss */
.block-left {
  width: 70%;
  margin-right: 2%;
  float: left;
}

/* line 243, ../../frontend/css/src/base.scss */
.block-sidebar {
  width: 28%;
  float: left;
}

/* line 247, ../../frontend/css/src/base.scss */
.block-sidebar-fixed {
  position: fixed;
}

/* line 252, ../../frontend/css/src/base.scss */
#blockvar-wrap,
.blockvar-wrap {
  margin-right: 305px;
}

/* line 254, ../../frontend/css/src/base.scss */
.blockvar {
  width: 100%;
}

/* line 257, ../../frontend/css/src/base.scss */
.block300,
.blockvar-sidebar {
  width: 280px;
  position: relative;
  margin-right: -320px;
  clear: right;
  padding-left: 20px;
}

/* line 264, ../../frontend/css/src/base.scss */
.blockvar-sidebar.blockvar-sidebar-fixed {
  position: fixed;
  right: 20px;
  top: 77px;
  margin-right: 0;
}

/* line 271, ../../frontend/css/src/base.scss */
.block300 .block,
.blockvar-sidebar .block {
  width: 100%;
}

/* line 273, ../../frontend/css/src/base.scss */
.block-minheight {
  min-height: 440px;
  height: auto !important;
  height: 440px;
}

/* line 278, ../../frontend/css/src/base.scss */
.block-minheight .blockcontent {
  padding: 10px 20px 70px !important;
}

/* line 280, ../../frontend/css/src/base.scss */
.tab-interface .min-height {
  min-height: 400px;
}

/* @end */
/* @group Menu */
/* line 290, ../../frontend/css/src/base.scss */
.menu_heading {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 10px;
  background: url(../images/nav-title-bg.png) repeat 0 0;
  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #f6f6f6;
  text-decoration: none;
}

/* line 301, ../../frontend/css/src/base.scss */
.icon_close {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 307, ../../frontend/css/src/base.scss */
.menu_heading.first {
  /*  -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;*/
}

/* line 313, ../../frontend/css/src/base.scss */
.menu_heading:hover {
  background: url(../images/nav-title-bg-hover.png) repeat 0 0;
  cursor: pointer;
  color: #000;
}

/* line 320, ../../frontend/css/src/base.scss */
.menu-items {
  line-height: 24px;
  list-style-type: none;
  padding: 6px 0;
  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #f6f6f6;
}

/* line 328, ../../frontend/css/src/base.scss */
.menu-items.bottom {
  margin-bottom: 0;
  border-bottom: none;
}

/* line 333, ../../frontend/css/src/base.scss */
.menu-items li {
  margin: 0;
  padding: 0;
}

/* line 338, ../../frontend/css/src/base.scss */
.menu-items li a {
  background: transparent;
  color: #444;
  display: block;
  padding: 1px 6px;
  margin: 0 6px;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid transparent;
  /*  border-radius:5px;
      -moz-border-radius: 5px;
      -webkit-border-radius:5px;*/
}

/* line 352, ../../frontend/css/src/base.scss */
.menu-items li a:hover {
  color: #000;
  background-color: #ccc;
  border: 1px solid transparent;
}

/* line 358, ../../frontend/css/src/base.scss */
.menu-items li a:active {
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

/* line 365, ../../frontend/css/src/base.scss */
.menu-items li a:active {
  background-position: 0 -24px;
}

/* line 370, ../../frontend/css/src/base.scss */
.menu-items li a.current,
.menu-items li a.current:hover {
  background: #cccccc url("../images/menu-items_arrow.gif") no-repeat 0 9px;
}

/* line 374, ../../frontend/css/src/base.scss */
.menu-items li a.disabled {
  color: #999;
}

/* line 378, ../../frontend/css/src/base.scss */
.menu-items li a.disabled:hover {
  background: transparent;
  cursor: default;
}

/* line 384, ../../frontend/css/src/base.scss */
.menu_heading {
  padding: 6px 5px 3px 28px;
  position: relative;
}

/* line 389, ../../frontend/css/src/base.scss */
.menu_heading span {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  left: 12px;
}

/* line 398, ../../frontend/css/src/base.scss */
.werkvoorraad span {
  background: url(../images/icon-menu-werkvoorraad.png) no-repeat 3px center;
}

/* line 400, ../../frontend/css/src/base.scss */
.zoeken span {
  background: url(../images/icon-menu-magnifier.png) no-repeat 3px center;
}

/* line 402, ../../frontend/css/src/base.scss */
.beheer span {
  background: url(../images/icon-menu-beheer.png) no-repeat 3px center;
}

/* line 405, ../../frontend/css/src/base.scss */
.menu-responsive .menu-title {
  padding: 0;
}

/* line 409, ../../frontend/css/src/base.scss */
.menu-responsive li {
  list-style: none;
}

/* line 413, ../../frontend/css/src/base.scss */
.menu-responsive .menu_heading {
  display: block;
  padding: 12px 5px 12px 40px;
  background-position: 0px center;
}

/* @end */
/* @end */
/* @group Header */
/* @group Spotenlighter */
/* line 437, ../../frontend/css/src/base.scss */
.spotenlighter {
  z-index: 1;
  position: relative;
}

/* line 442, ../../frontend/css/src/base.scss */
.spotenlighter .spotenlighter-input {
  padding: 8px 0 9px 0;
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -305px;
  text-align: center;
}

/* line 451, ../../frontend/css/src/base.scss */
.spotenlighter .ui-autocomplete-input {
  background: rgba(0, 0, 0, 0.2) url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  height: auto;
  padding: 6px 8px;
  width: 200px;
  -webkit-transition: width 100ms ease-in;
  -moz-transition: width 100ms ease-in;
  -o-transition: width 100ms ease-in;
  transition: width 100ms ease-in;
}

/* line 466, ../../frontend/css/src/base.scss */
.no-rgba .spotenlighter .ui-autocomplete-input {
  background: #3f484c url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
  border: 1px solid #252b2e !important;
  box-shadow: 0 1px 0 #697275, 0 1px 1px #3e494d inset;
  color: #8b9193;
}

/* line 473, ../../frontend/css/src/base.scss */
.no-boxshadow .spotenlighter .spotenlighter-input-wrap {
  border-bottom: 1px solid #697275;
  width: 218px;
}

/* line 478, ../../frontend/css/src/base.scss */
.ie8 .spotenlighter .spotenlighter-input-wrap {
  height: 32px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

/* line 487, ../../frontend/css/src/base.scss */
.ie8 .spotenlighter .focus.spotenlighter-input-wrap,
.ie8 .spotenlighter .spotenlighter-input-active .spotenlighter-input-wrap {
  margin-left: -258px;
}

/* line 491, ../../frontend/css/src/base.scss */
.ie8 .spotenlighter .spotenlighter-input {
  height: 39px;
}

/* line 496, ../../frontend/css/src/base.scss */
.ie8 .spotenlighter-input-wrap.focus,
.ie8 .spotenlighter .spotenlighter-input-active .spotenlighter-input-wrap {
  width: 516px;
}

/* line 500, ../../frontend/css/src/base.scss */
.no-boxshadow .spotenlighter .focus .spotenlighter-input-wrap {
  width: 516px;
}

/* line 504, ../../frontend/css/src/base.scss */
.oldie .spotenlighter .ui-autocomplete-input {
  display: block;
}

/* line 509, ../../frontend/css/src/base.scss */
.spotenlighter .ui-autocomplete-input:focus,
.spotenlighter .focus .ui-autocomplete-input {
  border: 1px solid #3F494D !important;
  width: 500px;
  box-shadow: none !important;
  background: white url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
  color: #333;
}

/* line 517, ../../frontend/css/src/base.scss */
.spotenlighter .ui-autocomplete-input:hover {
  border-color: #000 !important;
}

/* line 522, ../../frontend/css/src/base.scss */
.spotenlighter .spotenlighter-input-active .ui-autocomplete-input,
.spotenlighter .spotenlighter-input-active .ui-autocomplete-input:hover {
  border-color: #393f41 !important;
  background: #fff;
  color: #000;
  width: 500px;
}

/* line 529, ../../frontend/css/src/base.scss */
.spotenlighter .spotenlighter-input-active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 3px rgba(0, 0, 0, 0.7);
  background: #8b9e9d;
  background: -moz-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8b9e9d), color-stop(100%, #485556));
  background: -webkit-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: -o-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: -ms-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: linear-gradient(top, #8b9e9d 0%, #485556 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b9e9d', endColorstr='#485556',GradientType=0 );
}

/* line 541, ../../frontend/css/src/base.scss */
.no-rgba .spotenlighter-input-active {
  box-shadow: inset 0 1px 0 #bddbf3;
}

/* line 545, ../../frontend/css/src/base.scss */
.no-boxshadow .spotenlighter-input-active {
  border-top: 1px solid #bddbf3;
}

/* line 549, ../../frontend/css/src/base.scss */
.betrokkene .adres, .betrokkene .burgerservicenummer {
  font-size: smaller;
  color: gray;
}

/* line 554, ../../frontend/css/src/base.scss */
.ui-autocomplete-spotenlighter-betrokkene {
  position: fixed;
}

/* line 558, ../../frontend/css/src/base.scss */
.ui-autocomplete-spotenlighter .spotenlighter-results-category {
  display: block;
  width: 140px;
  text-align: right;
  color: #bbb;
  font-weight: bold;
  position: absolute;
  line-height: 1.9;
  z-index: 1;
  padding-right: 9px;
}

/* line 572, ../../frontend/css/src/base.scss */
.ui-menu .ui-menu-item a small {
  color: #bbb;
  font-size: 0.846em;
  padding-bottom: 0.2em;
  display: block;
  line-height: 1.5;
}

/* line 580, ../../frontend/css/src/base.scss */
.ui-menu .ui-menu-item a .betrokkene small {
  color: #888;
}

/* line 584, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter {
  background: url(../images/nieuwe_zaak_starten_bg.gif) repeat-y -200px 0 white;
  max-height: 400px;
  border-top: none;
  z-index: 4 !important;
  position: fixed;
  top: 50px !important;
}

/* line 593, ../../frontend/css/src/base.scss */
.ie7 .ui-menu.ui-autocomplete-spotenlighter {
  position: absolute;
}

/* line 598, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

/* line 604, ../../frontend/css/src/base.scss */
.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
  background: #5C6A70;
}

/* line 608, ../../frontend/css/src/base.scss */
.ui-autocomplete-spotenlighter .extra_space {
  padding: 5px;
  height: 1px;
  display: block;
  float: left;
  clear: left;
}

/* line 616, ../../frontend/css/src/base.scss */
.ui-autocomplete span.naam {
  line-height: 1.4;
  display: block;
  font-weight: bold;
}

/* line 622, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category div {
  display: inline-block;
  float: right;
  border: 1px solid transparent;
  padding: 0 8px;
}

/* line 629, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category span {
  padding: 0 8px;
}

/* line 633, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div {
  color: #000;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #f7f7f7), color-stop(52%, #f2f2f2), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  border: 1px solid #888;
}

/* line 646, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div:active {
  background: #cecece;
  background: -moz-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cecece), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: linear-gradient(top, #cecece 0%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

/* line 658, ../../frontend/css/src/base.scss */
.spotenlighter-input .icon-cancel-search {
  display: none;
  width: 18px;
  height: 18px;
  background: url(../images/icon-cancel-search.png) no-repeat 0 0 !important;
  position: absolute;
  right: 55px;
  top: 50%;
  margin-top: -10px;
}

/* line 669, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item {
  position: relative;
}

/* line 673, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:hover {
  background-color: #aaa;
}

/* line 677, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:active {
  background-color: #222;
}

/* line 681, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user {
  display: none;
}

/* line 685, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .start-persistent-user {
  display: block;
}

/* line 689, ../../frontend/css/src/base.scss */
.ui-menu .ui-menu-item .actions-nav {
  display: none;
}

/* line 693, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .actions-nav {
  box-shadow: none;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -19px;
  display: none;
  border: 1px solid #444;
}

/* line 703, ../../frontend/css/src/base.scss */
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .actions-nav {
  display: block;
}

/* @end */
/* @group Header Menu */
/* line 711, ../../frontend/css/src/base.scss */
.header-menu {
  position: absolute;
  right: 15px;
  top: 6px;
  z-index: 1;
}

/* line 718, ../../frontend/css/src/base.scss */
.header-menu .header-menu-item {
  width: 24px;
  height: 22px;
  display: block;
  text-indent: -9999px;
  float: left;
  padding: 7px 7px;
  border: 1px solid transparent;
  position: relative;
}

/* line 729, ../../frontend/css/src/base.scss */
.header-menu .header-menu-item .header-menu-item-icon {
  width: 24px;
  height: 22px;
}

/* line 735, ../../frontend/css/src/base.scss */
.header-menu .header-menu-item:hover,
.header-menu .hover .header-menu-item {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 742, ../../frontend/css/src/base.scss */
.oldie .header-menu .header-menu-item:hover,
.oldie .header-menu .hover .header-menu-item {
  background: #667075;
}

/* line 746, ../../frontend/css/src/base.scss */
.header-menu .header-menu-item:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 751, ../../frontend/css/src/base.scss */
.oldie .header-menu .header-menu-item:active {
  background: #424c51;
}

/* line 755, ../../frontend/css/src/base.scss */
.header-menu .header-menu-item-icon {
  background: url(../images/icons-header.png) no-repeat 0 0;
}

/* line 759, ../../frontend/css/src/base.scss */
.header-menu a.header-user .header-menu-item-icon {
  background-position: -24px 0;
}

/* line 763, ../../frontend/css/src/base.scss */
.header-menu a.header-messages .header-menu-item-icon {
  background-position: -72px 0;
}

/* line 767, ../../frontend/css/src/base.scss */
.header-menu a.header-messages .header-menu-item-icon.dropped {
  background-position: -96px 0;
}

/* line 771, ../../frontend/css/src/base.scss */
.header-menu a.header-user.dropped {
  border-bottom: none;
  position: relative;
  z-index: 2;
}

/* line 778, ../../frontend/css/src/base.scss */
.header-menu .header-menu-item.dropped:hover,
.header-menu .hover .header-menu-item.dropped {
  background: none;
  box-shadow: none;
  border: 1px solid transparent;
}

/* line 784, ../../frontend/css/src/base.scss */
.header-menu a.header-user.dropped span {
  background-position: -48px 0;
}

/* line 788, ../../frontend/css/src/base.scss */
.flyout-menu {
  position: fixed;
  z-index: 2999;
  top: 54px;
  right: 10px;
}

/* line 795, ../../frontend/css/src/base.scss */
.flyout-menu-inner {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  color: #333;
}

/* line 802, ../../frontend/css/src/base.scss */
.no-rgba .flyout-menu-inner {
  border: 1px solid #aaa;
  margin-right: -1px;
  border-bottom-color: #999;
}

/* line 808, ../../frontend/css/src/base.scss */
.flyout-menu-nub {
  width: 21px;
  height: 10px;
  position: absolute;
  top: -9px;
  right: 10px;
  background: url(../images/icons-header.png) no-repeat -1px -28px;
}

/* line 817, ../../frontend/css/src/base.scss */
.flyout-menu-title {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding: 5px 10px;
}

/* line 823, ../../frontend/css/src/base.scss */
.messages-menu {
  width: 480px;
}

/* line 827, ../../frontend/css/src/base.scss */
.messages-menu .messages-list {
  height: 385px;
  overflow: auto;
}

/* line 832, ../../frontend/css/src/base.scss */
.messages-menu .message {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: block;
  text-decoration: none;
}

/* line 839, ../../frontend/css/src/base.scss */
.messages-menu .message:hover {
  background: #f2f2f2;
}

/* line 843, ../../frontend/css/src/base.scss */
.messages-menu .message strong {
  display: block;
}

/* line 847, ../../frontend/css/src/base.scss */
.user-menu {
  width: 152px;
}

/* line 851, ../../frontend/css/src/base.scss */
.user-menu-inner {
  width: 150px;
}

/* line 855, ../../frontend/css/src/base.scss */
.ie8 .user-menu {
  width: 151px;
}

/* line 859, ../../frontend/css/src/base.scss */
.user-menu a {
  font-size: 11px;
  color: #777;
  padding: 5px 7px 5px 29px;
  border-bottom: 1px solid #ddd;
  display: block;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

/* line 870, ../../frontend/css/src/base.scss */
.ie7 .user-menu a {
  height: 20px;
  line-height: 22px;
}

/* line 875, ../../frontend/css/src/base.scss */
.user-menu a:hover {
  background: #f5f5f5;
}

/* line 879, ../../frontend/css/src/base.scss */
.user-menu a.user-menu-item-user {
  border-radius: 2px 0 0 0;
}

/* line 883, ../../frontend/css/src/base.scss */
.user-menu a.user-menu-item-logout {
  border-radius: 0 0 2px 2px;
}

/* line 887, ../../frontend/css/src/base.scss */
.user-menu a span {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 9px;
  top: 50%;
  margin-top: -5.5px;
  background: url(../images/icons-user-menu.png) 0 0;
}

/* line 897, ../../frontend/css/src/base.scss */
.user-menu a.user-menu-item-last {
  border-bottom: none;
}

/* line 901, ../../frontend/css/src/base.scss */
.user-menu a.user-menu-item-logout span {
  background-position: -11px 0;
}

/* line 906, ../../frontend/css/src/base.scss */
.notification-count {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #de1b1b;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  line-height: 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-indent: 0;
}

/* @end */
/* @end */
/* @group Branding */
/* line 932, ../../frontend/css/src/base.scss */
.branding {
  text-indent: -9999px;
  width: 195px;
  height: 50px;
  float: left;
  margin-left: 18px;
}

/* line 940, ../../frontend/css/src/base.scss */
.branding a {
  display: block;
  width: 195px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 948, ../../frontend/css/src/base.scss */
.gemeente_bussum .branding a {
  background-image: url(../images/logos/logo-bussum-klein.png);
}

/* line 952, ../../frontend/css/src/base.scss */
.gemeente_baarn .branding a {
  background-image: url(../images/logos/logo-baarn-klein.png);
}

/* line 956, ../../frontend/css/src/base.scss */
.gemeente_debilt .branding a {
  background-image: url(../images/logos/logo-debilt-klein.png);
}

/* line 960, ../../frontend/css/src/base.scss */
.logo_tholen .branding a {
  background-image: url(../images/logos/logo-tholen.png);
}

/* line 964, ../../frontend/css/src/base.scss */
.gemeente_tholen .branding a {
  background-image: url(../images/logos/logo-tholen-klein.png);
}

/* line 968, ../../frontend/css/src/base.scss */
.gemeente_ede .branding a {
  background-image: url(../images/logos/logo-ede.png);
}

/* line 972, ../../frontend/css/src/base.scss */
.gemeente_test .branding a {
  background-image: url(../images/logos/logo-zaaksysteem.png);
  background-position: center 45%;
}

/* line 977, ../../frontend/css/src/base.scss */
.gemeente_vianen .branding a {
  background-image: url(../images/logos/logo-vianen.png);
}

/* line 981, ../../frontend/css/src/base.scss */
.gemeente_rci .branding a {
  background-image: url(../images/logos/logo-rci-klein.png);
}

/* line 985, ../../frontend/css/src/base.scss */
.gemeente_mintlab .branding a {
  background-image: url(../images/logos/logo-mintlab.png);
}

/* line 989, ../../frontend/css/src/base.scss */
.gemeente_groningenseaports .branding a {
  background-image: url(../images/logos/logo-seaports.png);
}

/* line 993, ../../frontend/css/src/base.scss */
.gemeente_caci .branding a {
  background-image: url(../images/logos/logo-caci.png);
}

/* @end */
/* @group Login */
/* line 1005, ../../frontend/css/src/base.scss */
#login .login-bg {
  background: url(../images/login-bg.png) no-repeat 0 0;
  width: 413px;
  height: 119px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -206px;
  margin-top: 47px;
}

/* line 1016, ../../frontend/css/src/base.scss */
#login .login_maincontainer {
  background: #edf3f6;
  width: 260px;
  height: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  margin-top: -130px;
  padding: 1px 0 0 0;
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* line 1032, ../../frontend/css/src/base.scss */
#login #maincontainer {
  height: 260px;
  border: none;
  background: #5c6a70;
  background: -moz-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c6a70), color-stop(100%, #3f494d));
  background: -webkit-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -o-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -ms-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c6a70', endColorstr='#3f494d',GradientType=0 );
  border-radius: 6px;
}

/* line 1046, ../../frontend/css/src/base.scss */
.ie9 #login .login_maincontainer {
  border-radius: 0;
}

/* line 1050, ../../frontend/css/src/base.scss */
#login #contentcolumn {
  margin-top: 0;
  float: none;
}

/* line 1055, ../../frontend/css/src/base.scss */
#login #loginwrap {
  width: 100%;
  margin: 0 auto;
}

/* line 1060, ../../frontend/css/src/base.scss */
#login #contentwrapper {
  margin: 0;
}

/* line 1061, ../../frontend/css/src/base.scss */
#login .block {
  background: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

/* line 1068, ../../frontend/css/src/base.scss */
#login .block .blockcontent {
  padding: 0 15px !important;
}

/* line 1070, ../../frontend/css/src/base.scss */
#login #topsection {
  height: 92px;
  box-shadow: none;
  position: static;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  background: none;
  filter: none;
}

/* line 1081, ../../frontend/css/src/base.scss */
.ie9 #login #topsection {
  filter: none;
}

/* line 1084, ../../frontend/css/src/base.scss */
#login #topsection .branding,
#login #topsection .branding a {
  width: 100%;
  margin: 0;
  height: 92px;
}

/* line 1089, ../../frontend/css/src/base.scss */
#login #topsection .branding a {
  width: 100%;
  margin: 0;
}

/* line 1093, ../../frontend/css/src/base.scss */
#login input.inloggen {
  margin: 10px auto 0;
}

/* line 1095, ../../frontend/css/src/base.scss */
#login .sysmessage {
  width: 230px;
  margin: 15px auto 0;
}

/* line 1100, ../../frontend/css/src/base.scss */
#login .sysmessage li {
  border-color: red;
  background: #fcd6d6;
  margin-bottom: 0;
}

/* line 1106, ../../frontend/css/src/base.scss */
#login #loginwrap .block {
  border: none;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
}

/* line 1114, ../../frontend/css/src/base.scss */
#login #loginwrap .block .header {
  display: none;
}

/* line 1115, ../../frontend/css/src/base.scss */
#login #loginwrap .block .blockcontent {
  padding: 15px;
}

/* line 1117, ../../frontend/css/src/base.scss */
#login .input_gebruiker {
  background: url(../images/icon-aanvrager-kleur.png) no-repeat 10px center white;
}

/* line 1121, ../../frontend/css/src/base.scss */
#login .input_ww {
  background: url(../images/icon-key.png) no-repeat 10px center white;
}

/* line 1125, ../../frontend/css/src/base.scss */
#login #contentwrapper {
  padding: 0 !important;
}

/* line 1129, ../../frontend/css/src/base.scss */
#login .button140 {
  width: 100%;
  background: #777d81;
  background: -moz-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777d81), color-stop(100%, #51595d));
  background: -webkit-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: -o-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: -ms-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: linear-gradient(top, #777d81 0%, #51595d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777d81', endColorstr='#51595d',GradientType=0 );
  box-shadow: inset 0 1px 0 #8d9295, 0 1px 1px rgba(0, 0, 0, 0.08);
  border: 1px solid #333b3d;
  padding: 15px 0;
  height: 42px !important;
}

/* line 1145, ../../frontend/css/src/base.scss */
#login .button140:hover {
  background: #7c8286;
  background: -moz-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c8286), color-stop(100%, #576065));
  background: -webkit-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: -o-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: -ms-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: linear-gradient(top, #7c8286 0%, #576065 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8286', endColorstr='#576065',GradientType=0 );
}

/* line 1156, ../../frontend/css/src/base.scss */
#login .button140:active {
  background: #3c4346;
  background: -moz-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c4346), color-stop(100%, #585d60));
  background: -webkit-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: -o-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: -ms-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: linear-gradient(top, #3c4346 0%, #585d60 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c4346', endColorstr='#585d60',GradientType=0 );
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
}

/** input wrapper */
/* line 1170, ../../frontend/css/src/base.scss */
.input-wrapper {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 0 12px;
  line-height: 18px;
  vertical-align: middle;
}

/* line 1182, ../../frontend/css/src/base.scss */
.input-wrapper input.text {
  z-index: 2;
  margin: 0;
  border: 0;
  background: transparent;
  *background: url(http://hunch.com/media/img/t.png);
  /* ie7 does weird stuff with transparent background, also please don't deep link to this image from your code */
  padding: 10px 10px 10px 35px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 14px;
  width: 185px;
}

/* line 1196, ../../frontend/css/src/base.scss */
.input-wrapper label {
  z-index: 1;
  position: absolute;
  height: 16px;
  padding: 10px 10px 10px 37px;
  font-size: 14px;
  line-height: 16px;
  color: #999;
  overflow: hidden;
}

/* line 1207, ../../frontend/css/src/base.scss */
.input-wrapper.focus label {
  filter: alpha(opacity=50);
  opacity: 0.4;
}

/* line 1212, ../../frontend/css/src/base.scss */
.input-wrapper.filled label {
  display: none;
}

/* @end */
/* @group Auth Widget */
/* line 1221, ../../frontend/css/src/base.scss */
.widget-auth label {
  width: 70px;
  display: inline-block;
}

/* line 1226, ../../frontend/css/src/base.scss */
.auth_edit_box {
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  padding: 4px 6px 4px 36px;
  margin-right: 6px;
  /*background:#f6f6f6;*/
  position: relative;
  display: inline-block;
}

/* line 1237, ../../frontend/css/src/base.scss */
.auth_edit_box input[type=checkbox] {
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -5px;
}

/* line 1244, ../../frontend/css/src/base.scss */
.auth_edit_box .widget-auth > div {
  float: left;
}

/* line 1248, ../../frontend/css/src/base.scss */
.auth_edit_box .widget-auth > div:first-child {
  margin-right: 5px;
}

/* line 1252, ../../frontend/css/src/base.scss */
.auth_edit_box .widget-auth > div > label {
  width: auto;
}

/* @end */
/* @group Sysmessage */
/* line 1261, ../../frontend/css/src/base.scss */
.sysmessage {
  position: relative;
}

/* line 1265, ../../frontend/css/src/base.scss */
.sysmessage-inner {
  position: absolute;
  left: 0;
  top: -28px;
  text-align: center;
  width: 100%;
  z-index: 2999;
  height: 14px;
}

/* line 1275, ../../frontend/css/src/base.scss */
.sysmessage .sysmessage-content {
  background: #f9fccb;
  padding: 7px 35px 7px 13px;
  border: 1px solid #c9c441;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-radius: 3px;
  position: relative;
}

/* line 1287, ../../frontend/css/src/base.scss */
.sysmessage ul li {
  padding: 2px 0;
  margin-left: 15px;
  font-weight: normal;
  text-align: left;
}

/* line 1294, ../../frontend/css/src/base.scss */
.sysmessage ul li a {
  font-weight: bold;
}

/* line 1298, ../../frontend/css/src/base.scss */
.sysmessage .close {
  cursor: pointer;
  font-weight: normal;
  height: 16px;
  line-height: 1.1;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 11px;
  width: 16px;
  text-decoration: none;
  color: #999;
}

/* line 1312, ../../frontend/css/src/base.scss */
.sysmessage .close:hover {
  background: #E7EAA4;
  color: #000;
}

/* @end */
/* @group Dev/Test Blokjes */
/* line 1327, ../../frontend/css/src/base.scss */
.otap_warning {
  display: none;
  font-size: 10.5px;
  font-weight: bold;
  height: 16px;
  left: 235px;
  line-height: 1.4;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 18px;
  width: 24px;
  z-index: 2999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 1345, ../../frontend/css/src/base.scss */
.ie7 .otap_warning {
  position: absolute;
}

/* line 1349, ../../frontend/css/src/base.scss */
.otap_dev .otap_warning {
  color: #fff;
  background-color: red;
  display: none;
}

/* line 1355, ../../frontend/css/src/base.scss */
.otap_test .otap_warning {
  background-color: yellow;
  display: block;
}

/* @end */
/* @group No Padding  */
/* line 1370, ../../frontend/css/src/base.scss */
.ui-accordion-table-bg {
  background: #fff;
  padding-top: 0px;
  padding-bottom: 20px;
}

/* line 1375, ../../frontend/css/src/base.scss */
.ie8 .ui-accordion-table-bg {
  padding: 10px 0;
}

/* line 1377, ../../frontend/css/src/base.scss */
.ui-dialog .ui-accordion-table-bg {
  background: none !important;
}

/* line 1379, ../../frontend/css/src/base.scss */
.no-padding .ui-accordion-content table {
  padding: 0 20px !important;
}

/* line 1381, ../../frontend/css/src/base.scss */
.no-padding .blockcontent .ui-accordion-content table {
  padding: 0 20px;
}

/* line 1383, ../../frontend/css/src/base.scss */
.no-padding .ui-accordion-content table.ezra_table_table {
  padding-left: 0 !important;
}

/* line 1385, ../../frontend/css/src/base.scss */
.no-padding .ui-accordion-content table.ezra_table {
  padding-left: 0 !important;
}

/* line 1387, ../../frontend/css/src/base.scss */
.no-padding .ezramap_container {
  padding: 10px 20px;
}

/* line 1391, ../../frontend/css/src/base.scss */
.no-padding.ui-tabs-panel,
.no-padding .blockcontent,
.no-padding.ui-dialog-content {
  padding: 0 !important;
}

/* line 1394, ../../frontend/css/src/base.scss */
.no-padding .ui-accordion-header,
.no-padding .ui-accordion-content {
  margin: 0 !important;
}

/* line 1396, ../../frontend/css/src/base.scss */
.no-padding .blockcontent {
  padding: 0px !important;
}

/* line 1398, ../../frontend/css/src/base.scss */
.ui-accordion-table-bg.geen-resultaten {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  padding-left: 20px;
}

/* @end */
/* @group SORT */
/* line 1408, ../../frontend/css/src/base.scss */
.webformcontent {
  position: relative;
}

/* line 1412, ../../frontend/css/src/base.scss */
.betrokkene_search_results_wrapper {
  position: relative;
}

/* line 1416, ../../frontend/css/src/base.scss */
#miframe {
  display: none;
}

/* line 1419, ../../frontend/css/src/base.scss */
#next_status_subzaak .description {
  margin-bottom: 0px;
}

/* line 1425, ../../frontend/css/src/base.scss */
.filter_tab {
  height: 20px;
}

/* @end */
/* @group Legacy */
/* @group Contact */
/* 
#voegtoe span{background:url("../images/icon-voegtoe.png") no-repeat scroll 0 center;}
#bewerken span{background:url(../images/icon-edit.png) no-repeat 0 0;}
#verwijderen span{background:url(../images/icon-delete.png) no-repeat 0 0;}
#opslaan span{background:url(../images/icon-save.png) no-repeat 0 0;}
input#opslaan{background:url(../images/icon-save.png) no-repeat 6px center,url(../images/knop-bg.gif) repeat-x 50% 50%;}
.element.width-auto{padding-right:10px;margin-left:3px;margin-bottom:0;}
.element.submit{background: url(../images/icon-save.png) no-repeat 10px center,url("../images/element-bg.gif") repeat-x scroll 0 1px;padding-top:3px;padding-bottom:3px;}
.element.submit:hover{cursor: pointer;}

.contactmomenten{table-layout:fixed}
.contactmomenten tr.hover td{background: #f4f4f4;}
.contactmomenten td{vertical-align: top;}
.contactmomenten td div{white-space:nowrap;overflow:hidden;}
.contactmomenten td div.show-text{white-space: normal;overflow: visible;}
.contactmomenten td a.toggle{background:url(../images/toggle.gif) no-repeat 0 0;width:8px;height:8px;display: block;text-indent: -9999px;margin-left: 5px;margin-top: 5px;}
.contactmomenten td a.toggle.active{background-position: 0 -8px;}
*/
/* @end */
/* @end */
/* @end */
/* line 1462, ../../frontend/css/src/base.scss */
.spot-enlighter-container {
  /*visibility: hidden;*/
}

/* line 1466, ../../frontend/css/src/base.scss */
.spot-enlighter-visible {
  visibility: visible;
}

/* line 1470, ../../frontend/css/src/base.scss */
.spot-enlighter-menu {
  position: fixed;
  z-index: 4000;
  background: white;
  padding: 2px 0;
  list-style-type: none;
  border: 1px solid #aaa;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  min-width: 200px;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
}

/* line 1486, ../../frontend/css/src/base.scss */
.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="bottom"] {
  margin-top: 2px;
}

/* line 1490, ../../frontend/css/src/base.scss */
.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="top"] {
  margin-bottom: 2px;
}

/* line 1494, ../../frontend/css/src/base.scss */
.spot-enlighter-menu > li {
  background-color: white;
  padding: 6px 8px;
  cursor: pointer;
  line-height: 1.3;
}

/* line 1502, ../../frontend/css/src/base.scss */
.spot-enlighter-menu > li:hover,
.spot-enlighter-menu > li.spot-enlighter-entry-highlight {
  background-color: #eee;
}

/* line 1506, ../../frontend/css/src/base.scss */
.spot-enlighter-wrapper {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1515, ../../frontend/css/src/base.scss */
.spot-enlighter-wrapper > input {
  width: 100%;
}

/* line 1519, ../../frontend/css/src/base.scss */
.spot-enlighter-tag-wrapper {
  height: 100%;
  padding: 3px;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1532, ../../frontend/css/src/base.scss */
.spot-enlighter-tag {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 20px;
  background-color: #eee;
  border-radius: 2px;
  padding: 0 4px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1549, ../../frontend/css/src/base.scss */
.spot-enlighter-menu > li > div {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 1556, ../../frontend/css/src/base.scss */
input[type="text"].ng-dirty.ng-invalid {
  -webkit-box-shadow: #fc4848 0 0 4px 0;
  -moz-box-shadow: #fc4848 0 0 4px 0;
  box-shadow: #fc4848 0 0 4px 0;
  border-color: red;
}

/* line 1563, ../../frontend/css/src/base.scss */
input[type="text"].ng-dirty.ng-invalid:focus {
  -webkit-box-shadow: #14a4fe 0 0 4px 0;
  -moz-box-shadow: #14a4fe 0 0 4px 0;
  box-shadow: #14a4fe 0 0 4px 0;
  border-color: #14a4fe;
}

/* line 1570, ../../frontend/css/src/base.scss */
[data-zs-spot-enlighter]::-ms-clear {
  display: none;
}

/* line 1574, ../../frontend/css/src/base.scss */
.system-message-component {
  position: fixed;
  z-index: 4000;
  top: 40px;
  left: 0;
  text-align: center;
  width: 100%;
  height: 10px;
}

/* line 1584, ../../frontend/css/src/base.scss */
.system-message-component button {
  border: none;
  background: none;
}

/* line 1589, ../../frontend/css/src/base.scss */
.system-message-component button.close {
  cursor: pointer;
  font-weight: normal;
  height: 16px;
  line-height: 1.1;
  position: absolute;
  right: 6px;
  text-align: center;
  top: 7px;
  width: 16px;
  text-decoration: none;
  color: #444;
}

/* line 1603, ../../frontend/css/src/base.scss */
.system-message-current {
  display: inline-block;
  line-height: 1.3em;
  padding: 7px 35px 7px 13px;
  border: 1px solid #c9c441;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 13px;
  position: relative;
  margin: 0 5px 5px;
}

/* line 1616, ../../frontend/css/src/base.scss */
.system-message-info {
  background: #f9fccb;
  border-color: green;
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 1622, ../../frontend/css/src/base.scss */
.system-message-error {
  background: #fcc3c3;
  border-color: red;
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 1628, ../../frontend/css/src/base.scss */
[data-zs-sortable]:hover {
  cursor: move;
}

/* line 1632, ../../frontend/css/src/base.scss */
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  opacity: 0;
  visibility: hidden;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  z-index: 8000;
}

/* line 1650, ../../frontend/css/src/base.scss */
.spinner > div {
  width: 32px;
  height: 32px;
  background: url(/tpl/zaak_v1/nl_NL/images/spinner-global.gif) no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

/* line 1661, ../../frontend/css/src/base.scss */
.spinner.ui-blocked {
  visibility: visible;
  opacity: 0.75;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.25s ease 0.5s;
  -moz-transition: opacity 0.25s ease 0.5s;
  -ms-transition: opacity 0.25s ease 0.5s;
  -o-transition: opacity 0.25s ease 0.5s;
  transition: opacity 0.25s ease 0.5s;
}

/* line 1672, ../../frontend/css/src/base.scss */
.ie8 .spinner.ui-blocked {
  background: url(../images/spinner-ie-bg.png) repeat transparent;
}
