[% # print a css class corresponding to a given mimetype -%]
[% RETURN UNLESS filename -%]
[% filename_formatted = filename %]
[%

IF(filename.length > 43) %]
[%
    filename_formatted = filename.substr(0, 26) _ '...' _ filename.substr(-17,17);
%]
[% END %]

[% 	prefix = pip ? '/pip' : '' %]
[%
    download_url = prefix _ (zaak ?
		'/zaak/' _ zaak.id _ '/document/' _ file_id _ '/download' :
		'/form/upload/download?filestore_id=' _ filestore_id)
%]


[% IF zaak && !pip %]
	<div class="filename_formatted" data-zs-popup="'/partials/case/attribute/docs/pdf-reader-popup.html'" data-ng-controller="nl.mintlab.docs.FileAttributeController" data-ng-init="downloadUrl='[% download_url %]';modalTitle='[% filename_formatted %]';flexpaperUrl='/zaak/[% zaak.id %]/flexpaper/[% file_id %]'">
		[% IF filestore_id || file_id %]
			<span class="filename_anchor" rel="[% mimetype %]" data-ng-click="onClickDoc($event)">[% filename_formatted %]</span>
		[% ELSE %]
			Fout: bestand niet opgeslagen
		[% END %]
	</div>
[% ELSE %]
	<div class="filename_formatted">
		[% IF filestore_id || file_id %]
			<a rel="[% mimetype %]" href="[% download_url %]">[% filename_formatted %]</a>
		[% ELSE %]
			Fout: bestand niet opgeslagen
		[% END %]
	</div>
[% END %]